<template lang="pug">
  .b-front-advantages
    .b-front-advantages__inner
      h2.b-front-advantages__title(
        data-aos="fade-up"
        data-aos-duration="300"
        data-aos-offset="100"
        data-aos-anchor-placement="top-bottom"
      )
        | {{content.title}}
      .b-front-advantages__items
        .b-front-advantages__item(
          v-if="Array.isArray(content.advantages)"
          v-for="(item, index) in content.advantages"
          :key="index"
          :data-aos="index !== 1 ? 'fade-up' : ''"
          :data-aos-duration="index !== 1 ? 1400 : ''"
          data-aos-offset="100"
        )
          .b-front-advantages__item-icon(
            :style="{backgroundImage: `url(https://api.vehicleapprovalcentre.com/storage/app/media${item.icon})`}"
          )
          .b-front-advantages__item-title {{item.title}}
          .b-front-advantages__item-text {{item.text}}
</template>

<script>
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'FrontAdvantages',
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.advantages', {}),
      }),
    },
  };
</script>

<style lang="scss">
  .b-front-advantages {
    @extend %layout-padding-x;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 55px;
  }

  .b-front-advantages__inner {
  }

  .b-front-advantages__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(30);

    @include for-width(+tablet) {
      margin-bottom: rem(60);
    }

    @include for-width(-desktop) {
      text-align: center;
    }
  }

  .b-front-advantages__items {
    @include for-width(tablet, desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include for-width(+desktop) {
      display: flex;
      margin: 0 3vw;
    }

    @include for-width(+desktop-lg) {
      justify-content: space-around;
      margin: 0 rem(40);
    }
  }

  .b-front-advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &:nth-child(2) {
      .b-front-advantages__item-text {
        word-break: break-all;
      }
    }

    @include for-width(-tablet) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }

    @include for-width(+tablet) {
      overflow: visible;
      padding-top: rem(138);
      padding-bottom: rem(64);
    }

    @include for-width(tablet, desktop) {
      max-width: rem(480);
      padding-right: rem(80);
      padding-left: rem(80);

      &:not(:last-child) {
        margin-bottom: rem(47);
      }
    }

    @include for-width(+desktop) {
      flex: 0 0 calc(100% / 3);
      padding-top: vw(138);
      padding-bottom: vw(64);
    }

    @include for-width(+desktop-lg) {
      flex: 0 0 rem(360);
      padding-top: rem(138);
      padding-bottom: rem(64);
    }

    &::after {
      @include for-width(+tablet) {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 0;
        padding-bottom: calc(480 / 430 * 100%);
        background: url(/images/front-advantage-bg.svg) center / contain no-repeat;
        z-index: -1;
        filter: drop-shadow(0 rem(20) rem(10) rgba(0, 0, 0, 0.1));
        transition: all 0.3s;
      }

      @include for-width(+desktop) {
        //width: calc(100vw / 3);
        width: vw(520);
        filter: drop-shadow(0 vw(20) vw(10) rgba(0, 0, 0, 0.1));
      }

      @include for-width(+desktop-lg) {
        width: rem(520);
        filter: drop-shadow(0 rem(20) rem(10) rgba(0, 0, 0, 0.1));
      }
    }

    &:hover {
      &::after {
        @include for-width(+tablet) {
          filter: drop-shadow(0 rem(35) rem(20) rgba(0, 0, 0, 0.1));
        }

        @include for-width(+desktop) {
          filter: drop-shadow(0 vw(35) vw(20) rgba(0, 0, 0, 0.1));
        }

        @include for-width(+desktop-lg) {
          filter: drop-shadow(0 rem(35) rem(20) rgba(0, 0, 0, 0.1));
        }
      }
    }

    @include for-width(+desktop) {
      &:nth-child(even) {
        padding-top: rem(33);

        &::after {
          background-image: url(/images/front-advantage-bg-r.svg);
        }

        .b-front-advantages__item-text {
          max-width: vw(204);

          @include for-width(+desktop-lg) {
            max-width: rem(204);
          }
        }
      }
    }
  }

  .b-front-advantages__item-icon {
    width: rem(120);
    height: rem(70);
    background: center no-repeat;

    @include for-width(+desktop) {
      width: vw(120);
      height: vw(70);
    }

    @include for-width(+desktop-lg) {
      width: rem(120);
      height: rem(70);
    }
  }

  .b-front-advantages__item-title {
    @extend %text-semibold;
    color: $content;
    margin-top: rem(6);
    margin-bottom: rem(10);

    @include for-width(-tablet) {
      margin-bottom: rem(5);
    }

    @include for-width(desktop, desktop-lg) {
      font-size: vw(20);
      line-height: vw(25);
      margin-top: vw(6);
      margin-bottom: vw(11);
    }

    @include for-width(+desktop-lg) {
      margin-top: rem(6);
      margin-bottom: rem(10);
    }
  }

  .b-front-advantages__item-text {
    @extend %text-regular-16;
    color: $text;

    @include for-width(desktop, desktop-lg) {
      font-size: vw(16);
      line-height: vw(29);
      max-width: vw(320);
    }

    @include for-width(+desktop-lg) {
      max-width: rem(320);
    }
  }
</style>
