<template lang="pug">
  .b-front-cta
    .b-front-cta__inner
      .b-front-cta__a
        h2.b-front-cta__title.-aos-front-cta(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          | {{content.title}}
        .b-front-cta__text(
          data-aos="fade-up"
          data-aos-duration="350"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          | {{content.text}}
      .b-front-cta__b
        .b-panels
          .b-panel(
            v-for="(item, index) in content.stats"
            :key="index"
            data-aos="fade-up"
            :data-aos-duration="index === 0 ? 700 : 1400"
            data-aos-offset="100"
            data-aos-anchor-placement="top-bottom"
            data-aos-anchor=".-aos-front-cta"
          )
            .b-panel__title(
              v-html="item.title"
            )
            .b-panel__text(
              v-html="item.text"
            )
      .b-front-cta__c
        .b-front-cta__subtitle
          | {{content.subtitle}}
        .b-front-cta__button
          nuxt-link.c-solid-button(to="/request-car")
            | Request a car
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'FrontCtaStats',
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.cta_stats', {}),
      }),
    },
  }
</script>

<style lang="scss">
  .b-front-cta__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "a"
      "b"
      "c";
    grid-gap: rem(20) 0;

    @include for-width(+tablet) {
      grid-gap: rem(40) 0;
    }

    @include for-width(+desktop) {
      grid-template-columns: auto 50%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "a b"
        "c b";
      grid-gap: rem(40) rem(50);
    }
  }

  .b-front-cta__a {
    grid-area: a;
  }

  .b-front-cta__b {
    grid-area: b;
  }

  .b-front-cta__c {
    grid-area: c;
  }

  .b-front-cta__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(10);

    @include for-width(+tablet) {
      margin-bottom: rem(20);
    }
  }

  .b-front-cta__subtitle {
    @extend %h4-title;
    color: $content;
    margin-bottom: 0;
    max-width: rem(300);
  }

  .b-front-cta__text {
    @extend %text-regular-16;
    color: $text;
  }

  .b-front-cta__button {
    display: inline-block;
    margin-top: rem(30);

    @include for-width(-tablet) {
      width: 100%;
    }

    @include for-width(+tablet) {
      margin-top: rem(20);
    }

    @include for-width(+desktop) {
      margin-top: rem(40);
    }
  }
</style>
