<template lang="pug">
  .b-front-how(
    ref="section"
  )
    .b-front-how__inner(
      ref="center"
    )
      h2.b-front-how__title(
        v-html="content.title"
      )
      .b-front-how__subtitle(
        v-html="content.subtitle"
      )
      .b-front-how__text(
        v-html="content.text"
      )
    div.b-front-how__image._b
      img._b(
        ref="b"
        :src="'/images/front-how-b.jpg'"
      )
    div.b-front-how__image._a
      img._a(
        ref="a"
        :src="'/images/front-how-a.jpg'"
      )
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'FrontHow',
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.how_it_working', {}),
      }),
    },
    data: () => ({
      sticky: false,
    }),
    mounted() {

      let threshold = [];
      for (let i = 0; i <= 1.0; i += 0.01) {
        threshold.push(i);
      }

      let options = {
        // root: this.$refs.root,
        threshold,
      };

      if(process.client) {
        document.addEventListener('scroll', this.handleScroll, false)
      }
    },
    methods: {
      handleScroll() {
        const { a, b } = this.$refs;
        const width = window.innerWidth;
        const scrollPosition = window.scrollY;

        const transfer = width > 768 ? scrollPosition / 4 : width > 310 ? scrollPosition / 15 : 0;
        if(transfer < 400) {
          a.style.transform = `translateX(${transfer}px)`;
          b.style.transform = `translateX(${-transfer}px)`;
        }
      }
    },
    destroyed() {
      document.removeEventListener('scroll', this.handleScroll, false)
    }
  }
</script>

<style lang="scss">
  .b-front-how {
    //@extend %layout-padding-x;
    position: relative;
    min-height: calc(50vh - 80px);
    @include for-width(-tablet) {
      min-height: rem(300);
    }
    @include for-width(+tablet) {
      min-height: calc(100vh - 400px);
    }
    box-sizing: border-box;
    /*padding-bottom: rem(70);*/
    /*margin-bottom: rem(450);*/
  }

  .b-front-how__image {
    position: sticky;
    width: 100%;
    overflow: hidden;
    @include for-width(-tablet) {
      opacity: 0;
    }
    &._a {
      top: 35%;
      left: 0;
      margin-top: -44px;
      @include for-width(+tablet) {
        top: 25%;
        margin-top: -207px;
      }
      img {
        margin-left: -150px;
        width: 242px;
        height: 101px;
        @include for-width(+tablet) {
          width: auto;
          height: auto;
          margin-left: -300px;
        }
        @include for-width(+desktop) {
          margin-left: -350px;
          width: 500px;
        }
      }
    }
    &._b {
      right: 0;
      top: 30%;
      margin-top: -310px;
      display: flex;
      justify-content: flex-end;
      @include for-width(+tablet) {
        margin-top: -270px;
        top: 20%;
      }
      img {
        margin-right: -80px;
        padding-top: 7px;
        width: 206px;
        height: 105px;
        @include for-width(+tablet) {
          width: 410px;
          height: auto;
          max-height: 260px;
          margin-right: -300px;
        }
        @include for-width(+desktop) {
          margin-right: -350px;
          width: 500px;
        }
      }
    }

    img {
      position: sticky;
    }
  }

  .b-front-how__inner {
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    padding: rem(20);
    text-align: center;
    background: $white;
    box-shadow: 0 rem(20) rem(25) rgba(0, 0, 0, 0.1);
    border-radius: rem(5);
    z-index: 2;
    transform: translateX(-50%);
    //margin-bottom: rem(-365 + 88);
    @include for-width(+tablet) {
      max-width: rem(565);
      padding: rem(40);
      margin: 0;
      transform: translateX(-18%);
    }

    @include for-width(+desktop) {
      max-width: rem(605);
      padding: rem(60) rem(60) rem(64);
      transform: translateX(-50%);
    }
  }

  .b-front-how__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: 0;
  }

  .b-front-how__subtitle {
    @extend %h3-title;
    color: $accent;
    margin-bottom: rem(20);

    @include for-width(-tablet) {
      margin-top: rem(1);
      margin-bottom: rem(9);
      max-width: rem(200);
    }
  }

  .b-front-how__text {
    @extend %text-regular-16;
    color: $text;
  }
</style>
