<template lang="pug">
  .b-front-how-small(
    data-aos="_move-to-bottom-direction"
    data-aos-duration="600"
    data-aos-delay="100"
    data-aos-offset="0"
    data-aos-anchor-placement="top-center"
  )
    figure.b-front-how-small__bg._a(
      data-aos="_show-left-car"
      data-aos-duration="600"
      data-aos-offset="0"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-anchor=".-aos-front-how"
    )
      img(:src="'/images/front-how-a.png'")
    figure.b-front-how-small__bg._b(
      data-aos="_show-right-car"
      data-aos-duration="600"
      data-aos-offset="0"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-anchor=".-aos-front-how"
    )
      img(:src="'/images/front-how-b.png'")
    .b-front-how-small__inner.-aos-front-how
      .b-front-how-small__title(
        v-html="content.title"
      )
      .b-front-how-small__subtitle(
        v-html="content.subtitle"
      )
      .b-front-how-small__text(
        v-html="content.text"
      )
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'FrontHowSmall',
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.how_it_working', {}),
      }),
    },
  }
</script>

<style lang="scss">
  .b-front-how-small {
    @extend %layout-padding-x;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: rem(185);

    @include for-width(+tablet) {
      padding-bottom: rem(212);
    }

    @include for-width(+desktop) {
      padding-bottom: rem(70);
    }
  }

  .b-front-how-small__bg {
    position: absolute;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &._a {
      bottom: 0;
      left: rem(-59);
      width: rem(274);
      height: rem(114);

      @include for-width(+tablet) {
        bottom: rem(2);
        left: rem(-53);
        width: rem(396);
        height: rem(166);
      }

      @include for-width(+desktop) {
        bottom: rem(38);
        left: auto;
        right: calc(50% + #{vw(150)});
        width: rem(500);
        height: rem(210);
      }
    }

    &._b {
      right: rem(-68);
      bottom: rem(78);
      width: rem(259);
      height: rem(132);

      @include for-width(+tablet) {
        right: rem(-140);
        bottom: rem(104);
        width: rem(404);
        height: rem(206);
      }

      @include for-width(+desktop) {
        right: auto;
        left: calc(50% + #{vw(150)});
        bottom: rem(113);
        width: rem(500);
        height: rem(255);
      }
    }
  }

  .b-front-how-small__inner {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(320);
    padding: rem(20);
    text-align: center;
    background: $white;
    box-shadow: 0 rem(20) rem(25) rgba(0, 0, 0, 0.1);
    border-radius: rem(5);

    @include for-width(+tablet) {
      max-width: rem(565);
      padding: rem(40);
    }

    @include for-width(+desktop) {
      max-width: rem(605);
      padding: rem(60) rem(60) rem(64);
    }
  }

  .b-front-how-small__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: 0;
  }

  .b-front-how-small__subtitle {
    @extend %h3-title;
    color: $accent;
    margin-bottom: rem(20);

    @include for-width(-tablet) {
      margin-top: rem(1);
      margin-bottom: rem(9);
      max-width: rem(200);
    }
  }

  .b-front-how-small__text {
    @extend %text-regular-16;
    color: $text;
  }

  [data-aos="_move-to-bottom-direction"] {
    transition-property: all;
    &.aos-animate {
      margin-top: 20vh;
    }
  }

  [data-aos="_show-left-car"] {
    transform: translate(-40vw, #{rem(-20)});
    opacity: 0;
    transition-property: all;
    &.aos-animate {
      transform: translate(0);
      opacity: 1;
    }
  }

  [data-aos="_show-right-car"] {
    transform: translate(40vw, #{rem(-20)});
    opacity: 0;
    transition-property: all;
    &.aos-animate {
      transform: translate(0);
      opacity: 1;
    }
  }
</style>
