<template lang="pug">
  .b-front-inventory
    .b-front-inventory__inner
      h2.b-front-inventory__title.-aos-front-inventory-title
        | {{content.title}}
      .b-front-inventory__content
        .b-front-inventory__text
          | {{content.text}}
        .b-front-inventory__button
          nuxt-link.c-solid-button(
            to="/inventory"
          )
            | Inventory
      .b-front-inventory__bg
        figure.b-front-inventory-bg__item._b(
          data-aos="_show-left-car-b"
          data-aos-duration="300"
          data-aos-offset="200"
          data-aos-anchor-placement="top-bottom"
          data-aos-anchor=".-aos-front-inventory-title"
        )
          img(:src="'/images/front-inventory-bg-b.png'")
        figure.b-front-inventory-bg__item._a(
          data-aos="_show-left-car-a"
          data-aos-duration="300"
          data-aos-offset="200"
          data-aos-anchor-placement="top-bottom"
          data-aos-anchor=".-aos-front-inventory-title"
        )
          img(:src="'/images/front-inventory-bg-a.png'")
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'FrontInventory',
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.inventory', {}),
      }),
    },
  }
</script>

<style lang="scss">
  .b-front-inventory {
    min-height: rem(290);
  }

  .b-front-inventory__inner {
    @include for-width(+tablet) {
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-rows: auto rem(245);
      grid-template-areas:
        "title content"
        "bg    bg";
      grid-gap: rem(65) rem(60);
    }
    @include for-width(+desktop) {
      grid-template-rows: auto;
      grid-template-areas:
        "bg title"
        "bg content";
      grid-gap: rem(20) rem(100);
    }
  }

  .b-front-inventory__title {
    @extend %h2-title;
    color: $content;

    @include for-width(-tablet) {
      margin-bottom: rem(10);
    }

    @include for-width(+tablet) {
      grid-area: title;
    }
  }

  .b-front-inventory__content {
    @include for-width(-tablet) {
      display: flex;
      flex-direction: column;
    }

    @include for-width(+table) {
      grid-area: content;
    }
  }

  .b-front-inventory__bg {
    position: relative;

    @include for-width(-tablet) {
      height: rem(131);
      margin-top: rem(30);
    }

    @include for-width(+tablet) {
      grid-area: bg;
      flex: 0 0 50%;
    }
  }

  .b-front-inventory-bg__item {
    position: absolute;
    background: center / contain no-repeat;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &._a {
      bottom: 0;
      left: rem(0);
      width: rem(240);
      height: rem(115);

      @include for-width(+tablet) {
        bottom: rem(5);
        left: rem(0);
        width: rem(450);
        height: rem(214);
      }

      @include for-width(+desktop) {
        bottom: rem(-10);
        left: rem(0);
        width: rem(491);
        height: rem(234);
      }
    }

    &._b {
      right: rem(0);
      bottom: rem(40);
      width: rem(209);
      height: rem(92);

      @include for-width(+tablet) {
        right: rem(0);
        bottom: rem(78);
        width: rem(391);
        height: rem(171);
      }

      @include for-width(+desktop) {
        right: rem(-2);
        bottom: rem(70);
        width: rem(428);
        height: rem(187);
      }
    }
  }

  .b-front-inventory__text {
    @extend %text-regular-16;
    color: $text;

    @include for-width(tablet, desktop) {
      padding-top: rem(12);
    }
  }

  .b-front-inventory__button {
    display: inline-block;
    margin-top: rem(30);

    @include for-width(+tablet) {
      margin-top: rem(40);
    }
  }

  [data-aos="_show-left-car-a"] {
    transform: translate(-50vw);
    transition-property: all;
    &.aos-animate {
      transform: translate(0);
    }
  }

  [data-aos="_show-left-car-b"] {
    transform: translate(-20vw);
    transition-property: all;
    &.aos-animate {
      transform: translate(0);
    }
  }
</style>
