<template lang="pug">
  .b-front-lead
    .b-front-lead__inner
      h1.b-front-lead__title
        | {{title}}
      .b-front-lead__button(@click="chose_vac_type")
        nuxt-link.c-linear-button._fill(to="/request-car")
          | Request a {{current}}
      .b-front-lead__slider(
        :class="`_direction-${direction}`"
      )
        link(
          v-for="(item, index) in slider"
          :key="index"
          rel="preload"
          :href="`/images/slider/${item}.png`"
          as="image"
        )
        transition(
          name="_slide"
        )
          .b-front-lead__slide(
            :key="current"
            :style="{backgroundImage: `url(/images/slider/${current}.png)`}"
          )
        nav.b-front-lead__slider-nav
          SliderArrow._inversed(
            @click="setSlide(-1)"
          )
            svg(
              width="13"
              height="24"
              viewBox="0 0 13 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M12 23L1 12L12 1"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              )
          SliderArrow._inversed(
            @click="setSlide(1)"
          )
            svg(
              width="13"
              height="24"
              viewBox="0 0 13 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M1 1L12 12L1 23"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              )

</template>

<script>
  import SliderArrow from '~/components/Base/SliderArrow';
  import { mapActions } from 'vuex';

  export default {
    name: 'FrontLead',
    props: {
      title: String,
    },
    data: () => ({
      slider: [
        'SUV',
        'TRUCK',
        'CAR',
        'VAN',
      ],
      current: 'SUV',
      direction: null,
    }),
    components: {
      SliderArrow,
    },
    methods: {
      setSlide(adjustIndex) {
        this.direction = adjustIndex > 0 ? 'right' : 'left';

        const length = this.slider.length;
        const currentIndex = this.slider.indexOf(this.current);
        let newIndex = currentIndex + adjustIndex;

        switch (true) {
          case newIndex >= length:
            newIndex = 0;
            break;
          case newIndex < 0:
            newIndex = length - 1;
            break;
          default:
            break;
        }

        this.current = this.slider[newIndex];
      },
      chose_vac_type() {
        // console.log(this.current)
        localStorage.setItem('vac_type', this.current);
      }
    },
  };
</script>

<style lang="scss">
  .b-front-lead {
    position: relative;
    @extend %layout-padding-x;
    box-sizing: border-box;
    background: $accent url(/images/front-lead-bg.svg) center / cover no-repeat;
    overflow: hidden;

    @include for-width(-tablet) {
      padding: rem(59) rem(20) rem(94);
    }

    @include for-width(tablet, desktop) {
      padding: rem(61) rem(80) rem(129);
    }

    @include for-width(+desktop) {
      min-height: rem(600);
      padding-top: rem(120);

      background:
        url(/images/front-lead-road.svg) calc(100% - #{vw(96)}) calc(100% - #{rem(64)}) / 57% auto no-repeat,
        url(/images/front-lead-bg.svg) center / cover no-repeat,
        $accent;
    }

    @include for-width(+desktop-lg) {
      background:
        url(/images/front-lead-road.svg) calc(100% - #{rem(138)}) calc(100% - #{rem(64)}) / 57% auto no-repeat,
        url(/images/front-lead-bg.svg) center / cover no-repeat,
        $accent;
    }
  }

  .b-front-lead__inner {
    display: grid;
    grid-template-areas: "title" "slider" "button";
    grid-row-gap: rem(34);

    @include for-width(-desktop) {
      justify-items: center;
      text-align: center;
    }

    @include for-width(+tablet) {
      grid-row-gap: rem(60);
    }

    @include for-width(+desktop) {
      grid-auto-columns: 1fr 1fr;
      grid-row-gap: rem(56);
      grid-column-gap: 0;
      grid-template-areas: "title  slider" "button slider";
    }
  }

  .b-front-lead__title {
    grid-area: title;
    @extend %h1-title;
    color: $white;

    @include for-width(+desktop) {
      max-width: rem(534);
      min-height: rem(195);
      padding-right: rem(50);
    }
  }

  .b-front-lead__button {
    grid-area: button;
  }

  .b-front-lead__slider {
    position: relative;
    grid-area: slider;
    justify-self: stretch;
    height: rem(140);
    overflow: visible;

    @include for-width(+tablet) {
      height: rem(240);
    }

    @include for-width(+desktop) {
      height: auto;
      margin-top: rem(45);
    }
  }

  .b-front-lead__slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: center / contain no-repeat;

    @include for-width(+desktop) {
      background-size: auto;
    }

    &._slide-leave-active,
    &._slide-enter-active {
      transition: opacity 0.3s, transform 0.3s;
    }

    &._slide-enter {
      z-index: 1;
      transform: translate(-80%, -50%);
      opacity: 0.15;

      ._direction-right & {
        transform: translate(-20%, -50%);
      }
    }

    &._slide-leave-to {
      z-index: 2;
      transform: translate(-20%, -50%);
      opacity: 0;

      ._direction-right & {
        transform: translate(-80%, -50%);
      }
    }
  }

  .b-front-lead__slider-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;

    svg {
      path {
        stroke: $accent;
      }
    }
  }
</style>
