<template lang="pug">
  .b-front-steps
    .b-front-steps__inner(
      data-aos="fade-up"
      data-aos-duration="300"
      data-aos-offset="100"
      data-aos-anchor-placement="top-bottom"
    )
      h2.b-front-steps__title
        | {{content.title}}&nbsp;
        br.-show-on-desktop
        | {{Array.isArray(content.steps) && content.steps.length}} easy steps
      .b-front-steps__main
        .b-front-steps__steps
          Step._home-page(
            v-if="Array.isArray(content.steps)"
            v-for="(item, index) in content.steps"
            :key="index"
            :number="index + 1"
            :title="item.title"
            :text="item.text"
            data-aos="fade-up"
            data-aos-duration="300"
            data-aos-offset="100"
          )
        .b-front-steps__b
          figure.b-front-steps__image._small(
            data-aos="fade-up"
            data-aos-duration="300"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            img._tablet(:src="'/images/front-steps-bg.png'")
          figure.b-front-steps__image._tablet(
            data-aos="fade-left"
            data-aos-duration="300"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            img._tablet(:src="'/images/front-steps-bg-tablet.png'")
          figure.b-front-steps__image._desktop(
            data-aos="fade-left"
            data-aos-duration="600"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            img(:src="'/images/front-steps-bg-a.png'")
          figure.b-front-steps__image._desktop(
            data-aos="_show-steps-image-b"
            data-aos-duration="600"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            img(:src="'/images/front-steps-bg-b.png'")
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';
  import StepElement from '~/components/Base/StepElement';
  import Step from '~/components/Base/Step';

  export default {
    name: 'FrontSteps',
    components: {Step},
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home.steps', {}),
      }),
    },
  }
</script>

<style lang="scss">
  .steps-spacing {
    margin-top: rem(190);
    @include for-width(-tablet) {
      margin-top: rem(100);
    }
  }
  .b-front-steps {
    @extend %layout-padding-x;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 30px;

    @include for-width(-tablet) {
      padding-right: 0;
    }
  }

  .b-front-steps__inner {
  }

  .b-front-steps__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(30);

    @include for-width(+tablet) {
      margin-bottom: rem(60);
    }
  }

  $stepsM: rem(15);

  .b-front-steps__main {
    @include for-width(+tablet) {
      display: flex;
      margin: 0 rem(-15);
    }
  }

  .b-front-steps__steps {
    @include for-width(+tablet) {
      flex: 1 1 auto;
      margin-right: $stepsM;
      margin-left: $stepsM;
    }

    @include for-width(+desktop) {
      margin-top: rem(-3);
      flex: 1 0 calc(50% - #{$stepsM} * 2);
    }
  }

  .b-front-steps__b {
    position: relative;

    @include for-width(-tablet) {
      height: rem(327);
      margin-top: rem(30);
    }

    @include for-width(tablet, desktop) {
      flex: 1 0 rem(266);
      margin: 0 $stepsM;
    }

    @include for-width(+desktop) {
      flex: 1 0 calc(50% - #{$stepsM} - #{rem(100)});
      margin: 0 rem(100) 0 $stepsM;
    }
  }

  .b-front-steps__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &._small {
      @include for-width(+tablet) {
        display: none;
      }
    }

    &._tablet {
      @include for-width(-tablet) {
        display: none;
      }

      @include for-width(+desktop) {
        display: none;
      }
    }

    &._desktop {
      @include for-width(-desktop) {
        display: none;
      }

      @include for-width(+desktop) {
        top: rem(32);
        max-width: vw(305);
      }
    }

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  [data-aos="_show-steps-image-b"] {
    transform: translate(150%) rotate(0);
    opacity: 0;
    transition-property: all;
    &.aos-animate {
      transform: translate(75%) rotate(-15deg);
      opacity: 1;
    }
  }
</style>
