<template lang="pug">
  transition(
    name="_overlay"
  )
    .b-overlay(
      v-if="overlay"
      :key="overlay"
    )
      .b-overlay__outline(
        @click="overlay = null"
      )
      .b-overlay__main(
        ref="main"
      )
        .b-overlay__inner
          component(
            :is="overlay"
          )
          .b-overlay__close(
            :class="{_left: overlay === 'OverlayContactForm'}"
          )
            BurgerButton(
              :is_active="!!overlay"
              @click="overlay = null"
            )
</template>

<script>
  import OverlayMenu from '~/components/overlay/Menu';
  import OverlayContactForm from '~/components/overlay/ContactForm';
  import BurgerButton from '~/components/Base/BurgerButton';
  import { mapFields } from 'vuex-map-fields';
  import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';

  export default {
    name: 'OverlayContainer',
    components: {
      BurgerButton,
      OverlayMenu,
      OverlayContactForm,
    },
    created() {
      const $vm = this;
      if (process.client) {
        document.addEventListener('keyup', function (event) {
          if (event.keyCode === 27) {
            $vm.overlay = null;
            //clearAllBodyScrollLocks();
          }
        });
      }
    },
    computed: {
      ...mapFields('overlay', [
        'overlay',
      ]),
    },
    watch: {
      overlay(newValue) {
        const element = this.$refs.main;
        // if (!!newValue) {
        //   disableBodyScroll(element);
        // } else {
        //   clearAllBodyScrollLocks();
        // }
      },
    },
  };
</script>
