<template lang="pug">
  .b-contact-form(v-if="!done")
    .b-contact-form__title
      | We can't wait to hear from you!
    .b-contact-form__row
      BaseInput.-input-full-block(
        v-if="car"
        :value="car"
      )
    .b-contact-form__row
      BaseInput.-input-full-block(
        placeholder="Your name"
        type="text"
        v-model="name"
        is_icon
        :validation_error.sync="validation_error.name"
        check_empty
        check_name
      )
        simple-svg(
          slot="icon"
          customClassName="b-svg-icon"
          src="/images/form-icons/name.svg"
        )
    .b-contact-form__row
      PhoneInput.-input-full-block(
        placeholder="Your phone"
        v-model="phone"
        type="tel"
        is_icon
        :validation_error.sync="validation_error.phone"
      )
        simple-svg(
          slot="icon"
          customClassName="b-svg-icon"
          src="/images/form-icons/phone.svg"
        )
    .b-contact-form__row
      BaseInput.-input-full-block(
        placeholder="Your email"
        is_icon
        type="email"
        v-model="email"
        :validation_error.sync="validation_error.email"
        check_empty
        check_email
      )
        simple-svg(
          slot="icon"
          customClassName="b-svg-icon"
          src="/images/form-icons/mail.svg"
        )
    .b-contact-form__row._mt._mb
      SolidButton._w-full(
        :disabled="is_valid"
        @click="send"
      )
        | Contact me
    .-flex-fill
    .b-contact-form__subtitle
      | You can contact us yourself
    .b-menu__row
      .b-menu__icons
        a.b-menu__icon(href="https://www.instagram.com/vehicleapprovalcentre/")
          simple-svg(src="/images/icons/instagram.svg")
        a.b-menu__icon(href="https://www.facebook.com/vehicleapprovalcentre/")
          simple-svg(src="/images/icons/facebook.svg")
        a.b-menu__icon(href="https://www.youtube.com/channel/UCmcQm7uYRQB7mAh2IWDxFAQ")
          simple-svg(src="/images/icons/youtube.svg")
        //-a.b-menu__icon(href="https://www.youtube.com/channel/UCmcQm7uYRQB7mAh2IWDxFAQ")
          simple-svg(src="/images/icons/email-contact.svg")
    .b-menu__row
      a.b-menu__phone(href="tel:+18338222277")
        .b-menu__icon
          simple-svg(src="/images/icons/youtube.svg")
        .b-menu__phone-text 1 (833) 822 2277
  .b-contact-form._success(v-else)
    .b-contact-form__success
      simple-svg(
        slot="icon"
        customClassName="b-svg-icon"
        src="/images/form-icons/success.svg"
      )
    .b-content__title-h3._mb-xs
      | Application Successful!
    .b-content__text
      | Our manager will contact you
      br
      | in the nearest time.
</template>

<script>
  import BaseInput from '~/components/Base/BaseInput';
  import PhoneInput from '~/components/Base/PhoneInput';
  import SolidButton from '~/components/Base/SolidButton';
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';

  export default {
    name: 'OverlayContactForm',
    components: {
      SolidButton,
      BaseInput,
      PhoneInput,
    },
    data: () => ({
      validation_error: {},
    }),
    computed: {
      ...mapFields('contact-form', [
        'done',
        'form.car',
        'form.name',
        'form.phone',
        'form.email',
      ]),
      is_valid() {
        return Object.values(this.validation_error).find(e => !!e);
      },
    },
    destroyed() {
      this.clean();
    },
    methods: {
      send() {
        const DataObject = {
          car: this.car || 'Empty field',
          name: this.name,
          phone: this.phone,
          email: this.email
        }
        let StringData = '';
        for (let k in DataObject) {
          StringData += `${k}=${DataObject[k]}&`
        }
        this.send_to_mail(StringData)
      },
      ...mapActions('contact-form', [
        'send_to_mail',
      ]),
      ...mapMutations('contact-form', [
        'clean',
      ]),
    },
  };
</script>
