<template lang="pug">
  .b-menu
    template(v-if="route_name !== 'inventory' && show_inventory")
      nuxt-link.b-menu__item.-hide-on-desktop(:to="{name: 'inventory'}")
        | Inventory
    button.b-menu__item(
      type="button"
      @click="setContactForm(false)"
    )
      | Contact Us
    template(v-if="route_name !== 'about'")
      nuxt-link.b-menu__item(
        :to="{name: 'about'}"
      )
        | About
    template(v-if="route_name !== 'loan-rates'")
      nuxt-link.b-menu__item(
        :to="{name: 'loan-rates'}"
      )
        | Car loan rates
    template(v-if="route_name !== 'video'")
      nuxt-link.b-menu__item(
        :to="{name: 'video'}"
      )
        | Video
    //template(v-if="route_name !== 'blog'")
      // nuxt-link.b-menu__item(:to="{name: 'blog'}")
        | Blog
    template(v-if="route_name !== 'calculator'")
      nuxt-link.b-menu__item(
        :to="{name: 'calculator'}"
      )
        | Car loan calculator
    .-flex-fill
    nuxt-link.b-menu__item._s-md(
      :to="{name: 'sitemap'}"
    )
      | Sitemap
    .b-menu__row
      .b-menu__icons
        a.b-menu__icon(href="https://www.instagram.com/vehicleapprovalcentre/" target="_blank")
          svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M14.857 10.695a4.137 4.137 0 0 0-4.128 4.13c0 2.29 1.838 4.128 4.129 4.128 2.29 0 4.129-1.87 4.129-4.129 0-2.258-1.871-4.129-4.13-4.129zm0 6.774a2.657 2.657 0 0 1-2.645-2.645 2.657 2.657 0 0 1 2.646-2.645 2.657 2.657 0 0 1 2.645 2.645 2.657 2.657 0 0 1-2.646 2.646zm4.293-5.935a.936.936 0 1 0 0-1.87.936.936 0 0 0 0 1.87z" fill="#7481FF")
            path(d="M21.567 8.18c-.839-.871-2.032-1.323-3.387-1.323h-6.645c-2.807 0-4.678 1.87-4.678 4.677v6.613c0 1.387.452 2.58 1.355 3.452.871.839 2.033 1.258 3.355 1.258h6.58c1.388 0 2.55-.452 3.388-1.258.87-.839 1.322-2.032 1.322-3.42v-6.645c0-1.354-.451-2.516-1.29-3.354zm-.129 10c0 1-.355 1.806-.935 2.354-.581.549-1.387.84-2.355.84h-6.58c-.969 0-1.775-.291-2.356-.84-.58-.58-.87-1.387-.87-2.387v-6.613c0-.967.29-1.774.87-2.354.549-.549 1.387-.84 2.355-.84h6.645c.968 0 1.774.291 2.355.872.549.58.871 1.387.871 2.322v6.646z" fill="#7481FF")
        a.b-menu__icon(href="https://www.facebook.com/vehicleapprovalcentre/" target="_blank")
          svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.956 22.495v-6.887h2.33l.582-2.87h-2.912v-1.147c0-1.148.583-1.722 1.747-1.722h1.165V7h-2.33c-2.14 0-3.495 1.653-3.495 4.017v1.722h-2.33v2.87h2.33v6.886h2.913z" fill="#7481FF")
        a.b-menu__icon(href="https://www.youtube.com/channel/UCmcQm7uYRQB7mAh2IWDxFAQ" target="_blank")
          svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M23.385 11.277a2.114 2.114 0 0 0-1.488-1.487c-1.32-.361-6.602-.361-6.602-.361s-5.282 0-6.603.347a2.157 2.157 0 0 0-1.487 1.502c-.348 1.32-.348 4.058-.348 4.058s0 2.752.348 4.06a2.115 2.115 0 0 0 1.487 1.486c1.335.362 6.603.362 6.603.362s5.282 0 6.602-.348a2.114 2.114 0 0 0 1.488-1.487c.347-1.32.347-4.059.347-4.059s.014-2.752-.347-4.072zm-9.772 6.59v-5.06l4.392 2.53-4.392 2.53z" fill="#7481FF")
    .b-menu__row
      a.b-menu__phone(href="tel:+18338222277")
        .b-menu__icon
          simple-svg(src="/images/icons/youtube.svg")
        .b-menu__phone-text 1 (833) 822 2277
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'OverlayMenu',
    methods: {
      ...mapActions('overlay', [
        'setContactForm',
      ]),
    },
    computed: {
      ...mapState('inventory', [
        'show_inventory'
      ]),
      route_name() {
        return this.$route.name;
      }
    },
  };
</script>
