body {
    font-size: 16px;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.c-tooltip {
  position: fixed;
  width: max-content;
  background: $white;
  border: 1px solid rgba($content, .3);
  padding: 5px;
  z-index: 20;
  border-radius: 2px;
  @extend %text-placeholder;
  text-align: center;
  color: $content;

  &::before {
    content: '';
    display: block;
    color: transparent;
    position: absolute;
    background: rgba($white, .2);
    left: 50%;
    bottom: -4px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform: rotate(45deg);
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 31%;
  }
}
