%button {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %btn-text;
  height: rem(35);
  border-radius: rem(2);
  padding: rem(2) rem(10) 0;
  border: rem(1) solid transparent;

  &[disabled] {
    @extend %evt-none;
    opacity: .8;
  }

  @include for-width(+tablet) {
    width: rem(190);
    min-width: rem(190);
    height: rem(45);
  }

  &._w-full {
    width: 100%;
  }

  &._w-full-on-small {
    @include for-width(-tablet) {
      width: 100%;
    }
  }

  &._header-inverntory {
    width: auto;
    min-width: 100%;

    @include for-width(+tablet) {
      padding-right: rem(24);
      padding-left: rem(24);
    }
  }

  &._header-request {
    width: auto;
    min-width: 100%;

    @include for-width(+tablet) {
      padding-right: rem(24);
      padding-left: rem(24);
    }

    @include for-width(+desktop) {
      padding-right: rem(38);
      padding-left: rem(38);
    }
  }
}

// Solid button
.c-solid-button {
  @extend %button;
  background-color: $accent;
  color: $white;

  &.-three-sixty {
    min-width: rem(101);
    width: rem(101);
    height: rem(29);
    background: rgba(215, 215, 215, 0.2);
    color: $white;
    margin-right: rem(10);
    &.active, &:hover {
      background-color: $white;
      color: $content;
    }
    &-copy {
      background-color: $white;
      color: $content;
      margin-right: 0;
      &.copied {
        svg {
          animation: animate 0.5s ease;
        }
      }
      svg {
        margin-right: rem(10);
        margin-top: -3px;
      }
      @include for-width(-tablet) {
        min-width: rem(69);
        width: rem(69);
        svg {
          display: none;
        }
      }
      @media (max-width: 340px) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem(27);
        width: rem(27);
        height: rem(27);
        padding: 0;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        svg {
          display: block;
          margin: 0;
          path {
            stroke: $white;
          }

        }
        span {
          display: none;
        }
      }
      @keyframes animate {
        0% {
          transform: scale(1.2);
        }
        50% {
          transform: rotate(45deg);
        }
        75% {
          transform: rotate(-45deg);
        }
        100% {
          transform: rotate(0) scale(1);
        }
      }
    }
  }

  &:hover {
    background-color: $primary;
  }

  &[disabled] {
    &:hover {
      background-color: $accent;
    }
  }
}

// Linear button
.c-linear-button {
  @extend %button;
  background-color: transparent;
  border-color: $accent;
  color: $accent;

  &:hover {
    border-color: $primary;
    color: $primary;
    background-color: transparent;
  }

  &._fill {
    border-color: $white;
    background: $white;

    &:hover {
      border-color: $white;
      background: $white;
    }
  }
}

// Back link
.c-back-link {
  @extend %btn-text;
  color: $text;
  @extend %df;
  @extend %aic;
  @extend %ttu;
  i {
    @extend %dib;
    margin-right: 15px;
  }
  svg {
    path {
      transition: all .5s ease;
    }
  }
  &:hover {
    color: $accent;
    svg {
      path {
        stroke: $accent;
      }
    }
  }
}

// Base Input
.c-input {
  transition: all .3s ease;
  &.-mb-input-10 {
    margin-bottom: 10px;
  }
  &.-input-half-block,
  &.-input-full-block,
  &.-input-born-year-block,
  &.-input-born-month-block,
  &.-input-born-day-block {
    width: 100%;
    .c-input {
      &__wrap {
        width: 100%;
      }
    }
  }
  &.-input-half-block,
  &.-input-born-year-block {
    @include for-width(+tablet) {
      width: rem(222);
    }
  }
  &.-input-born-month-block,
  &.-input-born-day-block {
    @include for-width(+tablet) {
      width: rem(106);
    }
  }

  &.focus {
    .c-input {
      &__wrap {
        border-color: $text;
      }
    }
  }

  &.error {
    .c-input {
      &__wrap {
        border-color: $error;
      }

      &__error-text {
        opacity: 1;
      }
    }
  }

  &__wrap {
    @extend %df;
    @extend %aic;;
    width: rem(350);
    height: rem(35);
    border-radius: rem(2);
    border: 1px solid $gray;

    @include for-width(+tablet) {
      height: rem(45);
    }

    &_icon {
      padding-left: 13px;

      .c-input {
        &__input {
          padding-left: 13px;
        }
      }
    }
  }

  &__input {
    @extend %text-placeholder;
    color: $text;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding-left: 20px;

    &._inversed {
      color: $white;
      border-color: $white;
    }

    &._inversed-with-opacity {
      color: $white;
      border-color: transparentize($white, 0.8);
    }
  }

  &__error-text {
    @extend %text-regular-14;
    color: $error;
    margin-top: 2px;
    transition: all .5s ease;
    opacity: 0;
    @include for-width(+tablet) {
      @include font_sizes(12, 20);
    }
  }
}

// Accordion
.accordion {
  padding: 20px 30px;
  border: 1px solid $gray;
  border-radius: 2px;
  @extend %ui-elements-10;
  cursor: pointer;
  &.open {
    .accordion {
      &__title {
        @extend %title-text;
      }
      &__content {
        display: block;
      }
      &__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__icon {
    transition: all .5s ease;
  }
  &__wrap {
    width: 100%;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
  }
  &__title {
    @extend %text-semibold;
    color: $content;
    transition: all .5s ease;
  }
  &__content {
    display: none;
    @extend %text-regular-16;
    color: $text;
  }
}
