.b-contact-form {
  &._success {
    padding-top: rem(89);

    @include for-width(+tablet) {
      padding-top: rem(70);
    }
  }
}

.b-contact-form__title {
  @extend %h3-title;
  color: $content;
  margin-bottom: rem(30);

  @include for-height(-h-md) {
    padding-top: rem(60);
  }

  @include for-width(+tablet) {
    margin-bottom: rem(60);
  }
}

.b-contact-form__subtitle {
  @extend %semibold;
  color: $content;
  margin-bottom: rem(20);
}

.b-contact-form__row {
  margin-bottom: rem(10);

  &._mt {
    margin-top: rem(30);

    @include for-width(+tablet) {
      margin-top: rem(40);
    }
  }

  &._mb {
    margin-bottom: rem(30);

    @include for-width(+tablet) {
      margin-bottom: rem(40);
    }
  }
}

.b-contact-form__success {
  margin-bottom: rem(10);

  .b-svg-icon {
    width: rem(50);
    height: rem(50);
  }

  @include for-width(+tablet) {
    margin-bottom: rem(40);

    .b-svg-icon {
      width: rem(70);
      height: rem(70);
    }
  }
}
