// ================ Gilroy-Bold ================
@include font_face(Gilroy-Bold, Gilroy-Bold);

%bold {
  font-family: 'Gilroy-Bold', sans-serif;
}

// ################ Gilroy-Bold ################

// ================ Roboto-Bold-Condensed ==============
@include font_face(Gilroy-ExtraBold, Gilroy-ExtraBold);

%extrebold {
  font-family: 'Gilroy-ExtraBold', sans-serif;
}

// ################### Gilroy-ExtraBold ###################

// ================ Gilroy-Medium ==================
@include font_face(Gilroy-Medium, Gilroy-Medium);

%medium {
  font-family: 'Gilroy-Medium', sans-serif;
}

// ################### Gilroy-Medium ################

// ================ Gilroy-Regular ==================
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
  font-family: 'Gilroy-Regular', sans-serif;
}

// ################### Gilroy-Regular ################

// ================ Gilroy-SemiBold ==================
@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);

%semibold {
  font-family: 'Gilroy-SemiBold', sans-serif;
}

// ################### Gilroy-SemiBold ################

// ====================== Font sizes =======================
%ttu {
  text-transform: uppercase;
}

%letter-space {
  letter-spacing: 0.02em;
}

// Font styles


// => Heading / H1
%h1-title {
  @extend %extrebold;
  @include font_sizes(35, 40);
  @extend %letter-space;

  @include for-width(+tablet) {
    @include font_sizes(60, 65);
  }
}

// => Heading / H2
%h2-title {
  @extend %bold;
  @include font_sizes(30, 42);

  @include for-width(+tablet) {
    @include font_sizes(45, 63);
  }
}

//@extend %h2-title;

// => Heading / H3
%h3-title {
  @extend %bold;
  @include font_sizes(22, 34);

  @include for-width(+tablet) {
    @include font_sizes(30, 42);
  }
}

// => Heading / H4
%h4-title {
  @extend %bold;
  @include font_sizes(20, 25);
  @extend %letter-space;
  @include for-width(+tablet) {
    @include font_sizes(25, 35);
  }
}

// => Title / Title | Semibold 20
%text-semibold {
  @extend %semibold;
  @include font_sizes(20, 25);
}

// => Title / Menu | Semibold 16
%text-menu {
  @extend %semibold;
  @include font_sizes(16, 14);
}

// => Title / Placeholder | Medium 16
%text-placeholder {
  @extend %medium;
  @include font_sizes(16, 25);
}

// => Button / Bold 16
%btn-text {
  @extend %bold;
  @include font_sizes(14, 14);
  @extend %letter-space;
  @extend %ttu;

  @include for-width(+tablet) {
    @include font_sizes(16, 14);
  }
}

// => Text / Regular 16
%text-regular-16 {
  @extend %regular;
  @include font_sizes(16, 29);
  @extend %letter-space;
}

// => Text / Regular 14
%text-regular-14 {
  @extend %regular;
  @include font_sizes(14, 22);
}
