.b-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @extend %layout-padding-x;
  @extend %header-padding-y;
  box-sizing: border-box;
  min-height: rem(55);
  background: $white;
  z-index: 99999;
  &.inventory {
    box-shadow: 0px 1px 0px #D7D7D7;
    @include for-width(+desktop) {
      padding-left: 0;
      padding-right: 0;
    }
    .b-header {
      &__inner {
        @include for-width(+desktop) {
          max-width: rem(1200);
          margin: 0 auto;
        }
      }
    }
  }

  @include for-width(+tablet) {
    min-height: rem(80);
  }
}

.b-header__inner {
  display: flex;
  align-items: center;
}

.b-header__logo {
  padding-top: rem(2);
  display: flex;
  align-items: center;
}
.b-header__text {
  @extend %h4-title;
  color: $content;
  display: none;
  margin-left: 40px;
  @include for-width(+tablet) {
    display: block;
  }
}

.b-header__item {
  @include for-width(-tablet) {
    margin-top: rem(-1);
  }

  &._ml {
    margin-left: rem(20);
  }

  &._ml-2 {
    margin-left: rem(23);

    @include for-width(+tablet) {
      margin-left: rem(63);
    }
  }

  &._mr-burger {
    @include for-width(+tablet) {
      margin-right: rem(-4);
    }
  }
}
