body {
  overflow-x: hidden;
}

%flex-fill {
  flex: 1 1 auto;
}

.-flex-fill {
  flex: 1 1 auto;
}

%flex-new-line {
  flex: 1 0 100%;
  height: 0;
}

.-flex-new-line {
  @extend %flex-new-line;
}

.-no-wrap {
  white-space: nowrap;
}

$duration: 0.3s;

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.b-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $white;
  text-align: center;
  z-index: 1000;

  &._overlay-enter-active {
    animation: opacity $duration;
  }

  &._overlay-leave-active {
    animation: opacity $duration reverse;
  }
}

.b-loading__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}

.b-loading__icon {
  margin-bottom: rem(20);
  animation: scale 1.4s infinite;
}

.b-layout {
  display: flex;
  flex-direction: column;
  max-width: rem(1440);
  margin: 0 auto;
  @include set100vh('min-height');
  padding-top: rem(55);

  @include for-width(+tablet) {
    padding-top: rem(80);
  }
}

.b-main {
  flex: 1 1 auto;

  &._centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.b-error-page {
  max-width: rem(480);
  text-align: center;

  @include for-width(+desktop) {
    padding-bottom: rem(60);
  }
}

.b-error-page__icon {
  margin-bottom: rem(20);
}

.b-section {
  position: relative;
  margin-top: rem(80);
  &_overflow {
    overflow: hidden;
  }

  @include for-width(+tablet) {
    margin-top: rem(160);
  }

  @include for-width(+desktop) {
    margin-top: rem(220);
  }

  &._mt-xs {
    margin-top: rem(30);

    @include for-width(+tablet) {
      margin-top: rem(40);
    }
  }

  &._px {
    @extend %layout-padding-x;

    @include for-width(tablet, desktop) {
      max-width: rem(648);
      margin-right: auto;
      margin-left: auto;
    }
  }

  &._overflow-hidden {
    overflow: hidden;
  }

  &._sitemap {
    @include for-width(+desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      grid-gap: 0 rem(40);
    }
  }

  &._mt-fix-1 {
    @include for-width(-tablet) {
      margin-top: rem(65);
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(130);
    }

    @include for-width(+desktop) {
      margin-top: rem(224);
    }
  }

  &._mt-fix-6 {
    @include for-width(-tablet) {
      margin-top: rem(74);
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(126);
    }
  }

  &._mt-fix-7 {
    @include for-width(-tablet) {
      margin-top: rem(64);

      .b-cell {
        &:last-child {
          margin-top: rem(5);
        }
      }
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(130);

      .b-cell {
        &:last-child {
          margin-top: rem(9);
        }
      }
    }
  }

  &._mt-fix-2 {
    @include for-width(+desktop) {
      margin-top: rem(220);
    }
  }

  &._mt-fix-3 {
    @include for-width(+desktop) {
      margin-top: rem(192);
    }
  }

  &._mt-fix-4 {
    @include for-width(+desktop) {
      //margin-top: rem(230);
    }
  }

  &._mt-fix-5 {
    @include for-width(-tablet) {
      margin-top: rem(64);

      .b-content__row {
        margin-top: rem(20);
      }
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(130);
    }

    @include for-width(+desktop) {
      margin-top: rem(222);
    }
  }

  &._mt-fix-8 {
    @include for-width(+desktop) {
      margin-top: rem(222);
    }
  }

  &._mt-fix-9 {
    @include for-width(-tablet) {
      margin-top: rem(65);

      .b-row {
        &:last-child {
          .b-cell {
            &:last-child {
              margin-top: rem(2);
            }
          }
        }
      }
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(130);

      .b-row {
        &:last-child {
          .b-cell {
            &:last-child {
              margin-top: rem(-10);
            }
          }
        }
      }
    }
  }

  &._mt-fix-10 {
    @include for-width(-tablet) {
      margin-top: rem(64);
    }
    @include for-width(tablet, desktop) {
      margin-top: rem(130);
    }
  }

  &._mt-fix-11 {
  }

  &._FrontHow {
    margin-top: rem(-39);

    @include for-width(+tablet) {
      margin-top: rem(-40);
    }
  }

  &._FrontSteps {
    @include for-width(tablet, desktop) {
      margin-top: rem(158);
    }
  }

  &._FrontAdvantages {
    @include for-width(tablet, desktop) {
      margin-top: rem(164);
    }

    @include for-width(+desktop) {
      margin-top: rem(230);
    }
  }

  &._FrontInventory {
    @include for-width(-tablet) {
      margin-top: rem(77);
    }

    @include for-width(+tablet) {
      margin-top: rem(163);
    }

    @include for-width(+desktop) {
      margin-top: rem(221);
    }
  }

  &._FrontCtaStats {
    @include for-width(+tablet) {
      margin-top: rem(156);
    }

    @include for-width(+desktop) {
      margin-top: rem(241);
    }
  }

  &._BlogPreviews {
    @include for-width(-tablet) {
      margin-top: rem(70);
    }
  }
}

.b-row {
  display: flex;

  @include for-width(-desktop) {
    flex-direction: column;
  }

  @include for-width(-tablet) {
    margin: rem(-15) 0;
  }

  @include for-width(tablet, desktop) {
    margin: rem(-30) 0;
  }

  @include for-width(+desktop) {
    margin: 0 rem(-50);
  }

  &._mb {
    margin-bottom: rem(10);

    @include for-width(+tablet) {
      margin-bottom: rem(30);
    }

    @include for-width(+desktop) {
      margin-bottom: rem(60);
    }
  }
}

.b-cell {
  position: relative;

  @include for-width(-tablet) {
    margin: rem(15) 0;
  }

  @include for-width(tablet, desktop) {
    margin: rem(30) 0;
  }

  @include for-width(+desktop) {
    flex: 0 0 calc(50% - #{rem(50)} * 2);
    margin: 0 rem(50);
  }

  &._pt-compensate-title {
    @include for-width(+desktop) {
      padding-top: rem(14);
    }
  }

  &._mt-compensate-image-on-small-and-tablet {
    @include for-width(-tablet) {
      margin-top: rem(25);
    }

    @include for-width(tablet, desktop) {
      margin-top: rem(30);
    }
  }

  &._order-0-on-small {
    @include for-width(-desktop) {
      order: 0;
    }
  }

  &._order-1-on-small {
    @include for-width(-desktop) {
      order: 1;
    }
  }

  &._no-gap {
    @include for-width(+desktop) {
      flex-basis: calc(50% - #{rem(50)});

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }

  &._small-gap {
    @include for-width(+desktop) {
      flex-basis: calc(50% - #{rem(50)} - #{rem(20)});

      &:first-child {
        margin-right: rem(20);
      }

      &:last-child {
        margin-left: rem(20);
      }
    }
  }

  &._no-stretch {
    align-self: flex-start;
  }

  &._w-full {
    @include for-width(+desktop) {
      flex: 1 1 auto;
      margin: 0 rem(50);
    }
  }

  &._shadow {
    background: $white;
    padding: rem(6) rem(20) rem(20);
    filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
    border-radius: rem(5);

    @include for-width(+tablet) {
      padding: rem(40);
    }

    @include for-width(+desktop) {
      padding: rem(60);
    }

    &._pt-on-small {
      @include for-width(-tablet) {
        padding-top: rem(24);
      }
    }
  }
}

.b-content {

}

.b-content__title {
  @extend %h2-title;
  color: $content;

  &._mb {
    margin-bottom: rem(10);

    @include for-width(+tablet) {
      margin-bottom: rem(20);
    }
  }

  &._mt {
    //margin-bottom: rem(10);

    @include for-width(+tablet) {
      margin-top: rem(16);
    }
  }

  &._mb-xs {
    margin-bottom: rem(5);
  }
}

.b-content__title-h3 {
  @extend .b-content__title;
  @extend %h3-title;
}

.b-content__subtitle {
  @extend %h4-title;
  color: $content;

  @include for-width(-tablet) {
    line-height: rem(28);
    margin-bottom: rem(10);
  }

  @include for-width(+tablet) {
    margin-bottom: rem(20);
  }

  &._mt-compensate-title {
    @include for-width(+desktop) {
      margin-top: rem(10);
      line-height: 140%;
    }
  }

  &._with-icon {
    background: left center / rem(50) no-repeat;
    padding-left: rem(60);
    min-height: rem(60);
    max-width: rem(400);

    @include for-width(+tablet) {
      background-size: rem(60);
      padding-left: rem(80);
    }
  }
}

.b-content__semibold {
  @extend %text-semibold;
  color: $content;

  @include for-width(-tablet) {
    margin-bottom: rem(5);
  }

  @include for-width(+tablet) {
    margin-bottom: rem(10);
  }

  &._mb {
    margin-top: rem(20);
  }
}

.b-content__text-section {
  &:not(:first-child) {
    margin-top: rem(10);

    @include for-width(+tablet) {
      margin-top: rem(21);
    }
  }
}

.b-content__text {
  @extend %text-regular-16;
  color: $text;
}

.b-content__row {
  &._mt {
    margin-top: rem(30);

    @include for-width(+tablet) {
      margin-top: rem(40);
    }
  }
}

.b-content__steps {
  @include for-width(-tablet) {
    margin-top: rem(-10);
  }

  @include for-width(tablet, desktop) {
    margin-top: rem(-24);
  }

  @include for-width(+desktop) {
    margin-top: rem(-6);
  }
}

.b-image-container {
  position: relative;
  display: flex;
  flex-direction: column;

  &._br {
    border-radius: rem(5);
    overflow: hidden;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
  }

  @include for-width(-tablet) {
    height: rem(228);
    margin-top: rem(-10);
  }

  @include for-width(tablet, desktop) {
    height: rem(428);
    margin-top: rem(-20);
  }

  @include for-width(+desktop) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &._auto-height-on-small-and-tablet {
    @include for-width(-desktop) {
      height: auto;

      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: auto;
      }
    }
  }

  &._mt-compensate-on-tablet-only {
    @include for-width(tablet, desktop) {
      margin-top: rem(-20);
    }
  }

  &._mt-compensate-title {
    @include for-width(+desktop) {
      margin-top: rem(14);
    }
  }
}

.b-panels {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-5);

  @include for-width(-tablet) {
    flex-direction: column;
  }

  @include for-width(+tablet) {
    margin: rem(-20);
  }
}

.b-panel {
  margin: rem(5);
  padding: rem(20) rem(30) rem(20);
  background: $white;
  filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));

  @include for-width(+tablet) {
    flex: 0 0 calc(50% - #{rem(20)} * 2);
    margin: rem(20);
    padding: rem(25) rem(35) rem(20);
  }
}

.b-panel__title {
  @extend %h2-title;
  color: $content;
  margin-bottom: rem(5);
}

.b-panel__text {
  @extend %text-regular-16;
  color: $text;
}
