.b-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: rem(15);

  @include for-width(+tablet) {
    padding-top: rem(38);
  }
}
.b-menu__phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: rem(20);
  @include for-width(-tablet) {
    margin-top: rem(10);
  }
  .b-menu__icon {
    margin-left: 0;
  }
  &-text {
    @extend %btn-text;
    color: $content;
  }
}
.b-menu__item {
  @extend %h4-title;
  text-align: left;
  padding: 0;

  &,
  &:hover,
  &:visited {
    color: $content;
  }

  &:not(:last-child) {
    margin-bottom: rem(25);

    @include for-width(+tablet) {
      margin-bottom: rem(20);
    }
  }

  &._s-md {
    @extend %text-semibold;
  }
}

.b-menu__row {}

.b-menu__icons {
  display: flex;
  margin: rem(-5);
}

.b-menu__icon {
  flex: 0 0 rem(30);
  height: rem(30);
  background: $accent;
  border-radius: rem(2);
  margin: rem(5);
  @include svg-button-icon($white);

  &:hover {
    background: $primary;
  }
}
