.b-overlay,
.b-overlay__outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$duration: 0.3s;

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.b-overlay {
  z-index: 999999999999999;

  &._overlay-enter-active {
    animation: opacity $duration;

    .b-overlay__main {
      animation: slideIn $duration;
    }
  }

  &._overlay-leave-active {
    animation: opacity $duration reverse;

    .b-overlay__main {
      animation: slideIn $duration reverse;
    }
  }
}

.b-overlay__outline {
  opacity: 0.1;
  background: #000;
}

.b-overlay__main {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: rem(504);
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.12);
  padding: rem(20) rem(40) 0;
  overflow-y: auto;

  @include for-height(+h-md) {
    padding-top: rem(85);
  }

  @include for-width(+tablet) {
    padding: rem(20) rem(60) 0;

    @include for-height(+h-md) {
      padding-top: rem(92);
    }
  }

  @include for-width(+desktop) {
    max-width: rem(575);
    padding-right: rem(125);
  }
}

.b-overlay__inner {
  flex: 1 1 auto;
  padding-bottom: rem(55);

  @include for-height(+h-md) {
    padding-bottom: rem(50);
  }

  @include for-width(+tablet) {
    padding-bottom: rem(40);

    @include for-height(+h-md) {
      padding-bottom: rem(105);
    }
  }
}

.b-overlay__close {
  position: fixed;
  top: rem(14);
  right: rem(22);

  @include for-width(+tablet) {
    top: rem(24);
    right: rem(25);
  }

  @include for-width(+desktop) {
    top: rem(24);
    right: rem(120);
  }

  &._left {
    position: absolute;
    right: auto;
    left: rem(40);

    @include for-width(+tablet) {
      left: rem(60);
    }
  }
}
