.request-car {
  --w: 320;
  height: auto;
  padding: 0 10px 80px;
  @include for-width(+tablet) {
    --w: 455;
    @include set100vh;
    padding: 0;
    &.car-inside {
      --w: 930;
    }
    &.flinks-wrap {
      width: 100%;
    }
  }
  &__wrapper-main {
    &.car-inside {
      display: flex;
      justify-content: space-between;
      .request-car__block-wrapper {
        width: rem(454);
      }
      @include for-width(-desktop) {
        flex-direction: column;
        .request-car__block-wrapper {
          margin-bottom: rem(40);
          order: -1;
        }
      }
      @include for-width(-tablet) {
        .request-car__block-wrapper {
          margin-bottom: rem(40);
          max-width: 100%;
        }
      }
    }
  }

  margin: 0 auto;
  width: calc-var(w);

  &-page {
    padding-top: 40px;
  }
  &__progress {
    width: 100%;
    height: rem(8);
    background-color: #f1f1f1;
    border-radius: 2px;
    margin-bottom: 60px;
    span {
      transition: all .3s ease;
      display: block;
      background-color: $accent;
      /*width: 30%;*/
      height: 100%;
      border-radius: 2px;
    }
  }
  &__btns {
    display: flex;
    margin-top: 40px;
  }
  &__continue-btn {
    width: rem(160);
    &._w-full {
      width: 100%;
      margin-left: 0;
    }
    @include for-width(+tablet) {
      width: rem(222);
      &._w-full {
        width: rem(222);
      }
    }
    margin-left: rem(60);
  }
}
