
.b-reviews {
  @extend %layout-padding-x;
  min-height: rem(445);
  box-sizing: border-box;
}

.b-reviews__title {
  @extend %h2-title;
  color: $content;
  margin-bottom: rem(30);

  @include for-width(+tablet) {
    margin-bottom: rem(60);
  }
}

.b-reviews__items {
  position: relative;
  width: 100%;
  height: rem(520);

  @include for-width(+tablet) {
    height: rem(320);
  }
}

$duration: 0.3s;

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.b-reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: rem(320);
  background: $white;
  filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
  border-radius: rem(5);
  overflow: hidden;

  @include for-width(-tablet) {
    flex-direction: column;
  }

  &._slide-enter-active {
    animation: slideInLeft $duration ease-in;

    ._direction-right & {
      animation: slideInRight $duration ease-in;
    }
  }

  &._slide-leave-active {
    animation: slideInRight $duration ease-out reverse;

    ._direction-right & {
      animation: slideInLeft $duration ease-out reverse;
    }
  }
}

.b-reviews__a {
  position: relative;

  @include for-width(-tablet) {
    flex: 0 0 rem(215);
  }

  @include for-width(+tablet) {
    flex: 0 0 rem(300);
  }

  @include for-width(+desktop) {
    flex-basis: rem(460);
  }
}

.b-reviews__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.b-reviews__b {
  flex: 1 1 auto;
  padding: rem(20);

  @include for-width(+tablet) {
    padding: rem(40);
  }

  @include for-width(+desktop) {
    padding: rem(54) rem(60) rem(54) rem(40);
  }
}

.b-reviews__name {
  @extend %text-regular-16;
  color: $text;
  margin-bottom: rem(10);
}

.b-reviews__text {
  @extend %text-semibold;
  color: $content;
}

.b-reviews__slider-nav {
  position: absolute;
  top: rem(215 / 2);
  transform: translateY(-50%);
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  @include for-width(+tablet) {
    top: 50%;
  }
}
