.c-search-input {
  position: relative;
  @include for-width(+desktop) {
    max-width: rem(350);
  }
  &.-drop-position-relative {
    .c-search-input {
      &__list {
        position: relative;
        top: auto;
        left: auto;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(45);
    padding-right: rem(20);
    border: 1px solid $gray;
    border-radius: 2px;
  }
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    border: 1px solid $gray;
    background-color: $white;
    border-radius: 2px;
    padding: rem(10) 0 rem(10) rem(20);
    margin-top: -1px;
    max-height: rem(155);
    overflow-y: scroll;
    /*&:after {*/
    /*  position: absolute;*/
    /*  content: '';*/
    /*  display: block;*/
    /*  bottom: 0;*/
    /*  left: 0;*/
    /*  width: 100%;*/
    /*  height: rem(37);*/
    /*  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);*/
    /*}*/
    &::-webkit-scrollbar-track {
      background-color:rgba($gray, .3);
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: $gray;
    }
    &::-webkit-scrollbar-thumb:hover{
      background-color: $gray;
    }
  }
  &__input {
    padding: 0 rem(10) 0 rem(20);
    width: 100%;
    height: 100%;
    border: none;
    background-color: $white;
  }
  &__btn, &__input {
    @extend %text-placeholder;
    color: $content;
  }
  &__btn {
    padding: 3px 0;
    width: 100%;
    text-align: left;
  }
}
