@import "../helpers/calc-var";

// Desktop
// Headline - text
%headline-text {
  margin-bottom: 20px;
}
// Headline - UI elements
%headline-ui-elements {
  margin-bottom: 60px;
}
// UI elements
%ui-elements-10 {
  margin-bottom: 10px;
}
%ui-elements-20 {
  margin-bottom: 20px;
}
%ui-elements-40 {
  margin-bottom: 40px;
}

// Title - button
%title-button {
  margin-bottom: 40px;
}

// Title - text
%title-text {
  margin-bottom: 5px;
}

// Layout margin
%layout-padding-x {
  padding-right: calc-var(layoutMarginX);
  padding-left: calc-var(layoutMarginX);
}
%header-padding-y {
  padding-top: calc(var(--headerMarginY) * #{rem(1)} + #{rem(1)});
  padding-bottom: calc-var(headerMarginY);
}

// Card / Block  padding
%card-block-padding-20 {
  padding: 20px;
}
%card-block-padding-30 {
  padding: 30px;
}
%card-block-padding-60 {
  padding: 60px;
}

// Block margin
%section-padding-bottom {
  padding-bottom: 220px;
}

// Tablet
@include bp(1100px) {
  %tablet-headline-text {
    margin-bottom: 10px;
  }

  %tablet-headline-iu-elements {
    margin-bottom: 60px;
  }

  %tablet-ui-elements-10 {
    margin-bottom: 10px;
  }
  %tablet-ui-elements-20 {
    margin-bottom: 20px;
  }
  %tablet-ui-elements-40 {
    margin-bottom: 40px;
  }

  %tablet-title-button {
    margin-bottom: 40px;
  }

  %tablet-title-text {
    margin-bottom: 5px;
  }

  %tablet-card-block-padding-20 {
    padding: 20px;
  }
  %tablet-card-block-padding-30 {
    padding: 30px;
  }
  %tablet-card-block-padding-60 {
    padding: 60px;
  }

  %tablet-section-padding-bottom {
    padding-bottom: 220px;
  }
}
@include bp(766px) {
  %mobile-headline-text {
    margin-bottom: 10px;
  }

  %mobile-headline-iu-elements {
    margin-bottom: 30px;
  }

  %mobile-ui-elements-10 {
    margin-bottom: 10px;
  }
  %mobile-ui-elements-20 {
    margin-bottom: 20px;
  }
  %mobile-ui-elements-30 {
    margin-bottom: 30px;
  }

  %mobile-title-button {
    margin-bottom: 20px;
  }

  %mobile-title-text {
    margin-bottom: 5px;
  }

  %mobile-card-block-padding-10 {
    padding: 10px;
  }
  %mobile-card-block-padding-20 {
    padding: 20px;
  }
  %mobile-card-block-padding-30 {
    padding: 30px;
  }

  %mobile-section-padding-bottom {
    padding-bottom: 80px;
  }
}
