.b-videos {
  @extend %layout-padding-x;
  box-sizing: border-box;
}

.b-videos__items {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-10) 0;

  @include for-width(+tablet) {
    margin: rem(-20) 0;
  }

  @include for-width(+desktop) {
    margin: rem(-20);
  }
}

.b-video {
  flex: 0 0 100%;
  margin: rem(10) 0;

  @include for-width(+tablet) {
    margin: rem(20) 0;
  }

  @include for-width(+desktop) {
    flex: 0 0 calc(50% - #{rem(20)} * 2);
    margin: rem(20);
  }
}

.b-video__image {
  position: relative;
  height: 0;
  padding-bottom: calc(100% * 9 / 16);
  background: center / cover no-repeat;
  overflow: hidden;
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0);
  }

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.b-video__title {
  @extend %h4-title;
  color: $content;
  margin-top: rem(10);

  @include for-width(+tablet) {
    margin-top: rem(20);
  }
}

.b-video-overlay {
  z-index: 20;
}

.b-video-overlay,
.b-video-overlay__outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$duration: 0.3s;

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.b-video-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(20);
  overflow-y: auto;

  @include for-width(+tablet) {
    padding: rem(40);
  }

  @include for-width(+desktop) {
    padding: rem(40) rem(120);
  }

  &._overlay-enter-active {
    animation: opacity $duration;
  }

  &._overlay-leave-active {
    animation: opacity $duration reverse;
  }
}

.b-video-overlay__outline {
  opacity: 0.1;
  background: #000;
}

.b-video-overlay__main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include for-width(+tablet) {
    max-width: rem(600);
  }

  @include for-width(+desktop) {
    max-width: rem(868);
  }
}

.b-video-overlay__player {
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * 9 / 16);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.b-video-overlay__close {
  position: absolute;

  @include for-width(-tablet) {
    right: 0;
    bottom: calc(100% + #{rem(10)});
  }

  @include for-width(+tablet) {
    top: 0;
    left: calc(100% + #{rem(20)});
  }
}
