<template lang="pug">
  .b-loading
    .b-loading__inner
      .b-loading__icon
        simple-svg(
          customClassName="b-svg-icon"
          src="/images/logo-letter.svg"
        )
      span.b-content__text
        | Loading...
</template>

<script>
  import { clearAllBodyScrollLocks, disableBodyScroll } from 'body-scroll-lock';

  export default {
    name: 'Loading',
    mounted() {
      disableBodyScroll();
    },
    destroyed() {
      clearAllBodyScrollLocks();
    },
  };
</script>
