<template lang="pug">
  transition(
    name="_overlay"
  )
    Loading(v-if="!routingDone")
</template>

<script>
  import Loading from '~/components/loader/Loading';
  import sleep from '~/utils/sleep';

  export default {
    components: {Loading},
    data: () => ({
      routingDone: true,
    }),
    methods: {
      start() {
        this.routingDone = false;
      },
      async finish() {
        await sleep(1000);
        this.routingDone = true;
      },
    },
  };
</script>
