<template lang="pug">
  transition(
    name="_overlay"
  )
    Loading(v-if="firstRun && isLoading")
</template>

<script>
  import Loading from '~/components/loader/Loading';
  import { mapFields } from 'vuex-map-fields';
  import { mapGetters } from 'vuex';
  import sleep from '~/utils/sleep';

  export default {
    name: 'LoaderOverlay',
    components: {Loading},
    async mounted() {
      await sleep(1500);
      this.firstRun = false;
    },
    computed: {
      ...mapFields('loading', [
        'firstRun',
      ]),
      ...mapGetters('loading', [
        'isLoading',
      ]),
    },
  };
</script>
