<template>
  <div class="filter-tag-helper">
    <template v-if="tags.length > 0">
      <TagButton v-for="tag in tags" :key="tag" @click="emit_delete_tag(tag)">
        {{ tag }}
      </TagButton>
    </template>
  </div>
</template>

<script>
  import TagButton from "~/components/Base/TagButton";
  export default {
    name: "FilterHelperTags",
    components: {TagButton},
    props: {
      tags: {
        type: Array
      },
      tags_name: String,
      is_checkboxes: Boolean,
      is_double_range: Boolean,
      is_price_range: Boolean,
      is_kilometres: Boolean,
    },
    methods: {
      emit_delete_tag(name) {
        if(this.is_checkboxes) {
          this.$emit("change", name)
          return
        }

        if(this.is_double_range) {
          if(this.is_price_range) {
            this.$emit("change", { val_from: 0, val_to: 0, can_send: true })
          } else {
            this.$emit("change", { val_from: 2005, val_to: 2005, can_send: true })
          }
          return
        }

        if(this.is_kilometres) {
          this.$emit("change", { value: 0, can_send: true })
          return
        }

        this.$emit("change", { name: this.tags_name, id: null })
      }
    },
  }
</script>

<style lang="scss">
.filter-tag-helper {
  display: flex;
  flex-wrap: wrap;
}
</style>
