<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head {{ HEAD_ATTRS }}>
  {{ HEAD }}
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://connect.facebook.net/signals/config/174148216556683?v=2.9.22&amp;r=stable" async=""></script>
  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-159062077-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159062077-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '174148216556683');
    fbq('track', 'PageView');
  </script>
  <link rel="stylesheet"
        href="https://ws1.postescanada-canadapost.ca/css/addresscomplete-2.30.min.css?key=yc78-hk92-yz91-ef72"/>
  <script src="https://ws1.postescanada-canadapost.ca/js/addresscomplete-2.30.min.js?key=yc78-hk92-yz91-ef72"></script>
</head>
<body {{ BODY_ATTRS }}>
{{ APP }}
</body>
</html>
