<template>
  <div class="three-sixty__images" ref="container">
    <div class="three-sixty__image" :class="{ 'move-cursor': dragging, 'default-cursor': ready }" ref="image" :style="{ backgroundImage: `url(${images_array[5].path})` }">
      <template v-if="loading">
        <div class="three-sixty__loading">
          <div class="three-sixty__loading-animation">
            <span>
              Loading 360° ...
            </span>
            <ScrollLoader white/>
          </div>
        </div>
      </template>
      <template v-if="show_images">
        <template v-for="(img, index) in images_array">
          <img :src="img.three_sixty" @load="test" v-show="currentImage === index" :key="img.id" alt="">
        </template>
      </template>
      <template v-else-if="catch_error">
        <div class="three-sixty__error">
          <SolidButton @touchstart="reload_page" @click="reload_page" class="three-sixty__btn">
            Reload
          </SolidButton>
        </div>
      </template>
      <template v-else-if="!ready">
        <div class="three-sixty__set-load">
          <SolidButton @touchstart="start_loading" @click="start_loading" class="three-sixty__btn">
            Watch 360°
          </SolidButton>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import SolidButton from "~/components/Base/SolidButton";
  import ScrollLoader from "~/components/ScrollLoader";
  export default {
    name: "ExteriorViewer",
    components: {ScrollLoader, SolidButton},
    props: {
      totalFrames: Number,
      images_array: Array,
    },
    data() {
      return {
        ready: false,
        loading: false,
        // start_loading: false,
        catch_error: false,
        show_images: false,
        // Tells the app if the user is dragging the pointer
        dragging: false,
        // Stores the pointer starting X position for the pointer tracking
        pointerStartPosX: 0,
        // Stores the pointer ending X position for the pointer tracking
        pointerEndPosX: 0,
        // Stores the distance between the starting and ending pointer X position in each time period we are tracking the pointer
        pointerDistance: 0,
        // The starting time of the pointer tracking period
        monitorStartTime: 0,
        // The pointer tracking time duration
        monitorInt: 10,
        // A setInterval instance used to call the rendering function
        ticker: 0,
        // Sets the speed of the image sliding animation
        speedMultiplier: 10,
        // CanvasLoader instance variable
        spinner: null,
        // Stores the total amount of images we have in the sequence
        // totalFrames: 180,
        // The current frame value of the image slider animation
        currentFrame: 0,
        // Stores all the loaded image objects
        frames: [],
        // The value of the end frame which the currentFrame will be tweened to during the sliding animation
        endFrame: 0,
        // We keep track of the loaded images by increasing every time a new image is added to the image slider
        loadedImages: 0,
        // Caching DOM element references
        // $document: document,
        // $container: container,
        // $image: image,
        // Initial spin demo vars
        demoMode: false,
        fakePointer: {
          x: 0,
          speed: 4
        },
        fakePointerTimer: 0,
        images: [],
        currentImage: 0,
        testCounter: 0,
        errors: []
      }
    },
    methods: {
      test() {
        this.image_loaded()
      },
      start_loading() {
        this.show_images = true;
        this.loading = true;
      },
      async getBase64ImageFromUrl(imageUrl) {
        try {
          let { data } = await this.$axios.get('/img' + link, {
            crossDomain: true,
            responseType: 'blob',
            withCredentials: true,
          });
          // let image = new Image();
          //
          // image.src = imageUrl;
          // await image.onload = (e) => {}

          // let blob = await new Blob(data);
          this.testCounter++

          return new Promise((resolve, reject) => {
            let reader  = new FileReader();
            reader.onload = function () {
              resolve(reader.result);
            };

            reader.onerror = () => {
              return reject(this);
            };
            reader.readAsDataURL(data);
          })
        } catch (e) {
          this.catch_error = true;
          this.loading = false;
        }
      },
      async load_image() {
        try {
          if(this.catch_error) return;
          this.loading = true;
          // const image_name = `https://crius-bogdan.gitlab.io/opklopper/360/threesixty_${this.loadedImages + 1}.jpg`;
          // const image_name = 'https://cors-anywhere.herokuapp.com/' + this.images_array[this.loadedImages].path;
          const image_name = this.images_array[this.loadedImages].path;

          const load_image = await this.getBase64ImageFromUrl(image_name)
                this.images.push(result)
                this.image_loaded()
        } catch (e) {

        }
      },
      image_loaded() {
        this.loadedImages += 1

        if (this.loadedImages >= this.totalFrames) {
          this.currentImage = 0
          this.showThreesixty()
          this.$refs.container.style.opacity = '1';
        }
      },
      showThreesixty() {
        this.loading = false
        this.ready = true;
        this.endFrame = 36;
        if(!this.demoMode) {
          this.refresh();
        }
        else {
          this.fakePointerTimer = window.setInterval(this.moveFakePointer, 100);
        }
      },
      moveFakePointer () {
        this.fakePointer.x += this.fakePointer.speed;
        this.trackPointer();
      },
      quitDemoMode() {
        window.clearInterval(this.fakePointerTimer);
        this.demoMode = false;
      },
      render () {
        if(this.currentFrame !== this.endFrame) {

          let frameEasing = this.endFrame < this.currentFrame ? Math.floor((this.endFrame - this.currentFrame) * 0.1) : Math.ceil((this.endFrame - this.currentFrame) * 0.1);

          this.currentFrame += frameEasing;
          this.showCurrentFrame();
        } else {
          window.clearInterval(this.ticker);
          this.ticker = 0;
        }
      },
      refresh() {
        if (this.ticker === 0) {
          this.ticker = window.setInterval(this.render, Math.round(1000 / 60));
        }
      },
      showCurrentFrame() {
        this.currentImage = this.getNormalizedCurrentFrame()
      },
      getNormalizedCurrentFrame() {
        let c = -Math.ceil(this.currentFrame % this.totalFrames);
        if (c < 0) c += (this.totalFrames - 1);
        return c;
      },
      getPointerEvent(event) {
        return event.changedTouches ? event.changedTouches[0] : event;
      },
      mousedownEvent(event) {
        this.quitDemoMode();
        event.preventDefault();
        this.pointerStartPosX = this.getPointerEvent(event).pageX;
        this.dragging = true;
      },
      mouseupEvent(event) {
        event.preventDefault();
        this.dragging = false;
      },
      mousemoveEvent(event) {
        if(this.demoMode) {
          return;
        }
        event.preventDefault();
        this.trackPointer(event);
      },
      trackPointer(event) {
        let { ready,
          dragging,
          demoMode,
          pointerEndPosX,
          getPointerEvent,
          fakePointer,
          monitorStartTime,
          monitorInt,
          pointerDistance,
          pointerStartPosX,
          currentFrame,
          totalFrames,
          speedMultiplier,
          refresh,
        } = this;
        const { container } = this.$refs;
        let userDragging = this.ready && this.dragging ? true : false;
        if(userDragging) {

          // Stores the last x position of the pointer
          this.pointerEndPosX = userDragging ? this.getPointerEvent(event).pageX : this.fakePointer.x;
          // Checks if there is enough time past between this and the last time period of tracking
          if(this.monitorStartTime < new Date().getTime() - this.monitorInt) {
            // Calculates the distance between the pointer starting and ending position during the last tracking time period
            this.pointerDistance = this.pointerEndPosX - this.pointerStartPosX;
            // Calculates the endFrame using the distance between the pointer X starting and ending positions and the "speedMultiplier" values
            this.endFrame = this.currentFrame + Math.ceil((this.totalFrames - 1) * this.speedMultiplier * (this.pointerDistance / container.offsetWidth));
            // Updates the image slider frame animation
            this.refresh();
            // restarts counting the pointer tracking period
            this.monitorStartTime = new Date().getTime();
            // Stores the the pointer X position as the starting position (because we started a new tracking period)

            this.pointerStartPosX = userDragging ? this.getPointerEvent(event).pageX : this.fakePointer.x;
          }
        } else {
          return
        }
      },
      reload_page() {
        window.location.reload(true)
      }
    },
    computed: {
      set_image() {
        return this.images[this.currentImage]
      }
    },
    updated() {
      const { container } = this.$refs;
      if (process.client && this.ready) {
        container.addEventListener('mousedown', this.mousedownEvent, false)
        document.addEventListener('mouseup', this.mouseupEvent, false)
        document.addEventListener('mousemove', this.mousemoveEvent, false)
        // Tablet and Mobile
        document.addEventListener('touchstart', this.mousedownEvent, false)
        document.addEventListener('touchmove', this.mousemoveEvent, false)
        document.addEventListener('touchend', this.mouseupEvent, false)
      }
    },
    beforeDestroy() {
      if(process.client) {
        const { container } = this.$refs;
        container.removeEventListener('mousedown', this.mousedownEvent, false)
        document.removeEventListener('mousedown', this.mouseupEvent, false)
        document.removeEventListener('mousemove', this.mousemoveEvent, false)
        // Tablet and Mobile
        document.removeEventListener('touchstart', this.mousedownEvent, false)
        document.removeEventListener('touchmove', this.mousemoveEvent, false)
        document.removeEventListener('touchend', this.mouseupEvent, false)
      }
    }
  }
</script>

<style lang="scss">
  .three-sixty {
    &__set-load,
    &__image,
    img,
    &__loading,
    &__error,
    &__images {
      width:inherit;
      height:inherit;
    }
    &__image {
      &.default-cursor {
        cursor: url("/images/cursor-default.svg"), default;
      }
      &.move-cursor {
        cursor: url("/images/cursor-dragging.svg"), default !important;
      }
    }
    &__set-load, &__loading, &__error {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__error {
      @extend %bg-reset;
      background-image: url('/images/error-360.jpg');
      align-items: flex-end;
      padding-bottom: rem(77);
    }
    &__loading {
      background-color: rgba($black, .4);
      &-animation {
        @extend %text-semibold;
        color: $white;
      }
    }
    &__images {
      transition: all .5s ease;
      position: relative;
    }
    &__image {
      background-size: cover;
      background-position: center center;
    }
    img {
      position:absolute;
      top:0;
    }

  }
</style>
