<template>
  <div ref="viewer" class="viewer">
    <div v-if="loading" class="interior-loading">
      <span>
        Loading...
      </span>
      <ScrollLoader white/>
    </div>
    <template v-if="catch_error">
      <div class="interior-error">
        <SolidButton @click="reload_page" class="interior-btn">
          Reload
        </SolidButton>
      </div>
    </template>
  </div>
</template>

<script>
  import * as THREE from 'three';
  import SolidButton from "~/components/Base/SolidButton";
  import ScrollLoader from "~/components/ScrollLoader";
  export default {
    name: "InteriorViewer",
    components: {ScrollLoader, SolidButton},
    props: {
      interior_image: String
    },
    data() {
      return {
        camera:  null,
        scene:  null,
        renderer:  null,
        element: null,
        isUserInteracting: false,
        onMouseDownMouseX: 0,
        onMouseDownMouseY: 0,
        lon: 0,
        onMouseDownLon: 0,
        lat: 0,
        onMouseDownLat: 0,
        phi: 0,
        theta: 0,
        loading: true,
        catch_error: false
      }
    },
    methods: {
      init() {

        let mesh;

        // container = document.getElementById( 'container' );

        this.camera = new THREE.PerspectiveCamera( 75, this.element.offsetWidth / this.element.offsetHeight, 1, 1100 );
        this.camera.target = new THREE.Vector3( 0, 0, 0 );

        this.scene = new THREE.Scene();

        let geometry = new THREE.SphereBufferGeometry( 500, 60, 40 );
        // invert the geometry on the x-axis so that all of the faces point inward
        geometry.scale( - 1, 1, 1 );

        let texture = new THREE.TextureLoader().load( this.interior_image, undefined,() => {
          this.loading = true
        }, () => {
          this.catch_error = true
          this.loading = false
        } );
        let material = new THREE.MeshBasicMaterial( { map: texture } );

        mesh = new THREE.Mesh( geometry, material );

        this.scene.add( mesh );

        this.renderer = new THREE.WebGLRenderer();
        this.renderer.setPixelRatio( window.devicePixelRatio );
        this.renderer.setSize( this.element.offsetWidth, this.element.offsetHeight );
        this.element.appendChild( this.renderer.domElement );

        this.element.addEventListener( 'mousedown', this.onPointerStart, false );
        this.element.addEventListener( 'mousemove', this.onPointerMove, false );
        this.element.addEventListener( 'mouseup', this.onPointerUp, false );

        this.element.addEventListener( 'wheel', this.onDocumentMouseWheel, false );

        this.element.addEventListener( 'touchstart', this.onPointerStart, false );
        this.element.addEventListener( 'touchmove', this.onPointerMove, false );
        this.element.addEventListener( 'touchend', this.onPointerUp, false );

        document.addEventListener( 'touchstart', this.onPointerStart, false);
        document.addEventListener( 'touchmove', this.onPointerMove, false);
        document.addEventListener( 'touchend', this.onPointerUp, false);

        this.element.addEventListener( 'dragover', this.dragoverEvent, false );

        this.element.addEventListener( 'dragenter', this.dragenterEvent, false );

        this.element.addEventListener( 'dragleave', this.dragleaveEvent, false );

        this.element.addEventListener( 'drop', function ( event ) {

          event.preventDefault();

          var reader = new FileReader();
          reader.addEventListener( 'load', function ( event ) {

            material.map.image.src = event.target.result;
            material.map.needsUpdate = true;

          }, false );
          reader.readAsDataURL( event.dataTransfer.files[ 0 ] );

          document.body.style.opacity = 1;

        }, false );

        //
        this.element.addEventListener( 'resize', this.onWindowResize, false );

      },
      onWindowResize() {

        this.camera.aspect = this.element.offsetWidth / this.element.offsetHeight;
        this.camera.updateProjectionMatrix();

        this.renderer.setSize( this.element.offsetWidth, this.element.offsetHeight);

      },
      dragoverEvent(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = 'copy';
      },
      dragenterEvent() {
        this.element.style.opacity = '0.5';
      },
      dragleaveEvent() {
        this.element.style.opacity = '1';
      },
      onPointerStart( event ) {
        this.isUserInteracting = true;

        let clientX = event.clientX || event.touches[ 0 ].clientX;
        let clientY = event.clientY || event.touches[ 0 ].clientY;

        this.onMouseDownMouseX = clientX;
        this.onMouseDownMouseY = clientY;

        this.onMouseDownLon = this.lon;
        this.onMouseDownLat = this.lat;
      },
      onPointerMove( event ) {
        if ( this.isUserInteracting === true ) {
          let clientX = event.clientX || event.touches[ 0 ].clientX;
          let clientY = event.clientY || event.touches[ 0 ].clientY;
          const speed = window.innerWidth < 1100 ? 0.5 : 0.1;
          this.lon = ( this.onMouseDownMouseX - clientX ) * speed + this.onMouseDownLon;
          this.lat = ( clientY - this.onMouseDownMouseY ) * speed + this.onMouseDownLat;
        }
      },
      onPointerUp() {
        this.isUserInteracting = false;
      },
      onDocumentMouseWheel( event ) {
        let fov = this.camera.fov + event.deltaY * 0.05;
        this.camera.fov = THREE.MathUtils.clamp( fov, 10, 75 );
        this.camera.updateProjectionMatrix();
      },
      animate() {
        requestAnimationFrame( this.animate );
        this.update();
      },
      update() {
        this.lat = Math.max( - 85, Math.min( 85, this.lat ) );
        this.phi = THREE.MathUtils.degToRad( 90 - this.lat );
        this.theta = THREE.MathUtils.degToRad( this.lon );

        this.camera.target.x = 500 * Math.sin( this.phi ) * Math.cos( this.theta );
        this.camera.target.y = 500 * Math.cos( this.phi );
        this.camera.target.z = 500 * Math.sin( this.phi ) * Math.sin( this.theta );

        this.camera.lookAt( this.camera.target );

        this.renderer.render( this.scene, this.camera );
      },
      reload_page() {
        window.location.reload(true)
      }
    },
    mounted() {
      if (process.client) {
        this.element = this.$refs.viewer
        this.init()
        this.animate()
        setTimeout(() => this.loading = false, 1500)
      }
    },
    beforeDestroy() {
      if (process.client) {
        cancelAnimationFrame(this.animate)
        this.element.appendChild( this.renderer.domElement );

        this.element.removeEventListener( 'mousedown', this.onPointerStart );
        this.element.removeEventListener( 'mousemove', this.onPointerMove );
        this.element.removeEventListener( 'mouseup', this.onPointerUp );

        this.element.removeEventListener( 'wheel', this.onDocumentMouseWheel );

        this.element.removeEventListener( 'touchstart', this.onPointerStart );
        this.element.removeEventListener( 'touchmove', this.onPointerMove );
        this.element.removeEventListener( 'touchend', this.onPointerUp );

        document.removeEventListener( 'touchstart', this.onPointerStart );
        document.removeEventListener( 'touchmove', this.onPointerMove );
        document.removeEventListener( 'touchend', this.onPointerUp );

        this.element.removeEventListener( 'dragover', this.dragoverEvent );

        this.element.removeEventListener( 'dragenter', this.dragenterEvent );

        this.element.removeEventListener( 'dragleave', this.dragleaveEvent );
        this.element.removeEventListener( 'resize', this.onWindowResize );
        this.element.removeChild( this.renderer.domElement );
      }
    }
  }
</script>

<style lang="scss">
.viewer {
  width: inherit;
  height: inherit;
  canvas {
    width: inherit !important;
    height: inherit !important;
    cursor: url("/images/cursor-interior.svg"), default;
  }
  .interior-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: inherit;
    background-color: rgba($black, .7);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @extend %text-semibold;
    color: $white;
  }
  .interior-error {
    width: inherit;
    height: inherit;
    @extend %bg-reset;
    display: flex;
    justify-content: center;
    background-image: url('/images/error-360.jpg');
    align-items: flex-end;
    padding-bottom: rem(77);
  }
}
</style>
