<template>
  <InventoryAccordion :is_should_close="current_block !== 'Body type' && value.length === 0" @change-block-name="change_current_block('Body type')" title="Body type">
    <div class="filter-wrap">
      <template v-if="current_block === 'Body type'">
        <template v-for="checkbox in checkboxes">
          <CheckboxButton @input="change_val"
                          :is_checked="value.includes(checkbox)"
                          :name="checkbox"
                          :key="checkbox">
            <simple-svg slot="icon" :src="`images/inventory-filter-icons/${checkbox.toLowerCase()}.svg`"/>
            <span slot="text">{{ checkbox }}</span>
          </CheckboxButton>
        </template>
      </template>
      <template v-if="value.length > 0">
        <FilterHelperTags is_checkboxes :tags="value" @change="change_val"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import CheckboxButton from "~/components/Base/CheckboxButton";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  import inventory_checkboxes_block_methods from '~/mixins/inventory_checkboxes_block_methods'
  import current_block_filter from "~/mixins/current_block_filter";
  export default {
    name: "InventoryFilterBodyType",
    components: {FilterHelperTags, CheckboxButton, InventoryAccordion},
    mixins: [inventory_checkboxes_block_methods, current_block_filter]
  }
</script>

<style lang="scss" scoped>

</style>
