<template>
  <InventoryAccordion :is_should_close="current_block !== 'Kilometres' && tags.length === 0" @change-block-name="change_current_block('Kilometres')" title="Kilometres">
    <div class="filter-wrap">
      <template v-if="current_block === 'Kilometres'">
        <div class="filter-wrapper">
          <div class="filter-label">
            {{ value | number_format }} <span>or less</span>
          </div>
          <div class="filter-label">

          </div>
        </div>
        <vue-slider :min="0"
                    :max="200000"
                    :interval="10"
                    :clickable="false"
                    v-model="slider_val"
                    @drag-end="end_change"
                    :enable-cross="false"
                    tooltip="none"
                    :height="dot_size ? 10 : 8"
                    :dotSize="dot_size ? 23 : 18"/>
      </template>
      <template v-if="tags.length > 0">
        <FilterHelperTags is_kilometres @change="clear_tags" :tags="tags"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';
  import 'vue-slider-component/dist-css/vue-slider-component.css';
  import number_formatter from "~/mixins/number_formatter";
  import current_block_filter from "~/mixins/current_block_filter";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  export default {
    name: "InventoryFilterKilometres",
    components: {FilterHelperTags, InventoryAccordion, VueSlider},
    mixins: [number_formatter, current_block_filter],
    props: {
      value: Number,
      clear_filters: Boolean,
    },
    data() {
      return {
        change_val: null,
        tags: []
      }
    },
    computed: {
      slider_val: {
        get() {
          return this.value;
        },
        set(value) {
          this.$emit('input', { value, can_send: false })
          this.change_val = value;
        },
      },
      dot_size() {
        return window.innerWidth < 1100
      }
    },
    watch: {
      clear_filters(val) {
        if(val) this.tags = []
      }
    },
    methods: {
      end_change() {
        this.$emit('input', { value: this.change_val, can_send: true })
        if(this.change_val === 0) {
          this.tags = []
          return
        }
        this.tags = [` ${new Intl.NumberFormat('en-US').format(this.change_val)}`]
      },
      clear_tags(value) {
        this.$emit('input', value)
        this.tags = []
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
