<template>
  <InventoryAccordion :is_should_close="current_block !== 'Make, Model' && make_tags.length === 0 && model_tags.length === 0" @change-block-name="change_current_block('Make, Model')" title="Make, Model">
    <div class="filter-wrap">
      <template v-if="make_tags.length === 0">
        <div class="filter-label">
          Make
        </div>
        <SearchInput class="_mb-10 -drop-position-relative"
                     @input="change_val"
                     v-model="value.make"
                     field_name="make"
                     :options="make"
                     placeholder="Search Make..."/>
      </template>
      <template v-if="make_tags.length > 0">
        <FilterHelperTags :tags="make_tags"
                          tags_name="make"
                          @change="change_val"/>
      </template>
      <template v-if="model_tags.length === 0">
        <div class="filter-label">
          Model
        </div>
        <SearchInput class="_mb-10 -drop-position-relative"
                     @input="change_val"
                     v-model="value.model"
                     field_name="model"
                     :options="models"
                     placeholder="Search Model..."/>
      </template>
      <template v-if="model_tags.length > 0">
        <FilterHelperTags :tags="model_tags"
                          tags_name="model"
                          @change="change_val"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import SearchInput from "~/components/Base/SearchInput";
  import TagButton from "~/components/Base/TagButton";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  import current_block_filter from "~/mixins/current_block_filter";
  export default {
    name: "InventoryFilterMakeModel",
    components: {FilterHelperTags, TagButton, SearchInput, InventoryAccordion},
    mixins: [current_block_filter],
    props: {
      make: Array,
      model: Array,
      value: Object
    },
    computed: {
      make_tags() {
        if(this.value.make) {
          return this.make.filter(el => el.id === this.value.make).map(el => {
            return el.name
          });
        }
        return []
      },
      model_tags() {
        if(this.value.model) {
          return this.model.filter(el => el.id === this.value.model).map(el => {
            return el.name
          });
        }
        return []
      },
      models() {
        // if(this.value.make) {
          return this.value.make ? this.model.filter((el) => {
            console.log(el, this.value.make)
            console.log(el.make_id === this.value.make)
            return el.make_id === this.value.make
          }) : []
        // }
        // return this.model
      },
    },
    methods: {
      change_val({ name, id }) {
        this.$emit("input", { name, id })
      }
    },
  }
</script>

<style lang="scss">

</style>
