<template>
  <InventoryAccordion :is_should_close="current_block !== 'Price' && tags.length === 0"  @change-block-name="change_current_block('Price')" title="Price">
    <div class="filter-wrap">
      <template v-if="current_block === 'Price'">
        <div class="filter-wrapper">
          <div class="filter-label">
            $ {{ value.from | number_format }}
          </div>
          <div class="filter-label">
            $ {{ value.to | number_format }}
          </div>
        </div>
        <vue-slider :min="0"
                    :max="250000"
                    :interval="100"
                    :clickable="false"
                    v-model="slider_val"
                    @drag-end="end_change"
                    :enable-cross="false"
                    tooltip="none"
                    :height="dot_size ? 10 : 8"
                    :dotSize="dot_size ? 23 : 18"/>
      </template>
      <template v-if="tags.length > 0">
        <FilterHelperTags @change="clear_tags" is_double_range is_price_range :tags="tags"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';
  import 'vue-slider-component/dist-css/vue-slider-component.css';
  import number_formatter from "~/mixins/number_formatter";
  import double_slider_methods from "~/mixins/double_slider_methods";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  import current_block_filter from "~/mixins/current_block_filter";
  export default {
    name: "InventoryFilterPrice",
    components: {FilterHelperTags, InventoryAccordion, VueSlider},
    mixins: [number_formatter, double_slider_methods, current_block_filter],
    data() {
      return {
        is_price: true
      }
    },
  }
</script>

<style lang="scss">

</style>
