<template>
  <InventoryAccordion :is_should_close="current_block !== 'Transmission' && value.length === 0" @change-block-name="change_current_block('Transmission')" title="Transmission">
    <div class="filter-wrap">
      <template v-if="current_block === 'Transmission'">
        <CheckboxButton @input="change_val"
                        :is_checked="value.includes('Automatic')"
                        name="Automatic">
          <span slot="text">Automatic</span>
        </CheckboxButton>
        <CheckboxButton @input="change_val"
                        :is_checked="value.includes('Manual')"
                        name="Manual">
          <span slot="text">Manual</span>
        </CheckboxButton>
      </template>
      <template v-if="value.length > 0">
        <FilterHelperTags is_checkboxes :tags="value" @change="change_val"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import CheckboxButton from "~/components/Base/CheckboxButton";
  import inventory_checkboxes_block_methods from "~/mixins/inventory_checkboxes_block_methods";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  import current_block_filter from "~/mixins/current_block_filter";
  export default {
    name: "InventoryFilterTransmission",
    components: {FilterHelperTags, CheckboxButton, InventoryAccordion},
    mixins: [inventory_checkboxes_block_methods, current_block_filter]
  }
</script>

<style lang="scss" scoped>

</style>
