<template>
  <InventoryAccordion :is_should_close="current_block !== 'Year' && tags.length === 0" @change-block-name="change_current_block('Year')" title="Year">
    <div class="filter-wrap">
      <template v-if="current_block === 'Year'">
        <div class="filter-wrapper">
          <div class="filter-label">
            {{ value.from }}
          </div>
          <div class="filter-label">
            {{ value.to }}
          </div>
        </div>
        <vue-slider :min="2005"
                    :max="max"
                    v-model="slider_val"
                    :clickable="false"
                    @drag-end="end_change"
                    :enable-cross="false"
                    tooltip="none"
                    :height="dot_size ? 10 : 8"
                    :dotSize="dot_size ? 23 : 18"/>
      </template>
      <template v-if="tags.length > 0">
        <FilterHelperTags @change="clear_tags" is_double_range :tags="tags"/>
      </template>
    </div>
  </InventoryAccordion>
</template>

<script>
  import InventoryAccordion from "~/components/inventory/Accordion";
  import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';
  import 'vue-slider-component/dist-css/vue-slider-component.css';
  import double_slider_methods from "~/mixins/double_slider_methods";
  import current_block_filter from "~/mixins/current_block_filter";
  import FilterHelperTags from "~/components/inventory/filters/helpers/Tags";
  export default {
    name: "InventoryFilterYear",
    components: {FilterHelperTags, InventoryAccordion, VueSlider},
    mixins: [double_slider_methods, current_block_filter],
    data() {
      return {
        max: new Date().getFullYear(),
        is_year: true
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
