<template>
  <div class="c-inv-accordion" @click="emit_change_block">
    <div @click="open" :class="{ open: is_open }" class="c-inv-accordion__wrap">
      <h4 class="c-inv-accordion__title">
        {{ title }}
      </h4>
      <div class="c-inv-accordion__icon" :class="{ open: is_open }">
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 1L9 9L1 1" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div class="c-inv-accordion__content" :class="{ open: is_open }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "InventoryAccordion",
    props: {
      title: String,
      focus_name: String,
      is_should_close: Boolean,
    },
    data() {
      return {
        is_open: false
      }
    },
    updated() {
      this.is_open = !this.is_should_close
    },
    methods: {
      open() {
        this.is_open = !this.is_open
      },
      emit_change_block() {
        this.$emit('change-block-name')
      }
    },
  }
</script>

<style lang="scss">
.c-inv-accordion {
  border-radius: 2px;
  border: 1px solid $gray;
  background-color: $white;
  padding: 0 rem(20);
  transition: height .3s ease;
  margin-bottom: rem(10);
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(45);
    cursor: pointer;
    &.open {
      margin-bottom: rem(20);
    }
  }
  &__title {
    @extend %text-placeholder;
    color: $content;
  }
  &__content {
    transition: max-height .5s ease;
    height: 0;
    max-height: 0;
    overflow: hidden;

    &.open {
      height: 100%;
      max-height: 500px;
      padding-bottom: rem(20);
      overflow: visible;
    }
  }
  &__icon {
    transition: all .3s ease;
    &.open {
      transform: rotate(180deg);
    }
  }
}
.filter {
  &-label {
    @extend %text-menu;
    color: $content;
    margin-bottom: 10px;
    span {
      color: $text;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
._mb-10 {
  margin-bottom: rem(10);
}
._mb-20 {
  margin-bottom: rem(20);
}
</style>
