<template>
  <a :href="`/inventory/car/${id}`" target="_blank" class="c-car-card">
    <figure class="c-car-card__img">
      <div class="c-car-card__img-wrap"
           @touchmove="change_image(index)"
           @touchstart="change_image(index)"
           @mouseover="change_image(index)"
           @mouseout="current_image = 0"
           @touchend="current_image = 0"
           v-for="(img, index) in images" :key="img.id">
        <transition name="car-card">
          <img class="c-car-card__img-item" v-show="current_image === index" v-lazy="img.thumb" :alt="img.title">
        </transition>
      </div>
      <div class="c-car-card__progress">
        <span :style="{ width: progress + '%' }"></span>
      </div>
    </figure>
    <div class="c-car-card__content">
      <h2 class="c-car-card__title">
        {{ name }}
      </h2>
      <div class="c-car-card__price">
        $ {{ price | number_format }}
      </div>
      <ul class="c-car-card__list">
        <li class="c-car-card__list-item">
          {{ new Date(year).getFullYear() }}
        </li>
        <li class="c-car-card__list-item separator">
          |
        </li>
        <li class="c-car-card__list-item">
          {{ body }}
        </li>
        <li class="c-car-card__list-item separator">
          |
        </li>
        <li class="c-car-card__list-item">
          {{ transmission }}
        </li>
        <li class="c-car-card__list-item separator">
          |
        </li>
        <li class="c-car-card__list-item">
          {{ kilometers | number_format }} km
        </li>
      </ul>
    </div>
  </a>
</template>

<script>
  import number_formatter from '~/mixins/number_formatter';
  export default {
    name: "InventoryCar",
    props: {
      id: Number,
      name: String,
      price: Number,
      year: String,
      body: String,
      transmission: String,
      kilometers: Number,
      images: Array,
    },
    mixins: [number_formatter],
    data() {
      return {
        current_image: 0
      }
    },
    computed: {
      progress() {
        return this.current_image === 0 ? 25 : this.current_image === 1 ? 50 : this.current_image === 2 ? 75 : 100
      }
    },
    methods: {
      change_image(index) {
        this.current_image = index
      }
    },
  }
</script>

<style lang="scss">
.car-card-enter-active, .car-card-leave-active {
  transition: opacity .5s;
}
.car-card-enter, .car-card-leave-to {
  opacity: 0;
}
.c-car-card {
  display: block;
  width: 100%;
  background-color: $white;
  border-radius: 5px;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  @include for-width(+tablet) {
    width: rem(350);
  }
  @include for-width(+desktop) {
    width: rem(420);
  }
  &__img {
    position: relative;
    display: flex;
    width: inherit;
    height: rem(156);
    overflow: hidden;
    @include for-width(+tablet) {
      height: rem(180);
    }
    @include for-width(+desktop) {
      height: rem(216);
    }
    &-wrap {
      width: inherit;
      height: inherit;
    }
    &-item {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: inherit;
      height: auto;
    }
  }
  &__progress {
    position: absolute;
    bottom: rem(5);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    height: rem(5);
    background-color: rgba($white, .2);
    border-radius: rem(28);
    span {
      display: block;
      width: 20%;
      height: 100%;
      background-color: rgba($white, .7);
      border-radius: rem(28);
      transition: all .3s ease;
    }
  }
  &__content {
    padding: rem(20);
  }
  &__title {
    @extend %text-semibold;
    color: $content;
    margin-bottom: rem(10);
  }
  &__price {
    @extend %text-semibold;
    color: $accent;
    margin-bottom: rem(20);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      @extend %text-regular-16;
      color: $content;
      &.separator {
        color: $gray;
        margin: 0 rem(20);
        @include for-width(-tablet) {
          margin: 0 rem(10);
        }
      }
    }
  }
}
</style>
