<template>
  <header class="b-header inventory">
    <div class="b-header__inner">
      <div class="b-header__logo">
        <Logotype/>
        <template v-if="$route.name !== 'inventory-car-id'">
          <h1 class="b-header__text">
            Inventory
          </h1>
        </template>
      </div>
      <div class="-flex-fill"></div>
      <div class="b-header__item _ml -show-on-tablet"></div>
      <template v-if="$route.name === 'inventory-car-id'">
        <div class="b-header__item _ml -show-on-tablet">
            <nuxt-link class="c-linear-button -no-wrap _header-request _ml" to="/inventory">
              Inventory
            </nuxt-link>
        </div>
      </template>
        <div class="b-header__item _ml -show-on-tablet">
          <template v-if="$route.name === 'inventory-car-id'">
            <button @click="apply_car" class="c-solid-button -no-wrap _header-request _ml">
              Apply for this vehicle
            </button>
          </template>
          <template v-else>
            <nuxt-link @click="apply_car" class="c-solid-button -no-wrap _header-request _ml" to="/request-car">
              Request a car
            </nuxt-link>
          </template>
        </div>
      <div class="b-header__item _ml-2 _mr-burger">
        <BurgerButton :is_active="!!overlay" @click="!overlay ? overlay = 'OverlayMenu' : null"/>
      </div>
    </div>
  </header>
</template>

<script>
  import Logotype from '~/components/Base/Logotype';
  import BurgerButton from '~/components/Base/BurgerButton';
  import { mapFields } from 'vuex-map-fields';

  export default {
    name: "InventoryHeader",
    components: {
      Logotype,
      BurgerButton,
    },
    computed: {
      ...mapFields('overlay', [
        'overlay',
      ]),
      ...mapFields('car', [
        'car',
      ]),
    },
    methods: {
      apply_car() {
        this.$store.dispatch('quiz/add_car', this.car)
        this.$router.push('/request-car')
      }
    },
  }
</script>

<style lang="scss">

</style>
