<template>
  <div class="observer"/>
</template>

<script>
  export default {
    name: "InventoryObserver",
    props: {
      options: Object
    },
    data: () => ({
      observer: null
    }),
    mounted() {
      const options = this.options || {};
      this.observer = new IntersectionObserver(([entry]) => {
        if (entry && entry.isIntersecting) {
          this.$emit("intersect");
        }
      }, options);

      this.observer.observe(this.$el);
    },
    destroyed() {
      this.observer.disconnect();
    }
  }
</script>

<style lang="scss" scoped>

</style>
