<template lang="pug">
  .b-videos
    .b-videos__items
      .b-video(
        v-for="(item, index) in filteredVideos"
        :key="index"
      )
        .b-video__image(
          @click="setVideoId(item.youtube)"
        )
          img(v-lazy="`https://api.vehicleapprovalcentre.com/storage/app/media${item.preview}`")
          PlayButton
        .b-video__title
          | {{item.title}}
    client-only
      infinite-loading(
        @infinite="infiniteHandler"
      )
        ScrollLoader(slot="spinner")
        template(slot="no-more")
          .-empty

    transition(
      name="_overlay"
    )
      .b-video-overlay(
        v-if="youtubeId"
        tabindex="0"
      )
        .b-video-overlay__outline(
          @click="setVideoId(null)"
        )
        .b-video-overlay__main(
          ref="main"
        )
          .b-video-overlay__player
            iframe(
              :src="youtubeId"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            )
          .b-video-overlay__close
            BurgerButton._inversed(
              is_active
              @click="setVideoId(null)"
            )
</template>

<script>
  import PlayButton from '~/components/Base/PlayButton';
  import BurgerButton from '~/components/Base/BurgerButton';
  import InfiniteLoading from 'vue-infinite-loading';
  import ScrollLoader from '~/components/ScrollLoader';
  import { clearAllBodyScrollLocks, disableBodyScroll } from 'body-scroll-lock';
  import sleep from '~/utils/sleep';

  export default {
    name: 'Videos',
    components: {
      BurgerButton,
      PlayButton,
      InfiniteLoading,
      ScrollLoader,
    },
    props: {
      videos: Array,
    },
    data: () => ({
      youtubeId: null,
      page: 1,
      slice: 4,
    }),
    created() {
      const $vm = this;
      if (process.client) {
        document.addEventListener('keyup', function (event) {
          if (event.keyCode === 27) {
            $vm.youtubeId = null;
            clearAllBodyScrollLocks();
          }
        });
      }
    },
    computed: {
      filteredVideos() {
        const limit = this.page * this.slice;
        return this.videos.slice(0, limit);
      },
    },
    methods: {
      setVideoId(url) {
        // Get id for iframe src.
        let id = !!url ? url.replace(/(.*)v\=(.*)/, '$2') : null;
        this.youtubeId = id
          ? 'https://www.youtube.com/embed/' + id + '?autoplay=1&mute=0'
          : null;
        const element = this.$refs.main;
        if (!!this.youtubeId) {
          disableBodyScroll(element);
        } else {
          clearAllBodyScrollLocks();
        }
      },
      ready(event) {
        this.player = event.target;
        this.player.playVideo();
      },
      async infiniteHandler($state) {
        await sleep(500);
        this.page += 1;
        await sleep(500);
        $state.loaded();

        if ((this.page * this.slice) >= this.videos.length) {
          $state.complete();
        }
      },
    },
  };
</script>
