<template lang="pug">
  .b-calculator
    .b-calculator__inner
      .b-calculator__header(
        data-aos="fade"
        data-aos-duration="600"
        data-aos-offset="100"
        data-aos-anchor-placement="top-bottom"
      )
        .b-calculator__title.-aos-calculator-title
          | {{title}}
        .b-calculator__text
          | {{text}}
      .b-calculator__controls(
        data-aos="fade-up"
        data-aos-duration="300"
        data-aos-offset="100"
      )
        .b-calculator__a
          .b-calculator__tabs
            component(
              v-for="(tab, index) in tabs"
              :key="index"
              :is="currentTab === tab ? 'SolidButton' : 'LinearButton'"
              type="button"
              @click="currentTab = tab"
              v-html="tab"
            )

          .b-calculator__sliders
            .b-calculator__slider
              .b-calculator-slider__header
                .b-calculator-slider__label
                  | Loan Amount
                .b-calculator-slider__value
                  | $ {{formattedAmount}}
              template(v-if="!init_amount")
                vue-slider(
                  :min="5000"
                  :max="80000"
                  :interval="500"
                  v-model="amount"
                  :enable-cross="false"
                  :disabled="!!init_amount"
                  tooltip="none"
                  :height="8"
                  :dotSize="18"
                )
              template(v-else)
                .b-calculator-slider__hidden
            .b-calculator__slider
              .b-calculator-slider__header
                .b-calculator-slider__label
                  | Loan Duration
                .b-calculator-slider__value
                  | {{duration}}
                  span.b-calculator-slider__unit month
              vue-slider(
                :min="1"
                :max="96"
                v-model="duration"
                :enable-cross="false"
                tooltip="none"
                :height="8"
                :dotSize="18"
              )

        .b-calculator__b(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="100"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-calculator__sidebar
            .b-calculator__sidebar-item._s-lg
              .b-calculator__label
                | Bi-Weekly Payment
              .b-calculator__value._s-lg
                | $ {{calc.twoWeeks}}
            .b-sidebar__divider
            .b-calculator__sidebar-item
              .b-calculator__label
                | Monthly Payment
              .b-calculator__value
                | $ {{calc.month}}
            .b-calculator__sidebar-item
              .b-calculator__label
                | Weekly Payment
              .b-calculator__value
                | $ {{calc.week}}
          .b-calculator__button
            template(v-if='is_car_page')
              button.c-solid-button._w-full(@touchstart="emitClick" @click="emitClick")
                | Request a car
            template(v-else)
              nuxt-link.c-solid-button._w-full(to="/request-car")
                | Request a car
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import SolidButton from '~/components/Base/SolidButton'
  import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';
  import 'vue-slider-component/dist-css/vue-slider-component.css';
  // import 'vue-slider-component/theme/material.css';

  // const round = n => Math.round( n * 1e2 ) / 1e2;
  const round = n => Math.round(n);
  const formatter = new Intl.NumberFormat();

  export default {
    name: 'Calculator',
    components: {
      SolidButton,
      LinearButton,
      VueSlider,
    },
    props: {
      title: String,
      text: String,
      init_amount: {
        type: [Number, String],
        required: false
      },
      is_car_page: Boolean,
    },
    data: () => ({
      currentTab: 'poor',
      tabs: [
        'poor',
        'average',
        'good',
      ],
      amount: 50000,
      duration: 12,
    }),
    computed: {
      formattedAmount() {
        return formatter.format(this.amount);
      },
      calc() {
        const {
          amount,
          duration,
          currentTab,
        } = this;

        let calc = amount / 100;

        let multiplier;

        switch (currentTab) {
          case 'poor':
            multiplier = 20;
            break;
          case 'average':
            multiplier = 12.5;
            break;
          case 'good':
            multiplier = 5;
            break;
        }

        calc = calc * multiplier + amount;


        const month = round(calc / duration);
        const week = round(calc / duration / 4);
        const twoWeeks = round(week * 2);

        return {
          month: formatter.format(month),
          week: formatter.format(week),
          twoWeeks: formatter.format(twoWeeks),
        };
      },
    },
    created() {
      if(this.init_amount) {
        this.amount = this.init_amount;
      }
    },
    methods: {
      emitClick() {
        this.$emit('click')
      }
    },
  };
</script>

<style lang="scss">
  .b-calculator {
    @extend %layout-padding-x;
    min-height: rem(290);
    box-sizing: border-box;
  }

  .b-calculator__inner {
  }

  .b-calculator__header {
    @include for-width(+tablet) {
      display: flex;
    }
  }

  .b-calculator__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(10);

    @include for-width(+tablet) {
      margin-bottom: rem(20);
    }

    @include for-width(tablet, desktop) {
      flex: 0 0 50%;
      margin-bottom: 0;
    }

    @include for-width(+desktop) {
      flex: 0 0 50%;
      padding-right: rem(100);
      margin-bottom: 0;
    }
  }

  .b-calculator__text {
    @extend %text-regular-16;
    color: $text;

    @include for-width(tablet, desktop) {
      flex: 0 0 50%;
      padding-left: rem(62);
      padding-top: rem(12);
    }

    @include for-width(+desktop) {
      flex: 0 0 50%;
      padding-top: rem(8);
    }
  }

  .b-calculator__controls {
    display: flex;
    margin: rem(30) rem(-15) 0;

    @include for-width(+tablet) {
      margin-top: rem(60);
    }

    @include for-width(-desktop) {
      flex-direction: column;
      filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
    }
  }

  .b-calculator__a,
  .b-calculator__b {
    background: $white;
    padding: rem(20);
    margin: 0 rem(15);

    @include for-width(+tablet) {
      padding: rem(40);
    }

    @include for-width(+desktop) {
      padding: rem(60);
      filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
    }
  }

  .b-calculator__a {
    @include for-width(-tablet) {
      padding-bottom: rem(40);
    }

    @include for-width(tablet, desktop) {
      padding-bottom: rem(32);
    }

    @include for-width(+desktop) {
      flex: 1 1 auto;
    }
  }

  .b-calculator__b {
    @include for-width(-desktop) {
      padding-top: 0;
    }

    @include for-width(+desktop) {
      flex: 0 0 rem(366);
    }
  }

  .b-calculator__tabs {
    display: flex;

    @include for-width(-tablet) {
      width: 100%;

      button {
        flex: 1 1 auto;
        padding-right: rem(8) !important;
        padding-left: rem(8) !important;
      }
    }

    button {
      width: auto;
      min-width: auto;
      border-radius: 0;
      padding-right: rem(24);
      padding-left: rem(24);
      transition: background-color 0.5s ease, color 0.5s ease;

      &:not(:first-child) {
        margin-left: rem(-1);
      }

      &:first-child {
        border-top-left-radius: rem(2);
        border-bottom-left-radius: rem(2);
      }

      &:last-child {
        border-top-right-radius: rem(2);
        border-bottom-right-radius: rem(2);
      }

      &:hover {
        z-index: 10;
      }

      @include for-width(+tablet) {
        height: rem(50);
        padding-right: rem(33);
        padding-left: rem(33);
      }
    }
  }

  .b-calculator__sidebar {
    @include for-width(-tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: rem(-10) rem(-8);
    }

    @include for-width(tablet, desktop) {
      display: flex;
      margin: rem(-20);
    }
  }

  .b-calculator__sidebar-item {
    @include for-width(-tablet) {
      margin: rem(10) rem(8);

      &._s-lg {
        flex: 1 1 100%;
      }
    }

    @include for-width(tablet, desktop) {
      margin: rem(20);
    }
  }

  .b-sidebar__divider {
    display: none;

    @include for-width(tablet, desktop) {
      display: block;
      flex: 1 0 auto;
    }
  }

  .b-calculator__label {
    @extend %text-regular-16;
    color: $text;
  }

  .b-calculator__value {
    @extend %h4-title;
    color: $content;

    &._s-lg {
      @extend %h2-title;
      color: $accent;
    }

    @include for-width(-tablet) {
      margin-top: rem(4);

      &._s-lg {
        margin-top: rem(6);
        margin-bottom: rem(-9);
      }
    }

    @include for-width(+desktop) {
      margin-top: rem(-2);
      margin-bottom: rem(16);

      &:not(._s-lg) {
        line-height: rem(42);
      }

      &._s-lg {
        margin-top: 0;
        margin-bottom: rem(31);
      }
    }
  }

  .b-calculator__button {
    @include for-width(-tablet) {
      margin-top: rem(40);
    }

    @include for-width(tablet, desktop) {
      max-width: rem(250);
      margin-top: rem(40);
    }

    @include for-width(+desktop) {
      margin-top: rem(36);
    }
  }

  .b-calculator__slider {
    @include for-width(-tablet) {
      margin-top: rem(18);

      &:first-child {
        margin-top: rem(44);
      }
    }

    @include for-width(+tablet) {
      margin-top: rem(36);
    }

    @include for-width(+desktop) {
      margin-top: rem(56);
    }
  }

  .b-calculator-slider__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(16);

    @include for-width(+tablet) {
      margin-bottom: rem(21);
    }
  }

  .b-calculator-slider__label {
    @extend %text-semibold;
    color: $content;
  }

  .b-calculator-slider__value {
    @extend %h4-title;
    line-height: 1;
    color: $content;

    @include for-width(+tablet) {
      padding-top: rem(4);
    }
  }

  .b-calculator-slider__unit {
    @extend %btn-text;
    color: $text;
    margin-left: rem(4);
  }
  .b-calculator-slider__hidden {
    width: 100%;
    height: rem(1);
    background-color: $gray;
  }
</style>
