<template lang="pug">
  a(href="https://interactivedesign.io" target="_blank").b-created-by
    span.b-created-by__label
      | Created by
    simple-svg(
      customClassName="b-svg-icon"
      src="/images/icons/studio.svg"
    )
</template>

<script>

  export default {
    name: 'CreatedBy',
  };
</script>

<style lang="scss">
  .b-created-by {
    display: flex;
    align-items: center;
  }

  .b-created-by__label {
    margin-right: rem(8);
    color: $white;
  }
</style>
