<template lang="pug">
  footer.b-footer
    .b-footer__inner
      .b-footer__logo
        Logotype(type="inversed")
      .b-footer__links
        nuxt-link(:to="{name: 'terms-conditions'}")
          | Terms
        nuxt-link(:to="{name: 'privacy-policy'}")
          | Privacy
      .-flex-new-line.-hide-on-tablet
      .b-footer__social
        .b-footer__icons
          a.b-footer__icon(href="https://www.instagram.com/vehicleapprovalcentre/" target="_blank")
            svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M14.857 10.695a4.137 4.137 0 0 0-4.128 4.13c0 2.29 1.838 4.128 4.129 4.128 2.29 0 4.129-1.87 4.129-4.129 0-2.258-1.871-4.129-4.13-4.129zm0 6.774a2.657 2.657 0 0 1-2.645-2.645 2.657 2.657 0 0 1 2.646-2.645 2.657 2.657 0 0 1 2.645 2.645 2.657 2.657 0 0 1-2.646 2.646zm4.293-5.935a.936.936 0 1 0 0-1.87.936.936 0 0 0 0 1.87z" fill="#7481FF")
              path(d="M21.567 8.18c-.839-.871-2.032-1.323-3.387-1.323h-6.645c-2.807 0-4.678 1.87-4.678 4.677v6.613c0 1.387.452 2.58 1.355 3.452.871.839 2.033 1.258 3.355 1.258h6.58c1.388 0 2.55-.452 3.388-1.258.87-.839 1.322-2.032 1.322-3.42v-6.645c0-1.354-.451-2.516-1.29-3.354zm-.129 10c0 1-.355 1.806-.935 2.354-.581.549-1.387.84-2.355.84h-6.58c-.969 0-1.775-.291-2.356-.84-.58-.58-.87-1.387-.87-2.387v-6.613c0-.967.29-1.774.87-2.354.549-.549 1.387-.84 2.355-.84h6.645c.968 0 1.774.291 2.355.872.549.58.871 1.387.871 2.322v6.646z" fill="#7481FF")
          a.b-footer__icon(href="https://www.facebook.com/vehicleapprovalcentre/" target="_blank")
            svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M17.956 22.495v-6.887h2.33l.582-2.87h-2.912v-1.147c0-1.148.583-1.722 1.747-1.722h1.165V7h-2.33c-2.14 0-3.495 1.653-3.495 4.017v1.722h-2.33v2.87h2.33v6.886h2.913z" fill="#7481FF")
          a.b-footer__icon(href="https://www.youtube.com/channel/UCmcQm7uYRQB7mAh2IWDxFAQ" target="_blank")
            svg(width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M23.385 11.277a2.114 2.114 0 0 0-1.488-1.487c-1.32-.361-6.602-.361-6.602-.361s-5.282 0-6.603.347a2.157 2.157 0 0 0-1.487 1.502c-.348 1.32-.348 4.058-.348 4.058s0 2.752.348 4.06a2.115 2.115 0 0 0 1.487 1.486c1.335.362 6.603.362 6.603.362s5.282 0 6.602-.348a2.114 2.114 0 0 0 1.488-1.487c.347-1.32.347-4.059.347-4.059s.014-2.752-.347-4.072zm-9.772 6.59v-5.06l4.392 2.53-4.392 2.53z" fill="#7481FF")
      .-flex-fill.-hide-on-tablet
      .b-footer__created-by
        CreatedBy
      .-flex-new-line._s-sm.-hide-on-tablet
      .b-footer__subscribe
        Subscribe
      .b-footer__copyright
        | © Copyright, 2020. Vehicle Approval Centre
</template>

<script>
  import Logotype from '~/components/Base/Logotype';
  import BaseInput from '~/components/Base/BaseInput';
  import LinearButton from '~/components/Base/LinearButton';
  import Subscribe from '~/components/Subscribe';
  import CreatedBy from '~/components/CreatedBy';

  export default {
    components: {CreatedBy, Subscribe, LinearButton, BaseInput, Logotype},
  };
</script>

<style lang="scss">
  .b-footer {
    @extend %layout-padding-x;
    padding-top: rem(20);
    padding-bottom: rem(30);
    background: $accent;
    min-height: rem(134);
    margin-top: rem(30);

    @include for-width(+tablet) {
      margin-top: rem(40);
      padding-top: rem(41);
    }

    @include for-width(+desktop) {
      padding-top: rem(22);
      padding-bottom: rem(0);
      padding-right: rem(116);
      height: rem(134);
    }
  }

  .b-footer__inner {
    @include for-width(-tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .-flex-new-line {
        height: rem(30);

        &._s-sm {
          height: rem(20);
        }
      }
    }

    @include for-width(+tablet) {
      display: grid;
    }

    @include for-width(tablet, desktop) {
      grid-template-columns: rem(180) rem(187) rem(114) auto;
      grid-template-areas:
        "logo      links     links social"
        "subscribe subscribe .     copyright"
        "subscribe subscribe .     created-by";
      grid-gap: rem(7) 0;
      align-items: center;
    }

    @include for-width(+desktop) {
      grid-template-columns: vw(310) vw(380) auto auto;
      grid-template-areas:
        "logo      subscribe created-by social"
        "copyright subscribe created-by links";
      grid-gap: rem(8) vw(20);
      align-items: end;
    }

    @include for-width(+desktop-lg) {
      grid-template-columns: rem(310) rem(444) auto auto;
      grid-gap: rem(8) vw(40);
    }
  }

  .b-footer__logo {
    svg {
      width: rem(112);
      height: rem(33);
    }

    @include for-width(-tablet) {
      width: rem(82);
      height: rem(24);
      margin-right: rem(26);

      svg {
        transform-origin: 0 0;
        transform: scale(0.73);
      }
    }

    @include for-width(+tablet) {
      grid-area: logo;
    }

    @include for-width(+desktop) {
      align-self: start;
      padding-top: rem(8);
    }
  }

  .b-footer__created-by {
    display: flex;
    @extend %semibold;
    color: $white;

    @include for-width(+tablet) {
      grid-area: created-by;
    }

    @include for-width(tablet, desktop) {
      align-self: end;
    }

    @include for-width(+desktop) {
      justify-self: end;
    }
  }

  .b-footer__links {
    display: flex;
    margin: 0 rem(-10);

    @include for-width(+tablet) {
      grid-area: links;
    }

    @include for-width(+desktop) {
      padding-bottom: rem(4);
    }

    a {
      @extend %semibold;
      margin: 0 rem(10);

      &, &:visited {
        color: $white;
      }
    }

    @include for-width(+desktop) {
      justify-self: end;
    }
  }

  .b-footer__social {
    @include for-width(+tablet) {
      grid-area: social;
    }

    @include for-width(+desktop) {
      align-self: start;
      justify-self: end;
      padding-top: rem(8);
    }
  }

  .b-footer__subscribe {
    @include for-width(-tablet) {
      flex: 1 0 100%;
    }

    @include for-width(+tablet) {
      grid-area: subscribe;
    }
  }

  .b-footer__copyright {
    @extend %text-regular-14;
    color: $white;
    margin-top: rem(25);
    font-size: rem(13);

    @include for-width(+tablet) {
      grid-area: copyright;
    }

    @include for-width(tablet, desktop) {
      align-self: end;
    }

    @include for-width(+desktop) {
      margin-top: 0;
      padding-bottom: rem(3);
    }

  }

  .b-footer__icons {
    display: flex;
    margin: rem(-5);
  }

  .b-footer__icon {
    flex: 0 0 rem(30);
    height: rem(30);
    background: $white;
    border-radius: rem(2);
    margin: rem(5);
  }
</style>
