<template lang="pug">
  header.b-header
    .b-header__inner
      .b-header__logo
        Logotype
      .-flex-fill
      .b-header__item._ml.-show-on-tablet
        //- pre
          | {{ $route }}
        template(v-if="show_inventory")
          nuxt-link.c-linear-button._header-inverntory(to="/inventory")
            | Inventory
      .b-header__item._ml
        template(v-if="$route.name !== 'request-car' && $route.name !== 'flinks'")
          nuxt-link.c-solid-button.-no-wrap._header-request._ml(to="/request-car")
            | Request a car
      .b-header__item._ml-2._mr-burger
        BurgerButton(
          :is_active="!!overlay"
          @click="!overlay ? overlay = 'OverlayMenu' : null"
        )
</template>

<script>
  import Logotype from '~/components/Base/Logotype';
  import BurgerButton from '~/components/Base/BurgerButton';
  import { mapFields } from 'vuex-map-fields';

  export default {
    components: {
      Logotype,
      BurgerButton,
    },
    computed: {
      ...mapFields('overlay', [
        'overlay',
      ]),
      ...mapFields('inventory', [
        'show_inventory',
      ]),
    },
  };
</script>

<style lang="scss">

</style>
