<template lang="pug">
  .b-lead
    .b-lead__inner
      .b-lead__title(
        v-html="title"
      )
</template>

<script>
  export default {
    name: 'Lead',
    props: {
      title: String,
    }
  };
</script>

<style lang="scss">
  .b-lead {
    @extend %layout-padding-x;
    padding-top: rem(40);
    padding-bottom: rem(40);
    box-sizing: border-box;
    background: $accent;
    margin-bottom: rem(40);

    @include for-width(+tablet) {
      min-height: rem(145);
    }

    @include for-width(+desktop) {
      background: $accent url(/images/lead-bg.svg) right center / auto 100% no-repeat;
    }
  }

  .b-lead__title {
    @extend %h1-title;
    color: $white;
  }
</style>
