<template lang="pug">
  .b-reviews(
    data-aos="fade"
    data-aos-duration="600"
    data-aos-offset="50"
    data-aos-anchor-placement="top-bottom"
  )
    h2.b-reviews__title
      | {{title}}
    .b-reviews__items(
      :class="`_direction-${direction}`"
    )
      transition(
        name="_slide"
      )
        .b-reviews__item(
          v-if="currentItem"
          :key="currentIndex"
        )
          .b-reviews__a
            figure.b-reviews__img
              img(v-lazy="currentItem.image")
          .b-reviews__b
            .b-reviews__name
              | {{currentItem.name}}
            .b-reviews__text.-hide-on-tablet
              | {{currentItem.text | truncate(200)}}
            .b-reviews__text.-show-on-tablet.-hide-on-desktop
              | {{currentItem.text | truncate(240)}}
            .b-reviews__text.-show-on-desktop
              | {{currentItem.text | truncate(240)}}
      nav.b-reviews__slider-nav(
        v-if="filteredReviews.length > 1"
      )
        SliderArrow(
          @click="setSlide(-1)"
        )
          svg(
            width="13"
            height="24"
            viewBox="0 0 13 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M12 23L1 12L12 1"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            )
        SliderArrow(
          @click="setSlide(1)"
        )
          svg(
            width="13"
            height="24"
            viewBox="0 0 13 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M1 1L12 12L1 23"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            )
</template>

<script>
  import SliderArrow from '~/components/Base/SliderArrow';
  import { mapActions, mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'Reviews',
    components: {SliderArrow},
    props: {
      title: String,
      reviews: Array,
    },
    data: () => ({
      currentIndex: 0,
      direction: null,
    }),
    async created() {
      if (!Array.isArray(this.reviews)) {
        await this.load();
      }
    },
    filters: {
      truncate(input, max = 100) {
        return input.length > max ? `${input.substring(0, max)}...` : input;
      },
    },
    computed: {
      ...mapState('reviews', {
        _reviews: state => objectValue(state, 'reviews', []),
      }),
      filteredReviews() {
        const result = Array.isArray(this.reviews) ? this.reviews : this._reviews;
        return Array.isArray(result) ? result : [];
      },
      currentItem() {
        return this.filteredReviews[this.currentIndex];
      },
    },
    methods: {
      ...mapActions('reviews', [
        'load',
      ]),
      setSlide(adjustIndex) {
        this.direction = adjustIndex > 0 ? 'right' : 'left';

        const length = this.filteredReviews.length;
        const currentIndex = this.currentIndex;
        let newIndex = currentIndex + adjustIndex;

        switch (true) {
          case newIndex >= length:
            newIndex = 0;
            break;
          case newIndex < 0:
            newIndex = length - 1;
            break;
          default:
            break;
        }

        this.currentIndex = newIndex;
      },
    },
  };
</script>
