<template lang="pug">
  .b-scroll-loader(:class="{ white: white }")
    span
    span
    span
</template>

<script>
  export default {
    name: 'ScrollLoader',
    props: {
      white: Boolean
    },
  };
</script>

<style lang="scss">
  .b-scroll-loader {
    display: flex;
    justify-content: center;
    margin: rem(40) auto 0;
    &.white {
      margin: rem(10) auto 0;
      span {
        background-color: $white;
        /*margin-top: 10px;*/
      }
    }
    span {
      width: rem(10);
      height: rem(10);
      margin: 0 rem(5);
      background: $text;
      border-radius: rem(100);
      opacity: 0.3;
      animation: dot 1s ease-in-out infinite alternate;

      &:nth-child(1) {
        animation-delay: 0;
      }

      &:nth-child(2) {
        animation-delay: 0.33333s;
      }

      &:nth-child(3) {
        animation-delay: 0.66666s;
      }
    }

    @keyframes dot{
      to {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
</style>
