<template lang="pug">
  .b-subscribe
    label.b-subscribe__label
      | Subscribe to our newsletter
    .b-subscribe__input
      BaseInput.-input-full-block(
        v-if="!submitted"
        :key="submitted"
        type="email"
        inputClass="_inversed"
        placeholder="Your email"
        id="subscribe"
        input_name="subscribe"
        :validation_error.sync="validation_error"
        v-model="email"
        check_email
      )
      BaseInput.-input-full-block(
        v-else
        inputClass="_inversed-with-opacity"
        id="subscribe"
        name="subscribe"
        value="You are already subscribed"
      )
    .b-subscribe__button
      LinearButton._fill(
        v-if="!submitted"
        type="button"
        @click="submit"
        :disabled="validation_error"
      )
        | Subscribe
      LinearButton._fill(
        v-else
        type="button"
      )
        svg(
          width="17"
          height="12"
          viewBox="0 0 17 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            d="M1 5.82759L6.11364 11L16 1"
            stroke="#7481FF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          )
  </svg>

</template>

<script>
  import BaseInput from '~/components/Base/BaseInput';
  import LinearButton from '~/components/Base/LinearButton';
  import sleep from '~/utils/sleep';
  import googleLink from '~/utils/googleLink';

  export default {
    name: 'Subscribe',
    data: () => ({
      validation_error: null,
      submitted: false,
      email: null
    }),
    components: {LinearButton, BaseInput},
    methods: {
      async submit() {
        this.submitted = true;
        // https://script.google.com/macros/s/AKfycbyED93-m_HMRzN9aZT-7QtmgBFUgsnxX8ty3obHfUYzcz-4vrc/exec
        // https://script.google.com/macros/s/AKfycbzb3iUg73osPBzXImv2dkHeQaIK-r7XGLIniVKT/exec
        await this.$axios.post(googleLink('AKfycbyED93-m_HMRzN9aZT-7QtmgBFUgsnxX8ty3obHfUYzcz-4vrc'), `email=${this.email}`, {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        });
        // Submit here
        // ...
        this.email = null;
        this.validation_error = null;
        await sleep(3000);
        this.submitted = false;
      },
    }
  };
</script>

<style lang="scss">
  .b-subscribe {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "label label"
      "input button";
    grid-gap: rem(8) rem(10);

    @include for-width(+desktop) {
      grid-template-columns: 1fr vw(143);
    }
  }

  .b-subscribe__label {
    grid-area: label;
    @extend %text-regular-16;
    color: $white;
  }

  .b-subscribe__input {
    grid-area: input;
    .c-input__error-text {
      position: absolute;
    }
  }

  .b-subscribe__button {
    grid-area: button;

    .c-linear-button {
      width: auto;
      min-width: 100%;
      padding-right: rem(28);
      padding-left: rem(28);
    }
  }
</style>
