<template lang="pug">
  .b-accordion(
    @click="expanded = !expanded"
    :class="{_expandable: expandable}"
  )
    .b-accordion__title(
      :class="{_expandable: expandable}"
    )
      span {{title}}
      .b-accordion__icon(
        v-if="expandable"
        :class="{_expanded: expanded}"
      )
        svg(
          width='18'
          height='10'
          viewBox='0 0 18 10'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        )
          path(
            d='M17 1L9 9L1 1'
            stroke='#41456B'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          )
    .b-accordion__content(
      v-if="text"
      :class="{_expanded: expanded}"
    )
      | {{text}}
</template>

<script>
  import BackLink from '~/components/Base/BackLink';
  export default {
    name: 'Accordion',
    components: {BackLink},
    props: {
      expandable: {
        type: Boolean,
        default: true,
      },
      title: String,
      text: String,
    },
    data: () => ({
      expanded: false,
    }),
  };
</script>

<style lang="scss">
  .b-accordion-outer {
    display: block;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  .b-accordion {
    padding: rem(20) rem(30);
    border: rem(1) solid #D7D7D7;
    transition: height .5s ease;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  .b-accordion__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @extend %text-semibold;
    color: $content;
    margin-bottom: rem(5);

    &._expandable {
      cursor: pointer;
    }
  }

  .b-accordion__icon {
    margin-left: rem(10);
    transition: all 0.3s;

    &._expanded {
      transform: scaleY(-1);
    }
  }

  .b-accordion__content {
    @extend %text-regular-16;
    color: $text;
    transition: height .5s ease;
    height: 0;
    overflow: hidden;

    &._expanded {
      height: auto;
    }
  }
</style>
