<template>
  <nuxt-link class="c-back-link" :to="link_path">
    <i>
      <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 17L1 9L9 1" stroke="#606276" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </i>
    <span>Back</span>
  </nuxt-link>
</template>

<script>
  export default {
    name: 'BackLink',
    props: {
      link_path: {
        type: [String, Object],
      },
    },
  };
</script>

<style lang="scss" scoped>
</style>
