<template>
  <button class="c-back-link" @click="click">
    <i>
      <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 17L1 9L9 1" stroke="#606276" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </i>
    <span>Back</span>
  </button>
</template>

<script>
  export default {
    name: "BackButton",
    methods: {
      click() {
        this.$emit("click");
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
