<template>
  <div class="c-input" :class="{ error: visible_error, focus: is_focus }">
    <div class="c-input__wrap" :class="{ 'c-input__wrap_icon': is_icon }">
      <template v-if="is_icon">
        <div class="c-input__icon">
          <slot name="icon"></slot>
        </div>
      </template>
      <input class="c-input__input"
             :type="type || 'tel'"
             :id="input_id || input_name"
             :class="inputClass"
             :placeholder="placeholder"
             :name="input_name || `input-${id}`"
             v-model="val"
             @input="change"
             @cange="change"
             @blur="blur_input"
             @focus="focus_input"/>
    </div>
    <template>
<!--      {{visible_error}}-->
      <div class="c-input__error-text">
        <slot name="error-text">
          <template v-if="visible_error === 'empty'">
            Required field
          </template>
          <template v-if="visible_error === 'not-email'">
            Invalid Email
          </template>
          <template v-if="visible_error === 'Not a phone number'">
            Enter the correct number
          </template>
          <template v-if="visible_error === 'Higher than 11'">
            Can't be more than 11
          </template>
          <template v-if="visible_error === 'Higher than 12'">
            Can't be more than 12
          </template>
          <template v-if="visible_error === 'Bad Year'">
            The acceptable range 1920 - {{ new Date().getFullYear() - 18 }}
          </template>
          <template v-if="visible_error === 'Bad day'">
            Can't be more than 31
          </template>
          <template v-if="visible_error === 'not-name'">
            Require
          </template>
          <template v-if="visible_error === 'Bad work year'">
            Can't be more than 70
          </template>
        </slot>
      </div>
    </template>
  </div>
</template>

<script>
  import {input_mixin} from "~/mixins";

  export default {
    name: 'BaseInput',
    mixins: [input_mixin],
    data() {
      return {
        is_phone_input: false
      }
    },
  };
</script>
