<template>
  <div class="request-car-block">
    <div class="request-car-block__text-wrap">
      <div class="request-car-block__icon" v-if="is_icon_visible">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="35" cy="35" r="33.5" stroke="#7481FF" stroke-width="3"/>
          <path d="M21 37.2925L32.3077 47.6L50.4 21" stroke="#7481FF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="request-car-block__title">
        <slot name="title"></slot>
      </div>
      <div class="request-car-block__text">
        <slot name="text"></slot>
      </div>
    </div>
    <slot name="answers"></slot>
  </div>
</template>

<script>
  export default {
    name: "BaseQuizBlock",
    props: {
      is_icon_visible: Boolean,
    },
  }
</script>

<style lang="scss">
  .-quiz-two-columns {
    display: flex;
    flex-direction: column;
    @include for-width(+tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .request-car-block {

    &__title {
      h2 {
        @extend %h4-title;
        color: $text;
        margin-bottom: 5px;
      }
    }
    &__icon {
      margin-bottom: 20px;
    }
    &__label {
      @extend %text-semibold;
      color: $text;
      margin-bottom: 5px;
    }
    &__text {
      p {
        @extend %text-regular-16;
        color: $text;
        margin-bottom: 40px;
        b {
          color: $content;
        }
      }
    }
  }
</style>
