<template>
  <div class="c-drop-down" @click="open">
    <div class="c-drop-down__wrap">
      <div class="c-drop-down__current">
        {{ current }}
      </div>
      <div class="c-drop-down__arrow" :class="{ active: is_open }">
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 1L9 9L1 1" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <ul class="c-drop-down__list" v-show="is_open">
      <li v-for="option in options" :key="option" class="c-drop-down__list-item">
        <button @click="change_option(option)" class="c-drop-down__btn">
          {{ option }}
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "BaseDropDown",
    props: {
      placeholder: String,
      options: Array,
    },
    data() {
      return {
        current: this.placeholder,
        is_open: false,
      }
    },
    methods: {
      open() {
        this.is_open = !this.is_open;
      },
      change_option(name) {
        this.current = name;
        this.$emit('input', name)
      }
    },
  }
</script>

<style lang="scss">
.c-drop-down {
  position: relative;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: rem(2);
  max-width: rem(237);
  padding: 0 rem(20) 0 rem(16);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(45);
    cursor: pointer;
  }
  &__arrow {
    transition: all .3s ease;
    &.active {
      transform: rotate(180deg);
    }
  }
  &__current, &__btn {
    @extend %text-placeholder;
    color: $content;
  }
  &__list {
    position: absolute;
    width: calc(100% + 2px);
    top: calc(100% - 1px);
    left: -1px;
    background-color: $white;
    border: 1px solid $gray;
    z-index: 5;
    padding: 0 0 rem(20) rem(16);
    border-top-color: transparent;
    border-radius: 0 0 2px 2px;
  }
  &__btn {
    width: 100%;
    text-align: left;
  }
}
</style>
