<template>
  <button @click="click" class="c-burger" :class="{ active: is_active }">
    <span></span>
    <span></span>
    <span></span>
  </button>
</template>

<script>
  export default {
    name: 'BurgerButton',
    props: {
      is_active: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      click() {
        this.$emit('click');
      },
    },
  };
</script>

<style lang="scss">
  .c-burger {
    --w: 30;
    --h: 25;
    --lineH: 3;

    @include for-width(+tablet) {
      --w: 37;
      --h: 30;
      --lineH: 4;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc-var(w);
    height: calc-var(h);

    span {
      width: calc-var(w);
      height: calc-var(lineH);
      border-radius: rem(7);
      background-color: $text;
      transition: all .2s ease;

      &:nth-child(2) {
        transition-duration: .1s;
      }
    }

    &.active {
      span {
        position: relative;

        &:nth-child(1) {
          transform: translateY(calc(-50% + var(--h) * #{rem(0.5)})) rotate(45deg);
        }

        &:nth-child(2) {
          height: 0;
        }

        &:nth-child(3) {
          transform: translateY(calc(50% - var(--h) * #{rem(0.5)})) rotate(-45deg);
        }
      }
    }

    &._inversed {
      span {
        background-color: $white;
      }
    }
  }
</style>
