<template>
  <div class="c-checkbox-button">
    <input class="c-checkbox-button__input"
           :class="{ checked: is_checked }"
           type="checkbox"
           :id="`checkbox-input_${id}`"
           :name="`checkbox-name_${id}`"
           v-model="val"
           @input="change"/>
    <i class="c-checkbox-button__check-icon">
      <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 7L6 11.5L16 1.5" stroke="#7481FF" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
      </svg>
    </i>
    <label class="c-checkbox-button__label"
           :for="`checkbox-input_${id}`">
      <i class="c-checkbox-button__icon">
        <slot name="icon"></slot>
      </i>
      <slot name="text"></slot>
    </label>
  </div>
</template>

<script>
  export default {
    name: "CheckboxButton",
    props: {
      value: {
        type: String
      },
      name: {
        type: String
      },
      is_checked: Boolean
    },
    data() {
      return {
        val: this.value,
        id: null
      }
    },
    mounted() {
      this.id = this._uid;
    },
    methods: {
      change() {
        this.$emit("input", this.name);
      }
    }
  }
</script>

<style lang="scss">
  .c-checkbox-button {
    position: relative;
    margin-bottom: rem(10);
    cursor: pointer;
    &__label {
      @extend %df;
      @extend %aic;
      @extend %text-placeholder;
      color: $content;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &:after {
        position: absolute;
        content: '';
        top: 0px;
        left: 0;
        width: rem(20);
        height: rem(20);
        border: 1px solid $gray;
        border-radius: 2px;
      }
    }
    &__input {
      position: absolute;
      top: 0px;
      left: 0;
      z-index: -1;
      opacity: 0;
      &.checked {
        & + .c-checkbox-button {
          &__check-icon {
            opacity: 1;
          }
        }
      }
    }
    &__icon {
      margin-right: 5px;
      pointer-events: none;
    }
    &__check-icon {
      position: absolute;
      top: 0;
      left: 4px;
      z-index: 1;
      opacity: 0;
      transition: all .5s ease;
      pointer-events: none;
    }
  }
</style>
