<template>
  <nuxt-link class="b-logotype" :to="$route.name === 'index' ? '#' : '/'">
    <template v-if="type === 'normal'">
      <svg width="112" height="33" viewBox="0 0 112 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M61.664 28L55.084 8.4H59.284L64.072 23.464L68.832 8.4H73.06L66.452 28H61.664ZM86.9878 28L85.8118 24.472H77.9998L76.8238 28H72.6518L79.5118 8.4H84.2998L91.1878 28H86.9878ZM79.2318 20.86H84.6078L81.9198 12.852L79.2318 20.86ZM102.236 28.392C99.2867 28.392 96.8507 27.412 94.928 25.452C93.0053 23.492 92.044 21.0747 92.044 18.2C92.044 15.3067 93.0053 12.8893 94.928 10.948C96.8507 8.988 99.2867 8.008 102.236 8.008C104.009 8.008 105.643 8.428 107.136 9.268C108.648 10.0893 109.824 11.2093 110.664 12.628L107.332 14.56C106.847 13.6827 106.156 13.0013 105.26 12.516C104.364 12.012 103.356 11.76 102.236 11.76C100.332 11.76 98.792 12.3573 97.616 13.552C96.4587 14.7467 95.88 16.296 95.88 18.2C95.88 20.0853 96.4587 21.6253 97.616 22.82C98.792 24.0147 100.332 24.612 102.236 24.612C103.356 24.612 104.364 24.3693 105.26 23.884C106.175 23.38 106.865 22.6987 107.332 21.84L110.664 23.772C109.824 25.1907 108.657 26.32 107.164 27.16C105.671 27.9813 104.028 28.392 102.236 28.392Z"
          fill="#7380FF"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M19.8913 12.5066H7.4589L0 4.99508e-09H8.89149C9.97098 -4.32261e-05 11.032 0.28053 11.9709 0.814305C12.9099 1.34808 13.6945 2.1168 14.2483 3.04536L19.8913 12.5066Z"
              fill="#D2D6FF"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M35.6723 2.99533L29.8778 12.5066H7.41016L16.9203 28.2515C17.4764 29.172 18.26 29.9331 19.1954 30.4612C20.1309 30.9894 21.1865 31.2668 22.2602 31.2665H27.6982C28.7796 31.2664 29.8424 30.9846 30.7824 30.4488C31.7225 29.9131 32.5074 29.1417 33.0603 28.2104L42.3815 12.5066L50.0009 6.80606e-10H40.9989C39.9293 -1.58107e-05 38.8776 0.275459 37.9449 0.799984C37.0121 1.32451 36.2296 2.08048 35.6723 2.99533Z"
              fill="#7380FF"></path>
      </svg>
    </template>
    <template v-if="type === 'inversed'">
      <svg width="112" height="33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M61.664 28l-6.58-19.6h4.2l4.788 15.064L68.832 8.4h4.228L66.452 28h-4.788zm25.324 0l-1.176-3.528H78L76.824 28h-4.172l6.86-19.6H84.3L91.188 28h-4.2zm-7.756-7.14h5.376l-2.688-8.008-2.688 8.008zm23.004 7.532c-2.95 0-5.385-.98-7.308-2.94s-2.884-4.377-2.884-7.252c0-2.893.961-5.31 2.884-7.252 1.923-1.96 4.359-2.94 7.308-2.94 1.773 0 3.407.42 4.9 1.26 1.512.821 2.688 1.941 3.528 3.36l-3.332 1.932a5.08 5.08 0 0 0-2.072-2.044c-.896-.504-1.904-.756-3.024-.756-1.904 0-3.444.597-4.62 1.792-1.157 1.195-1.736 2.744-1.736 4.648 0 1.885.579 3.425 1.736 4.62 1.176 1.195 2.716 1.792 4.62 1.792 1.12 0 2.128-.243 3.024-.728.915-.504 1.605-1.185 2.072-2.044l3.332 1.932c-.84 1.419-2.007 2.548-3.5 3.388-1.493.821-3.136 1.232-4.928 1.232z"
          fill="#fff"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M19.891 12.507H7.46L0 0h8.891a6.23 6.23 0 0 1 5.357 3.045l5.643 9.462z" fill="#D2D6FF"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M35.671 2.995l-5.794 9.512H7.409l9.51 15.745a6.246 6.246 0 0 0 5.34 3.015h5.438a6.23 6.23 0 0 0 5.362-3.057l9.322-15.703L50 0h-9.002a6.23 6.23 0 0 0-5.327 2.995z"
              fill="#fff"/>
      </svg>
    </template>
  </nuxt-link>
</template>

<script>
  export default {
    name: 'Logotype',
    props: {
      type: {
        type: String,
        default: 'normal',
      },
    },
  };
</script>

<style lang="scss">
  .b-logotype {
    svg {
      @include for-width(-tablet) {
        width: rem(81);
        height: rem(24);
      }
    }
  }
</style>
