<template>
  <div class="c-input" :class="{ error: visible_error, focus: is_focus }">
    <div class="c-input__wrap" :class="{ 'c-input__wrap_icon': is_icon }">
      <template v-if="is_icon">
        <div class="c-input__icon">
          <slot name="icon"></slot>
        </div>
      </template>
      <input class="c-input__input"
             ref="input"
             :type="type || 'text'"
             :class="inputClass"
             :placeholder="placeholder"
             :name="input_name || `input-${id}`"
             v-model="val"
             @input="change"
             @blur="blur_input"
             @focus="focus_input"/>
    </div>
    <template v-if="!is_quiz">
      <div class="c-input__error-text">
        <slot name="error-text">
          <template v-if="visible_error === 'empty'">
            Fill this input
          </template>
          <template v-if="visible_error === 'not-email'">
            Not email
          </template>
        </slot>
      </div>
    </template>
  </div>
</template>

<script>
  import {input_mixin} from "~/mixins";
  export default {
    name: 'PhoneInput',
    mixins: [input_mixin],
    data() {
      return {
        is_phone_input: true
      }
    },
  };
</script>

<style lang="scss" scoped>

</style>
