<template>
  <button class="c-play-btn" @click="click">
    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M16.4268 8.76802C17.7601 9.53782 17.7601 11.4623 16.4268 12.2321L3.03651 19.963C1.70318 20.7328 0.0365133 19.7705 0.0365134 18.2309L0.0365141 2.76921C0.0365141 1.2296 1.70318 0.267359 3.03651 1.03716L16.4268 8.76802Z"
        fill="#7481FF"></path>
    </svg>
  </button>
</template>

<script>
  export default {
    name: "PlayButton",
    methods: {
      click() {
        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss">
  .c-play-btn {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: rem(53);
    height: rem(53);
    background-color: $white;
    border-radius: 50%;
    svg {
      margin-right: -3px;
    }
  }
</style>
