<template>
  <div class="c-radio-button">
    <template v-if="is_checked">
      <input class="c-radio-button__input"
             type="radio"
             :id="`radio-input_${id}`"
             :name="name"
             checked />
    </template>
    <template v-else >
      <input class="c-radio-button__input"
             type="radio"
             :id="`radio-input_${id}`"
             :name="name"
             @input="change"/>
    </template>
    <label class="c-radio-button__label"
           :for="`radio-input_${id}`">
      <span>
        <slot></slot>
      </span>
    </label>
  </div>
</template>

<script>
  export default {
    name: "RadioButton",
    inheritAttrs: false,
    props: {
      value: {
        type: [String, Boolean, Number,]
      },
      name: {
        type: String
      },
      is_checked: Boolean
    },
    data() {
      return {
        val: this.value,
        id: null
      }
    },
    mounted() {
      this.id = this._uid;
    },
    methods: {
      change() {
        this.$emit("input", this.value);
      }
    }
  }
</script>

<style lang="scss">
  .c-radio-button {
    --w: 222;
    --h: 45;
    width: 100%;
    @include for-width(+tablet) {
      --w: 222;
      width: calc-var(w);
    }

    height: calc-var(h);
    margin-bottom: 10px;
    &__label {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      @extend %text-menu;
      color: $text;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border: 1px solid $gray;
      border-radius: 2px;
      transition: all .5s ease;
      &:hover {
        border-color: $accent;
        color: $accent;
      }
    }
    &__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked {
        & + .c-radio-button {
          background-color: red;
          &__label {
            border-color: $accent;
            color: $accent;
          }
        }
      }
    }
  }
</style>
