<template>
  <div class="c-search-input">
    <div class="c-search-input__wrap">
      <input type="text" class="c-search-input__input"
             :placeholder="placeholder"
             @focus="on_focus"
             @keyup.enter="submit()"
             @blur="on_blur"
             v-model="query">
      <div class="c-search-input__icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9184 10.4535C18.9184 15.1212 15.1322 18.907 10.4592 18.907C5.78629 18.907 2 15.1212 2 10.4535C2 5.78579 5.78629 2 10.4592 2C15.1322 2 18.9184 5.78579 18.9184 10.4535ZM17.1074 18.5239C15.3001 20.0128 12.9841 20.907 10.4592 20.907C4.68275 20.907 0 16.2268 0 10.4535C0 4.68018 4.68275 0 10.4592 0C16.2357 0 20.9184 4.68018 20.9184 10.4535C20.9184 12.9832 20.0194 15.3031 18.5231 17.1113L23.707 22.2923C24.0977 22.6827 24.0978 23.3159 23.7074 23.7065C23.317 24.0972 22.6838 24.0973 22.2932 23.7069L17.1074 18.5239Z" fill="#41456B"/>
        </svg>
      </div>
    </div>
    <template  v-if="!is_disabled && query_filter.length > 0">
      <ul class="c-search-input__list">
        <template v-if="is_main_search">
          <template v-if="query.length > 0 && query_filter.length > 0">
            <li v-for="option in query_filter" :key="option.name" class="c-search-input__list-item">
              <button @click="submit(option.name, option.make_id, option.id)" class="c-search-input__btn">
                {{ option.name }}
              </button>
            </li>
          </template>
        </template>
        <template v-else-if="!is_main_search">
          <template v-if="query_filter.length > 0">
            <li v-for="option in query_filter" :key="option.name" class="c-search-input__list-item">
              <button @click="submit(option.name, option.make_id, option.id)" class="c-search-input__btn">
                {{ option.name }}
              </button>
            </li>
          </template>
        </template>
        <template v-else>
          <li class="c-search-input__list-item">
            <span class="c-search-input__btn">
              Nothing found
            </span>
          </li>
        </template>
      </ul>
    </template>

  </div>
</template>

<script>
  export default {
    name: "SearchInput",
    props: {
      options: Array,
      placeholder: String,
      is_main_search: Boolean,
      field_name: String,
      value: [String, Number],
    },
    data() {
      return {
        query: this.value || '',
        is_disabled: true
      }
    },
    watch: {
      value(newValue) {
        if(!newValue) this.query = ''
      }
    },
    computed: {
      query_filter() {
        if(!this.query || this.query.length === 0 || this.is_disabled) return this.options
        const result = [];
        this.query = this.query.replace(/\s+/g, '').trim()
        this.options.forEach(option => {
          let index = option.name.toLowerCase().includes(this.query.toLowerCase())
          if(index) result.push(option)
        });
        return result;
      }
    },
    methods: {
      on_focus() {
        this.is_disabled = false
      },
      on_blur() {
        setTimeout(() => this.is_disabled = true, 500)
      },
      submit(name, make_id, id) {
        this.is_disabled = true
        if(this.query_filter.length === 0) return;
        if(name) {
          this.query = name;
          this.$emit('input', {
            name: this.field_name,
            make: make_id || null,
            id,
            value: name
          })
        } else {
          this.$emit('input', {
            name: this.field_name,
            value: this.query
          })
        }
      }
    },
  }
</script>

<style lang="scss">

</style>
