<template>
  <button @click="click" class="c-slider_arrow">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: "SliderArrow",
    methods: {
      click() {
        this.$emit('click')
      }
    },
  }
</script>

<style lang="scss">
  .c-slider_arrow {
    width: rem(53);
    height: rem(53);
    border-radius: 50%;
    overflow: hidden;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    opacity: .8;
    background-color: $accent;
    &:hover {
      opacity: 1;
    }

    @include for-width(-tablet) {
      transform: scale(calc(35 / 53));

      &:first-child {
        transform-origin: 0 50%;
      }

      &:last-child {
        transform-origin: 100% 50%;
      }
    }

    &._inversed {
      background-color: $white;

      svg {
        path {
          stroke: $accent;
        }
      }
    }
  }
</style>
