<template>
  <button @click="click" class="c-solid-button">
    <span>
      <slot></slot>
    </span>
  </button>
</template>

<script>
  export default {
    name: "SolidButton",
    methods: {
      click() {
        this.$emit('click')
        this.$emit('touchstart')
      }
    }
  }
</script>
