<template>
  <div class="step">
    <div class="step__icon">
      <span>{{ number }}</span>
      <svg width="75" height="67" viewBox="0 0 75 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M29.2241 5.23313C32.9014 -1.07772 42.0986 -1.07771 45.7759 5.23315L73.2059 52.3075C76.8778 58.6091 72.2926 66.5 64.9299 66.5H10.07C2.70741 66.5 -1.87779 58.6091 1.79413 52.3075L29.2241 5.23313Z"
          fill="white" stroke="#41456B"></path>
      </svg>
    </div>
    <div
      class="step__wrap">
      <h3 class="step__title">{{ title }}</h3>
      <p class="step__text">{{ text }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "StepElement",
    props: {
      number: {
        type: Number
      },
      title: {
        type: String
      },
      text: {
        type: String
      }
    }
  }
</script>

<style lang="scss">
  .step {
    @extend %df;
    align-items: flex-start;
    @extend %ui-elements-40;
    &__icon {
      position: relative;
      width: rem(75);
      height: rem(67);
      span {
        @extend %h4-title;
        color: $content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -37%);
        z-index: 1;
      }
    }
    &__wrap {
      margin-left: 20px;
    }
    &__title {
      @extend %text-semibold;
      color: $content;
      margin-bottom: 5px;
    }
    &__text {
      @extend %text-regular-16;
      color: $content;
    }
  }
</style>
