<template lang="pug">
  .b-step
    .b-step__number {{number}}
    h3.b-step__title {{title}}
    .b-step__text {{text}}
</template>

<script>
  export default {
    name: 'Step',
    props: {
      number: {
        type: Number,
      },
      title: {
        type: String,
      },
      text: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  .b-step {
    max-width: rem(520);
    display: grid;
    grid-auto-columns: rem(53) 1fr;
    grid-template-areas:
      "n title"
      "n text";
    grid-gap: rem(5) rem(20);
    padding-right: 20px;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    @include for-width(+tablet) {
      grid-auto-columns: rem(75) 1fr;
      grid-gap: rem(10) rem(20);

      &:not(:last-child) {
        margin-bottom: rem(37);

        &._about-page {
          margin-bottom: rem(28);
        }
      }
    }

    @include for-width(+desktop) {
      max-width: rem(575);
      grid-auto-columns: rem(75) 1fr;
      grid-gap: rem(12) rem(20);
      min-height: rem(78);

      &:not(:last-child) {
        margin-bottom: rem(26);
      }
    }
  }

  .b-step__number {
    grid-area: n;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %h4-title;
    color: $content;
    background: url(/images/step.svg) center / contain no-repeat;
    height: rem(67);

    @include for-width(-tablet) {
      background-position-y: rem(6);
      align-self: start;
    }

    @include for-width(+tablet) {
      align-self: center;
      padding-top: rem(12);
      margin-bottom: rem(2);
    }
  }

  .b-step__title {
    grid-area: title;
    @extend %text-semibold;
    color: $content;

    @include for-width(+tablet) {
      padding-top: rem(4);
    }

    @include for-width(+desktop) {
      padding-top: rem(6);
    }
  }

  .b-step__text {
    grid-area: text;
    @extend %text-regular-16;
    color: $text;

    .b-step._home-page & {
      @include for-width(-tablet) {
        max-width: rem(240);
      }
    }

    .b-step._home-page:nth-child(4) & {
      @include for-width(-tablet) {
        max-width: rem(256);
      }
    }

    .b-step._home-page:nth-child(5) & {
      @include for-width(-tablet) {
        max-width: rem(248);
      }
    }
  }
</style>
