<template>
  <button @click="click" class="c-tab-button" :class="{ active: is_active }">
    <span>
      <slot></slot>
    </span>
  </button>
</template>

<script>
  export default {
    name: "TabButton",
    data() {
      return {
        is_active: false
      }
    },
    methods: {
      click() {
        this.is_active = !this.is_active
        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss">
  .c-tab-button {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %btn-text;
    padding: 10px 19px;
    color: $text;
    background-color: rgba($gray, .2);
    border-radius: 2px;
    &.active {
      color: $white;
      background-color: $gray;
    }
  }
</style>
