<template>
  <button class="c-tag-button">
    <i @click="click">
      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.375 1.375L9.62496 9.62513" stroke="#7481FF" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
        <path d="M9.625 1.375L1.37504 9.62513" stroke="#7481FF" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
      </svg>
    </i>
    <span>
      <slot></slot>
    </span>
  </button>
</template>

<script>
  export default {
    name: "TagButton",
    methods: {
      click() {
        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss">
  .c-tag-button {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    @extend %btn-text;
    color: $content;
    padding: 10px;
    background-color: $opacity;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    i {
      @extend %df;
      @extend %jcc;
      width: rem(11);
      height: rem(11);
      margin-right: 10px;
    }
  }
</style>
