<template lang="pug">
  .b-blog-article
    .b-blog-article__bg(
      :style="{backgroundImage: `url(${post.header_image})`}"
    )
    .b-blog-article__inner
      .b-blog-article__main
        .b-blog-article__meta
          .b-blog-article__back
            BackLink(:link_path="{name: 'blog'}")
          .b-blog-article__date
            | {{$dayjs(post.published_at).format('D MMMM, YYYY')}}
        h1.b-blog-article__title
          | {{post.title}}
        .b-blog-article__post(
          v-html="post.content_html"
        )
</template>

<script>

  import BackLink from '~/components/Base/BackLink';
  export default {
    name: 'BlogArticle',
    components: {BackLink},
    props: {
      post: Object,
    },
  };
</script>

<style lang="scss">
  .b-blog-article {
    margin-bottom: rem(70);

    @include for-width(+tablet) {
      margin-bottom: rem(160);
    }

    @include for-width(+desktop) {
      margin-bottom: rem(220);
    }
  }

  .b-blog-article__bg {
    height: rem(140);
    background: #000 center / cover no-repeat;

    @include for-width(+tablet) {
      height: rem(194);
    }

    @include for-width(+desktop) {
      height: rem(200);
    }
  }

  .b-blog-article__inner {
    @extend %layout-padding-x;
    box-sizing: border-box;
  }

  .b-blog-article__main {
    padding-top: rem(30);
    max-width: rem(1000);
    margin: 0 auto;

    @include for-width(+tablet) {
      margin-top: rem(-75);
      padding: rem(40) rem(60) rem(45);
      background: $white;
      border-radius: rem(5);
    }

    @include for-width(+desktop) {
      max-width: rem(900);
      margin-top: rem(-80);
      padding: rem(60) rem(60) rem(45);
    }

    @include for-width(+desktop-lg) {
      max-width: rem(1000);
    }
  }

  .b-blog-article__meta {
    position: relative;
    display: flex;

    @include for-width(-tablet) {
      justify-content: space-between;
      margin-bottom: rem(8);
    }
  }

  .b-blog-article__back {
    @include for-width(-tablet) {
      padding-top: rem(5);
    }

    @include for-width(+tablet) {
      position: absolute;
      top: calc(100% + #{rem(28)});
      right: calc(100% + #{rem(18)});
    }

    @include for-width(+desktop) {
      top: calc(100% + #{rem(32)});
      right: calc(100% + #{rem(71)});
    }

    @include for-width(+desktop-lg) {
      top: calc(100% + #{rem(32)});
      right: calc(100% + #{rem(88)});
    }

    @include for-width(tablet, desktop) {
      span {
        display: none;
      }
    }
  }

  .b-blog-article__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(10);
  }

  .b-blog-article__date {
    @extend %text-regular-16;
    color: $text;
    margin-bottom: rem(10);
  }

  .b-blog-article__post {
    @extend %text-regular-16;
    color: #7C7A84;
    margin-top: rem(10);
    ul, ol {
      padding-left: 20px;
      margin-bottom: 20px;
      li {
        display: list-item;
        list-style: disc;
      }
    }
    ol {
      li {
        list-style: decimal;
      }
    }
    h1,h2,h3,h4,h5,h6 {
      margin-bottom: 20px;
      color: $content;
    }
    h1 {
      @extend %h2-title;
    }
    h2, h3 {
      @extend %h3-title;
    }
    h4 {
      @extend %h4-title;
    }
    h5,h6 {
      @extend %text-semibold;
    }
    p {
      margin-bottom: 20px;
      img {
        display: block;
        margin: 0 auto 20px;
        &:last-child {
          margin-bottom: 0;
        }

      }
    }
    img {
      max-width: 100%;
    }
  }
</style>
