<template lang="pug">
  .b-blog-posts
    .b-blog-posts__items
      nuxt-link.b-blog-posts__item(
        v-for="(item, index) in posts"
        :key="index"
        :to="{name: 'blog-slug', params: {slug: item.slug}}"
      )
        .b-blog-posts__image
          img(v-lazy="item.header_image")
        .b-blog-posts__content
          .b-blog-posts__date
            | {{$dayjs(item.published_at).format('D MMMM, YYYY')}}
          .b-blog-posts__text(
            v-html="item.title"
          )
    client-only
      infinite-loading(
        @infinite="infiniteHandler"
      )
        ScrollLoader(slot="spinner")
        template(slot="no-more")
          .-empty
</template>

<script>
  import InfiniteLoading from 'vue-infinite-loading';
  import ScrollLoader from '~/components/ScrollLoader';
  import { mapActions, mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';
  import sleep from '~/utils/sleep';

  export default {
    name: 'Blog',
    props: {
      max: Number,
    },
    data: () => ({
      page: 1,
      slice: 9,
    }),
    components: {
      InfiniteLoading,
      ScrollLoader,
    },
    async created() {
      await this.load({num: this.max});
    },
    computed: {
      ...mapState('blog', {
        allPosts: state => objectValue(state, 'posts', []),
      }),
      posts() {
        const limit = this.max || this.page * this.slice;
        return this.allPosts.slice(0, limit);
      },
    },
    methods: {
      ...mapActions('blog', [
        'load',
      ]),
      async infiniteHandler($state) {
        await sleep(500);
        this.page += 1;
        await sleep(500);
        $state.loaded();

        if ((this.page * this.slice) >= this.allPosts.length) {
          $state.complete();
        }
      },
    },
  };
</script>

<style lang="scss">
  .b-blog-posts {
    @extend %layout-padding-x;
    min-height: rem(445);
    box-sizing: border-box;
  }

  .b-blog-posts__items {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-10) 0;

    @include for-width(+tablet) {
      margin: rem(-10);
    }
  }

  .b-blog-posts__item {
    flex: 0 0 100%;
    margin: rem(10) 0;
    background: $white;
    filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
    transition: all 0.3s;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
      filter: drop-shadow(0 rem(35) rem(20) rgba(0, 0, 0, 0.1));
    }

    @include for-width(+tablet) {
      flex: 0 0 calc(50% - #{rem(10)} * 2);
      margin: rem(10);
    }

    @include for-width(+desktop) {
      flex: 0 0 calc(100% / 3 - #{rem(10)} * 2);
    }
  }

  .b-blog-posts__image {
    position: relative;
    height: rem(230);
    background: center / cover no-repeat;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
    }
  }

  .b-blog-posts__content {
    padding: rem(20) rem(30) rem(30);
  }

  .b-blog-posts__date {
    @extend %text-regular-16;
    color: $text;
    margin-bottom: rem(10);
  }

  .b-blog-posts__text {
    @extend %text-semibold;
    color: $content;

    img {
      max-width: 100%;
    }
  }
</style>
