<template lang="pug">
  section.b-section._BlogPreviews(v-if="Array.isArray(posts) && posts.length > 0")
    .b-blog-previews
      .b-blog-previews__header
        .b-blog-previews__title
          | Interesting to read
        .b-blog-previews__button
          nuxt-link.c-linear-button.-show-on-tablet(:to="{name: 'blog'}")
            | all articles
      .b-blog-previews__items
        nuxt-link.b-blog-previews__item(
          v-for="(item, index) in posts"
          :key="index"
          :to="{name: 'blog-slug', params: {slug: item.slug}}"
          data-aos="fade-up"
          data-aos-duration="300"
          :data-aos-delay="index * 100"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-blog-previews__a
            figure.b-blog-previews__image
              img(v-lazy="item.header_image")
          .b-blog-previews__content
            .b-blog-previews__date
              | {{$dayjs(item.published_at).format('D MMMM, YYYY')}}
            .b-blog-previews__text(
              v-html="item.title"
            )
      .b-blog-previews__footer.-hide-on-tablet
        nuxt-link.c-linear-button._w-full(:to="{name: 'blog'}")
          | all articles
</template>

<script>
  import LinearButton from '~/components/Base/LinearButton';
  import { mapActions, mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    name: 'BlogPreviews',
    components: {LinearButton},
    props: {
      max: Number,
    },
    async created() {
      await this.load({num: this.max});
    },
    computed: {
      ...mapState('blog', {
        allPosts: state => objectValue(state, 'posts', []),
      }),
      posts() {
        return this.max ? this.allPosts.slice(0, this.max) : this.allPosts;
      },
    },
    methods: {
      ...mapActions('blog', [
        'load',
      ]),
    },
  };
</script>

<style lang="scss">
  .b-blog-previews {
    @extend %layout-padding-x;
    min-height: rem(445);
    box-sizing: border-box;
  }

  .b-blog-previews__header {
    display: flex;
    justify-content: space-between;
  }

  .b-blog-previews__title {
    @extend %h2-title;
    color: $content;
    margin-bottom: rem(30);

    @include for-width(+tablet) {
      margin-bottom: rem(60);
    }
  }

  .b-blog-previews__button {
    padding-top: rem(9);

    > * {
      width: auto;
      min-width: 100%;
      padding-right: rem(33);
      padding-left: rem(33);
    }
  }

  .b-blog-previews__items {
    display: flex;
    margin: rem(-10);
  }

  .b-blog-previews__item {
    flex: 0 0 100%;
    border-radius: 5px;
    overflow: hidden;
    @include for-width(+tablet) {
      margin: rem(10);
    }
    background: $white;
    filter: drop-shadow(0 rem(20) rem(15) rgba(0, 0, 0, 0.1));
    transition: all 0.3s;

    @include for-width(+desktop-lg) {
      filter: drop-shadow(0 rem(35) rem(20) rgba(0, 0, 0, 0.1));
    }

    @include for-width(+tablet) {
      flex: 0 0 calc(50% - #{rem(10)} * 2);
    }

    @include for-width(-tablet) {
      // TODO: Remove when slider will be added.
      &:nth-child(n + 2) {
        display: none;
      }
    }

    @include for-width(tablet, desktop) {
      &:nth-child(n + 3) {
        display: none;
      }
    }

    @include for-width(+desktop) {
      flex: 0 0 calc(100% / 3 - #{rem(10)} * 2);

      &:nth-child(n + 4) {
        display: none;
      }
    }
  }

  .b-blog-previews__a {
    position: relative;
    height: rem(200);
    @include for-width(+tablet) {
      height: rem(230);
    }
  }

  .b-blog-previews__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      object-position: center;
      width: auto;
      height: 100%;
    }
  }

  .b-blog-previews__content {
    padding: rem(20) rem(30) rem(30);
  }

  .b-blog-previews__date {
    @extend %text-regular-16;
    color: $text;
    margin-bottom: rem(10);
  }

  .b-blog-previews__text {
    @extend %text-semibold;
    color: $content;

    img {
      max-width: 100%;
    }
  }

  .b-blog-previews__footer {
    margin-top: rem(30);
  }
</style>
