<template lang="pug">
  .b-layout
    InventoryHeader
    nuxt
    Footer
    OverlayContainer
    LoaderOverlay
</template>

<script>
  import InventoryHeader from "~/components/inventory/Header";
  import Footer from "~/components/Footer";
  import OverlayContainer from "~/components/overlay/Container";
  import LoaderOverlay from "~/components/loader/Overlay";
  import {mapFields} from "vuex-map-fields";

  export default {
    name: "inventory",
    components: {
      InventoryHeader,
      Footer,
      OverlayContainer,
      LoaderOverlay,
    },
    middleware: [
      'closeOverlay',
    ],
    computed: {
      ...mapFields('loading', [
        'firstRun',
      ]),
    },
  }
</script>

<style lang="scss" scoped>

</style>
