<template lang="pug">
  .b-layout
    Header
    nuxt
    OverlayContainer
    LoaderOverlay
</template>

<script>
  import Header from '~/components/Header';
  import OverlayContainer from '~/components/overlay/Container';
  import LoaderOverlay from '~/components/loader/Overlay';
  export default {
    name: "quiz",
    components: {
      Header,
      OverlayContainer,
      LoaderOverlay,
    }
  }
</script>
