<template lang="pug">
  main.b-main
    BlogArticle(
      v-if="post"
      :post="post"
    )
    BlogPreviews(
      :loadPosts="false"
    )
</template>

<script>
  import BlogArticle from '~/components/blog/Article';
  import BlogPreviews from '~/components/blog/Previews';
  import { mapActions, mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';

  export default {
    components: {
      BlogArticle,
      BlogPreviews,
    },
    async created() {
      await this.load({}); // TODO: Load by slug.
    },
    async middleware({ redirect }) {
      redirect('/')
      // await store.dispatch('inventory/check_ip')
    },
    head() {
      const title = objectValue(this, 'post.seo_title');
      const description = objectValue(this, 'post.seo_description');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: 'xxx'},
        ],
      };
    },
    computed: {
      ...mapState('blog', {
        allPosts: state => objectValue(state, 'posts', []),
      }),
      post() {
        return this.allPosts.find(p => p.slug === this.$route.params.slug);
      },
    },
    methods: {
      ...mapActions('blog', [
        'load',
      ]),
    },
  };
</script>
