<template lang="pug">
  main.b-main
    Lead(
      title="Blog - VAC"
    )
    Blog
</template>

<script>
  import Lead from '~/components/Lead';
  import Blog from '~/components/blog/Blog';

  export default {
    components: {
      Lead,
      Blog,
    },
    async middleware({ redirect }) {
      redirect('/')
      // await store.dispatch('inventory/check_ip')
    },
    head() {
      return {
        title: 'Blog ✅ Vehicle Approval Centre',
        meta: [
          {hid: 'description', name: 'description', content: 'The most informative blog about car loans. Articles about the auto financing and much more.'},
        ],
      }
    }
  };
</script>
