<template>
  <main class="v-inventory-main">
    <div class="v-inventory">
      <div class="v-inventory__wrap v-inventory__wrap_left" :class="{ active: is_mobile_filters_visible }">
        <button class="close-btn -hide-on-desktop"
                @click="open_mobile_filters"
                :class="{ active: is_mobile_filters_visible }">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L23 23" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23 1L0.999999 23" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="v-inventory__filters">
          <div class="v-inventory__filters-header">
            <h3 class="v-inventory__title">
              Detailed search
            </h3>
            <button v-if="can_clear" @click="clear_all_filters" class="v-inventory__clear">
            <span>
              Clear filters
            </span>
            </button>
          </div>
          <InventoryFilterMakeModel v-model="make_model"
                                    @change-block="change_current_block"
                                    :current_block="current_block"
                                    :make="makes_list"
                                    :model="model_list"/>
          <InventoryFilterBodyType v-model="body_types"
                                   @change-block="change_current_block"
                                   :current_block="current_block" :checkboxes="body_types_checkboxes"/>
          <InventoryFilterTransmission v-model="transmission_setter"
                                       @change-block="change_current_block"
                                       :current_block="current_block"/>
          <InventoryFilterPrice v-model="price_setter"
                                @change-block="change_current_block"
                                :current_block="current_block"
                                :clear_filters="clear_range_filters"/>
          <InventoryFilterYear v-model="year_setter"
                               @change-block="change_current_block"
                               :current_block="current_block"
                                :clear_filters="clear_range_filters"/>
          <InventoryFilterKilometres v-model="kilometres_setter"
                                     @change-block="change_current_block"
                                     :current_block="current_block"
                                :clear_filters="clear_range_filters"/>
        </div>
      </div>
      <div class="v-inventory__wrap v-inventory__wrap_right">
        <div class="v-inventory__header">
          <div class="v-inventory__header_left">
            <button class="v-inventory__mobile-filters -hide-on-desktop-med" @click="open_mobile_filters">
              <span class="v-inventory__mobile-icon">
              <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 1L4 23" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 18L7 18" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14 1L14 23" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24 1L24 23" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 12L17 12" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 6L27 6" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
              <span class="v-inventory__mobile-text">
              Search Filter
            </span>
            </button>
            <SearchInput class="v-inventory__search" v-model="search_main" field_name="main_search" is_main_search :options="main_search_items" placeholder="Find a dream car..." />
            <button :class="{ copied: cop }"  class="v-inventory__share-search" v-tooltip="{ text: tooltip_text }" @click="share_search">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 1H4C2.34315 1 1 2.34315 1 4V20C1 21.6569 2.34315 23 4 23H20C21.6569 23 23 21.6569 23 20V13" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.5 1H22.5M22.5 1V8.5M22.5 1L12.5 11" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>
                share
              </span>
            </button>
          </div>
          <div class="v-inventory__header_right">
            <div class="v-inventory__small-title">
              Sorted by
            </div>
            <BaseDropDown placeholder="Recommendations"
                          class="v-inventory__dropdown"
                          :options="sort_options" v-model="sorting_by" />
          </div>
        </div>
        <template v-if="is_loading">
          <div class="v-inventory__loader">
            <div class="v-inventory__loader-wrap">
              <ScrollLoader/>
              <p class="v-inventory__loader-text">
                Your search is loading...
              </p>
            </div>
          </div>
        </template>
        <div class="v-inventory__cars">
          <template v-if="sorted_cars.length > 0">
            <div class="v-inventory__cars-wrapper" :class="{ error: sorted_cars.length === 0 }">
              <template v-for="car in sorted_cars">
                <InventoryCar :key="car.id"
                              :id="car.id"
                              :name="car.name"
                              :price="car.price"
                              :year="car.year"
                              :body="car.body"
                              :transmission="car.transmission"
                              :kilometers="car.kilometers"
                              :images="car.image"/>
              </template>
            </div>
            <InventoryObserver @intersect="intersect"/>
            <template v-if="pagination_loading">
              <div class="v-inventory__scroll-load">
                <ScrollLoader/>
              </div>
            </template>
          </template>
          <template v-else>
            <div class="v-inventory__error">
              <div class="v-inventory__err-icon">
                <svg width="90" height="30" viewBox="0 0 90 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M65.4252 11.4386L65.298 11.8733L65.3706 12.3205L66.7246 20.6613V23.8984H59.3693C59.2835 24.6063 59.0841 25.2792 58.79 25.8984H66.7246C67.8292 25.8984 68.7246 25.003 68.7246 23.8984V20.5L67.3448 12L68.069 9.52391C68.4135 8.34599 67.6256 7.1385 66.4087 6.97936L61.7754 6.37347C61.6666 6.35924 61.5667 6.30599 61.4943 6.22362C58.0156 2.26746 53.0024 0 47.7344 0H34.0224C31.8645 0 29.7465 0.581409 27.891 1.68309L18.933 7.00192C18.624 7.18539 18.2713 7.28221 17.9119 7.28221H12.8448H12.5626C6.09099 7.28221 0.844758 12.5284 0.844758 19V22L0.31971 22.8187C-0.533932 24.1499 0.421931 25.8984 2.00326 25.8984H11.6417C12.6874 28.0997 14.9311 29.6217 17.5303 29.6217C21.1288 29.6217 24.046 26.7045 24.046 23.106C24.046 19.5075 21.1288 16.5903 17.5303 16.5903C13.9318 16.5903 11.0146 19.5075 11.0146 23.106C11.0146 23.3742 11.0309 23.6387 11.0623 23.8984H2.00326L2.52831 23.0796L2.84476 22.5862V22V19C2.84476 13.633 7.19556 9.28221 12.5626 9.28221H12.8448H17.9119C18.6306 9.28221 19.3361 9.08856 19.9541 8.72163L28.9121 3.4028C30.4586 2.48458 32.2239 2 34.0224 2H47.7344C52.4274 2 56.8934 4.01996 59.9924 7.54429C60.385 7.99081 60.9265 8.27948 61.5161 8.35658L66.1494 8.96248L65.4252 11.4386ZM47.0125 25.8984C48.0583 28.0997 50.302 29.6217 52.9012 29.6217C56.4997 29.6217 59.4169 26.7045 59.4169 23.106C59.4169 19.5075 56.4997 16.5903 52.9012 16.5903C49.3027 16.5903 46.3855 19.5075 46.3855 23.106C46.3855 23.3742 46.4017 23.6387 46.4332 23.8984H23.9984C23.9126 24.6063 23.7132 25.2792 23.4191 25.8984H47.0125ZM29.7949 10.0054C29.2426 10.0054 28.7949 10.4531 28.7949 11.0054C28.7949 11.5577 29.2426 12.0054 29.7949 12.0054H33.5182C34.0704 12.0054 34.5182 11.5577 34.5182 11.0054C34.5182 10.4531 34.0704 10.0054 33.5182 10.0054H29.7949ZM17.5303 27.6217C20.0242 27.6217 22.046 25.5999 22.046 23.106C22.046 20.6121 20.0242 18.5903 17.5303 18.5903C15.0364 18.5903 13.0146 20.6121 13.0146 23.106C13.0146 25.5999 15.0364 27.6217 17.5303 27.6217ZM57.4169 23.106C57.4169 25.5999 55.3951 27.6217 52.9012 27.6217C50.4073 27.6217 48.3855 25.5999 48.3855 23.106C48.3855 20.6121 50.4073 18.5903 52.9012 18.5903C55.3951 18.5903 57.4169 20.6121 57.4169 23.106ZM52.9014 25.106C54.0059 25.106 54.9014 24.2105 54.9014 23.106C54.9014 22.0014 54.0059 21.106 52.9014 21.106C51.7968 21.106 50.9014 22.0014 50.9014 23.106C50.9014 24.2105 51.7968 25.106 52.9014 25.106ZM19.5303 23.106C19.5303 24.2105 18.6349 25.106 17.5303 25.106C16.4257 25.106 15.5303 24.2105 15.5303 23.106C15.5303 22.0014 16.4257 21.106 17.5303 21.106C18.6349 21.106 19.5303 22.0014 19.5303 23.106Z" fill="#41456B"/>
                  <path d="M76.8447 9H83.7921" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M76.8447 15H88.8447" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M76.8447 21H80.6342" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
              <div class="v-inventory__err-content">
                <h2 class="v-inventory__err-title">
                  Unfortunately there are no matches for your query.
                </h2>
                <p class="v-inventory__err-text">
                  Try using other filter settings or request a car of your choice.
                </p>
                <nuxt-link to="/request-car" class="v-inventory__err-link">
                  <span>Request a car</span>
                </nuxt-link>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
  // import BaseDropDown from "~/components/Base/BaseDropDown";
  // import SearchInput from "~/components/Base/SearchInput";
  // import InventoryCar from "~/components/inventory/Car";
  // import InventoryAccordion from "~/components/inventory/Accordion";
  // import InventoryFilterMakeModel from "~/components/inventory/filters/MakeModel";
  // import InventoryFilterBodyType from "~/components/inventory/filters/BodyType";
  // import InventoryFilterTransmission from "~/components/inventory/filters/Transmission";
  // import InventoryFilterPrice from "~/components/inventory/filters/Price";
  // import InventoryFilterYear from "~/components/inventory/filters/Year";
  // import InventoryFilterKilometres from "~/components/inventory/filters/Kilometres";
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';
  // import ScrollLoader from "~/components/ScrollLoader";
  // import InventoryObserver from "~/components/inventory/Observer";
  export default {
    name: "index",
    components: {
      BaseDropDown: () => import('~/components/Base/BaseDropDown'),
      SearchInput: () => import('~/components/Base/SearchInput'),
      InventoryCar: () => import('~/components/inventory/Car'),
      InventoryAccordion: () => import('~/components/inventory/Accordion'),
      InventoryFilterMakeModel: () => import('~/components/inventory/filters/MakeModel'),
      InventoryFilterBodyType: () => import('~/components/inventory/filters/BodyType'),
      InventoryFilterTransmission: () => import('~/components/inventory/filters/Transmission'),
      InventoryFilterPrice: () => import('~/components/inventory/filters/Price'),
      InventoryFilterYear: () => import('~/components/inventory/filters/Year'),
      InventoryFilterKilometres: () => import('~/components/inventory/filters/Kilometres'),
      ScrollLoader: () => import('~/components/ScrollLoader'),
      InventoryObserver: () => import('~/components/inventory/Observer'),
    },
    layout: "inventory",
    // middleware: 'check_access_to_inventory',
    middleware: ['get_inventory_data'],
    // async created() {
    //   if(process.client) {
    //     const is_passed = await this.$store.dispatch('inventory/check_ip');
    //     if(!is_passed) await this.$router.push('/')
    //   }
    // },
    async created() {
      if(process.client) {
        const is_passed = await this.$store.dispatch('inventory/check_ip');
        if(!is_passed) await this.$router.push('/')
      }
    },
    data() {
      return {
        is_mobile_filters_visible: false,
        current_block: null,
        sort_options: [
          'Recommendations',
          'Newest inventory',
          'Lowest price',
          'Highest prices'
        ],
        body_types_checkboxes: [
          'Trucks',
          'SUV',
          'Sedan',
          'Hatchback',
          'Coupe',
          'Convertiable',
          'VAN',
        ],
        clear_range_filters: false,
        sorting_by: 'Recommendations',
        can_clear: false,
        last_query: null,
        copied_link: false
      }
    },
    watch: {
      filters: {
        deep: true,
        handler(value) {
          // const object = Object.keys(this.$route.query).length > 0 ? this.$route.query : value;
          if(!this.can_send_request) return
          let string_data = '?';
          for(let key in value) {
            if(key === 'can_send_request') continue;
            if((key === 'body' || key === 'transmission') && value[key].length > 0 ) {
              for(let item of value[key]) {
                string_data += `${key}[]=${item}&`;
              }
              continue;
            }
            if(key === 'year_to') {
              if(value[key] > 2005) {
                string_data += `year_from=${value['year_from']}&${key}=${value[key]}&`;
                // string_data += `${key}=${value[key]}&`;
                continue;
              }
            }
            if(key === 'price_to') {
              if(value['price_from'] > 0 || value['price_to'] > 0) {
                if(key === 'price_to' || key === 'price_from') {
                  string_data += `price_from=${value['price_from'] === 0 ? value['price_from'] + 1 : value['price_from']}&${key}=${value[key]}&`;
                }
                // string_data += `${key}=${value[key]}&`;
                continue;
              }
            }
            if(key === 'kilometres') {
              if((value[key] > 0)) {
                string_data += `${key}=${value[key]}&`;
              }
              continue;
            }
            if(value[key]) {
              if(typeof value[key].length == 'number' ||
                key === 'year_from' || key === 'year_to' || key === 'price_to' || key === 'price_from') continue;
              string_data += `${key}=${value[key]}&`;
            }
          }
          // console.log(this.$route.query, 'this.$router.query')
          // for(let m in this.$route.query) {
          //   console.log(`Key: ${m}, Value: ${this.$route.query[m]}`)
          // }
          if(string_data === '?') {
            string_data = '';
            this.can_clear = false
          } else {
            this.can_clear = true
          }
          this.last_query = string_data;
          this.query_to_get_cars(string_data)
        }
      }
    },
    computed: {
      cop() {
        return this.copied_link
      },
      tooltip_text() {
        return { before: 'Share search result', after: 'The link copied' }
      },
      sorted_cars() {
        if(this.sorting_by === 'Recommendations') return this.cars
        let array = [...this.cars];

        if(this.sorting_by === 'Newest inventory') {
          return array.sort((a,b) => {
            const date_a = new Date(a.created_at),
                  date_b = new Date(b.created_at);

            return date_a - date_b
          })
        }

        if(this.sorting_by === 'Lowest price') {
          return array.sort((a,b) => a.price - b.price)
        }

        if(this.sorting_by === 'Highest prices') {
          return array.sort((a,b) => b.price - a.price)
        }
      },
      ...mapFields('inventory',[
        'pagination_loading',
        'last_page',
        'current_page',
        'is_loading',
        'main_search',
        'cars',
        'makes_list',
        'model_list',
        'filters',
        'filters.make',
        'filters.model',
        'filters.body',
        'filters.transmission',
        'filters.price_from',
        'filters.price_to',
        'filters.year_from',
        'filters.year_to',
        'filters.kilometres',
        'filters.can_send_request',
        'last_query_string',
      ]),
      main_search_items() {
        return [...this.makes_list, ...this.model_list]
      },
      search_main: {
        get() {
          return this.main_search
        },
        set({ name, make, id, value }) {
          this.$store.commit('inventory/updateField', { path: name, value: value });
          if(make) {
            this.$store.commit('inventory/updateField', { path: 'filters.make', value: make });
            this.$store.commit('inventory/updateField', { path: 'filters.model', value: id });
          } else {
            this.$store.commit('inventory/updateField', { path: 'filters.make', value: id });
          }
        }
      },
      make_model: {
        get() {
          return {
            make: this.make,
            model: this.model
          }
        },
        set({ name, id }) {
          this.$store.commit('inventory/updateField', { path: `filters.${name}`, value: id });
        }
      },
      body_types: {
        get() {
          return this.body
        },
        set(value) {
          if(this.body.includes(value)) {
            const index = this.body.findIndex(el => el === value);
            this.$store.commit('inventory/remove_body_type', index);
            return
          }
          this.$store.commit('inventory/add_body_type', value);
        }
      },
      transmission_setter: {
        get() {
          return this.transmission
        },
        set(value) {
          if(this.transmission.includes(value)) {
            const index = this.transmission.findIndex(el => el === value);
            this.$store.commit('inventory/remove_transmission', index);
            return
          }
          this.$store.commit('inventory/add_transmission', value);
        }
      },
      price_setter: {
        get() {
          return {
            from: this.price_from,
            to: this.price_to
          }
        },
        set({ val_from, val_to, can_send }) {
          this.$store.commit('inventory/updateField', { path: 'filters.price_from', value: val_from });
          this.$store.commit('inventory/updateField', { path: 'filters.price_to', value: val_to });
          this.$store.commit('inventory/updateField', { path: 'filters.can_send_request', value: can_send });
        }
      },
      year_setter: {
        get() {
          return {
            from: this.year_from,
            to: this.year_to
          }
        },
        set({ val_from, val_to, can_send }) {
          this.$store.commit('inventory/updateField', { path: 'filters.year_from', value: val_from });
          this.$store.commit('inventory/updateField', { path: 'filters.year_to', value: val_to });
          this.$store.commit('inventory/updateField', { path: 'filters.can_send_request', value: can_send });
        }
      },
      kilometres_setter: {
        get() {
          return this.kilometres
        },
        set({ value, can_send }) {
          this.$store.commit('inventory/updateField', { path: 'filters.kilometres', value });
          this.$store.commit('inventory/updateField', { path: 'filters.can_send_request', value: can_send });
        }
      },
    },
    methods: {
      share_search() {
        if(this.last_query) {
          this.$copyText(window.location.origin + window.location.pathname + this.last_query)
          this.copied_link = true;
          setTimeout(() => this.copied_link = false, 2000)
        }
      },
      intersect() {
        const page = this.current_page + 1;
        if(page <= this.last_page) {
          console.log(page)
          this.get_pagination_data(page)
        }
      },
      open_mobile_filters() {
        this.is_mobile_filters_visible = !this.is_mobile_filters_visible
        if(this.is_mobile_filters_visible) {
          document.body.style.overflow = 'hidden'
        } else {
          document.body.style.overflow = 'visible'
        }
      },
      change_current_block(name) {
        this.current_block = name
      },
      clear_all_filters() {
        this.clear_filters()
        this.clear_range_filters = true
        this.current_block = null
        this.can_clear = false
        setTimeout(() => this.clear_range_filters = false, 1000)
      },
      ...mapMutations('inventory', [
        'clean',
        'clear_filters'
      ]),
      ...mapActions('inventory', [
        'query_to_get_cars',
        'get_pagination_data'
      ])
    },
    head() {
      return {
        title: 'Our cars ✅ Auto Financing 💲 Vehicle Approval Centre',
        meta: [
          {hid: 'description', name: 'description', content: 'Buying a car in Canada has never been so easy. Just choose the car you like and apply.'},
        ],
      }
    }
  }
</script>

<style lang="scss">
.v-inventory-main {
  padding-top: rem(40);
  min-height: 100vh;
}
.close-btn {
  position: absolute;
  top: 48px;
  left: 24px;
  @include for-width(-tablet) {
    top: 40px;
    left: 31px;
  }
}
.v-inventory {
  margin: 0 auto;
  width: 100%;
  @include for-width(+tablet) {
    max-width: rem(722);
  }
  @include for-width(+desktop-med) {
    max-width: rem(722);
  }
  @include for-width(+desktop-med) {
    display: grid;
    grid-gap: rem(40);
    max-width: rem(1200);
    grid-template-columns: rem(300) 1fr;
  }
  @include for-width(-tablet) {
    padding: 0 rem(20);
  }
  &__wrap {
    &_left {
      @include for-width(-desktop-med) {
        position: fixed;
        top: rem(81);
        left: 0;
        width: 100%;
        height: auto;
        background-color: $white;
        z-index: 5;
        max-height: 100vh;
        overflow-x: scroll;
        transform: translateY(-30px);
        transition: all .3s ease;
        opacity: 0;
        pointer-events: none;
        &.active {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
      @include for-width(-tablet) {
        top: rem(55);
      }
    }
    &_right {
    }
  }
  &__filters {
    @include for-width(-desktop-med) {
      max-width: rem(420);
      margin: 0 auto;
      padding-bottom: rem(100);
      padding-top: rem(40);
    }
    @include for-width(-tablet) {
      max-width: rem(320);
      padding-left: rem(20);
      padding-right: rem(20);
    }
  }
  &__filters-header {
    display: flex;
    margin-bottom: 30px;
    @include for-width(-tablet) {
      flex-direction: column;
    }
  }
  &__title {
    @extend %text-semibold;
    color: $content;
    @include for-width(-tablet) {
      padding-left: rem(45);
    }
  }
  &__clear {
    @extend %text-placeholder;
    color: $accent;
    margin-left: 20px;
    @include for-width(-tablet) {
      padding-left: rem(45);
      text-align: left;
      margin-left: 0;
      margin-top: rem(10);
    }
  }
  &__filter {
    &-label {
      @extend %text-menu;
      color: $content;
      margin-bottom: 10px;
    }
    &-tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(20);
    &_left, &_right {
      display: flex;
      align-items: center;
    }
    &_left {
      @include for-width(-tablet) {
        margin-bottom: rem(10);
      }
    }
    &_right {
      @include for-width(-tablet) {
        width: 100%;
      }
    }
    @include for-width(-tablet) {
      flex-direction: column;
    }
  }

  &__search {
    width: 100%;
    margin-right: rem(20);
    @include for-width(+tablet) {
      width: rem(240);
    }
    @include for-width(+desktop-lg) {
      width: rem(350);
    }
  }
  &__small-title {
    @extend %text-regular-16;
    color: $content;
    margin-right: 20px;
    display: none;
    @include for-width(+desktop-med) {
      display: block;
    }
  }
  &__dropdown {
    width: rem(237);
    @include for-width(-tablet) {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
  &__cars-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: rem(20);
    &.error {
      grid-template-columns: 1fr;
    }
    @include for-width(-tablet) {
      grid-template-columns: 1fr;
    }
  }
  &__error {
    width: 100%;
    padding: rem(60);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: rem(273);
    @include for-width(-tablet) {
      padding: rem(20);
    }
  }
  &__err {
    &-content {
      margin-top: rem(20);
    }
    &-title {
      @extend %text-semibold;
      color: $content;
      margin-bottom: rem(10);
    }
    &-text {
      @extend %text-regular-16;
      color: $content;
      margin-bottom: rem(20);
    }
    &-link {
      @extend %btn-text;
      color: $accent;
      @extend %ttu;
    }
  }
  &__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(40);
    .b-scroll-loader {
      margin-top: 0;
    }
    &-text {
      @extend %text-semibold;
      margin-top: rem(20);
    }
  }
  &__mobile {
    &-filters {
      display: flex;
      align-items: center;
    }
    &-icon {
      margin-right: 10px;
    }
    &-text {
      @extend %text-regular-16;
      color: $content;
      margin-right: 20px;
      @include for-width(-tablet) {
        display: none;
      }
    }
  }
  &__scroll-load {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__share-search {
    @extend %btn-text;
    color: $content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray;
    width: 103px;
    height: 44px;
    border-radius: 2px;
    svg {
      margin-right: rem(10);
    }
    &.copied {
      svg {
        animation: animate 0.5s ease;
      }
    }
    @include for-width(-desktop) {
      width: auto;
      height: auto;
      border-color: transparent;
      span {
        display: none;
      }
    }
  }
}
</style>
