<template lang="pug">
  main.b-main._centered
    .b-error-page
      .b-error-page__icon
        simple-svg(
          customClassName="b-svg-icon"
          src="/images/icons/404.svg"
        )
      .b-content__title
        | 500
      .b-content__text
        | Server error
      .b-content__row._mt
        nuxt-link.c-solid-button(to="/")
          | Go home
</template>

<script>
  import objectValue from '~/utils/objectValue';

  export default {
    layout: 'plain',
    head() {
      return {
        title: 'Error',
        // meta: [
        //   {hid: 'description', name: 'description', content: ''},
        // ],
      };
    },
  };
</script>
