<template lang="pug">
  main.b-main._centered
    .b-error-page
      .b-error-page__icon
        simple-svg(
          customClassName="b-svg-icon"
          src="/images/icons/404.svg"
        )
      .b-content__title
        | 404
      .b-content__text
        | Page not found or such pages do not exist.
      .b-content__row._mt
        nuxt-link.c-solid-button(to="/")
          | Go home
</template>

<script>
  export default {
    layout: 'plain',
    head() {
      return {
        title: 'Not found',
        // meta: [
        //   {hid: 'description', name: 'description', content: ''},
        // ],
      };
    },
  };
</script>
