<template lang="pug">
  main.b-main(v-if="!noContent")
    Lead.-aos-lead(
      :title="content.title"
    )
    section.b-section._mt-xs._px._mt-fix-0
      .b-row
        .b-cell._shadow._no-gap(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="400"
          data-aos-offset="0"
          data-aos-anchor-placement="top-center"
          data-aos-anchor=".-aos-lead"
          data-aos-once="true"
        )
          .b-content
            .b-content__title._mb
              | {{content.mission.title}}
            .b-content__text(v-html="content.mission.text")
            .b-content__row._mt
              nuxt-link.c-solid-button._w-full-on-small(to="/request-car")
                | Request a car
        .b-cell._mt-compensate-image-on-small-and-tablet
          figure.b-image-container._auto-height-on-small-and-tablet(
            data-aos="fade-left"
            data-aos-duration="300"
            data-aos-delay="400"
            data-aos-offset="0"
            data-aos-anchor-placement="top-center"
            data-aos-anchor=".-aos-lead"
            data-aos-once="true"
          )
            .-flex-fill.-show-on-desktop
            img(:src="'/images/about/mission.png'")
    section.b-section._px._mt-fix-1
      .b-row
        .b-cell
          .b-content
            .b-content__title._mb(
              data-aos="fade-up"
              data-aos-duration="300"
              data-aos-offset="100"
              data-aos-anchor-placement="top-bottom"
            )
              | {{content.dream_section.title}}
            .b-content__text(
              data-aos="fade-up"
              data-aos-duration="300"
              data-aos-offset="100"
              data-aos-anchor-placement="top-bottom"
              v-html="content.dream_section.text"
            )
        .b-cell._pt-compensate-title
          .b-content__steps
            Step._about-page(
              v-if="Array.isArray(content.dream_section.advantages)"
              v-for="(item, index) in content.dream_section.advantages"
              :key="index"
              :number="index + 1"
              :title="item.title"
              :text="item.text"
              data-aos="fade-up"
              data-aos-duration="300"
              data-aos-offset="100"
              data-aos-anchor-placement="top-bottom"
            )
    section.b-section._px._mt-fix-6
      .b-row
        .b-cell._order-1-on-small._mt-compensate-image-on-small-and-tablet
          figure.b-image-container._auto-height-on-small-and-tablet(
            data-aos="fade-right"
            data-aos-duration="300"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            .-flex-fill.-show-on-desktop
            img(:src="'/images/about/adv.png'")
        .b-cell._order-0-on-small(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title._mb
              | {{content.adv.title}}
            .b-content__text(v-html="content.adv.text")
    section.b-section._px._mt-fix-7
      .b-row
        .b-cell.-aos-fxortapd(
          data-aos="slide-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title._mb
              | {{content.best_choice.title}}
            .b-content__text(
              data-aos="slide-up"
              data-aos-duration="600"
              data-aos-offset="100"
              data-aos-anchor-placement="top-bottom"
              data-aos-anchor=".-aos-fxortapd"
              v-html="content.best_choice.text"
            )
        .b-cell(
          data-aos="slide-up"
          data-aos-duration="600"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__subtitle._mb._mt-compensate-title
              | {{content.best_choice.subtitle}}
            .b-content__text
              | {{content.best_choice.subtext}}
            .b-content__row._mt
              nuxt-link.c-solid-button._w-full-on-small(to="/request-car")
                | Request a car
    section.b-section._px._mt-fix-3.-show-on-desktop
      .b-row
        .b-cell._shadow._no-gap._no-stretch(
          data-aos="slide-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title-h3._mt._mb
              | {{content.agents.subtitle}}
            .b-content__row._mt
              SolidButton._w-full-on-small(
                @click="setContactForm(false)"
              )
                | Contact us now
        .b-cell(
          data-aos="slide-up"
          data-aos-duration="600"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title._mb
              | {{content.agents.title}}
            .b-content__text(v-html="content.agents.text")
    section.b-section
      Reviews(
        title="What our client say about us!"
      )
    section.b-section._px
      .b-row
        .b-cell(
          data-aos="slide-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title._mb
              | {{content.dynamic_team_section.title}}
            .b-content__text
              .b-content__text-section(
                v-for="(item, index) in content.dynamic_team_section.items"
                :key="index"
                :data-aos="index === 1 ? 'slide-up' : ''"
                :data-aos-duration="index === 1 ? 700 : ''"
                :data-aos-offset="index === 1 ? 50 : ''"
                :data-aos-anchor-placement="index === 1 ? 'top-bottom' : ''"
              )
                .b-content__semibold
                  | {{item.title}}
                .b-content__text(v-html="item.text")
        .b-cell._no-gap
          figure.b-image-container._br._mt-compensate-title(
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-offset="100"
          )
            img(:src="'/images/about/dynamic_team_section.png'")
    section.b-section._px._mt-fix-5
      .b-row
        .b-cell._order-1-on-small
          figure.b-image-container._br._mt-compensate-title(
            data-aos="fade-up"
            data-aos-duration="600"
            data-aos-offset="100"
          )
            img(:src="'/images/about/features.png'")
        .b-cell._no-gap._order-0-on-small(
          data-aos="slide-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            .b-content__title._mb
              | {{content.features.title}}
            .b-content__text(v-html="content.features.text")
            .b-content__row._mt
              .b-panels
                .b-panel(
                  v-for="(item, index) in content.features.features"
                  :key="index"
                )
                  .b-panel__title
                    | {{item.title}}
                  .b-panel__text(v-html="item.text")
    section.b-section._mt-fix-8
      Calculator(
        title="Let’s figure out how much you can afford"
        text="Before you start shopping, let’s figure out how much you can afford. Move the sliders to see how the loan duration and the total loan amount affect your monthly payments."
      )
</template>

<script>
  import Lead from '~/components/Lead';
  import Calculator from '~/components/Calculator.vue';
  import objectValue from '~/utils/objectValue';
  import SolidButton from '~/components/Base/SolidButton';
  import StepElement from '~/components/Base/StepElement';
  import Reviews from '~/components/Reviews';
  import { mapState, mapActions } from 'vuex';
  import Step from '~/components/Base/Step';
  import noContent from '~/mixins/noContent';

  export default {
    components: {
      Step,
      Lead,
      SolidButton,
      Reviews,
      StepElement,
      Calculator,
    },
    mixins: [
      noContent,
    ],
    async middleware({store, redirect}) {
      await store.dispatch('page/load', 'about');
    },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    head() {
      const title = objectValue(this, 'content.metadata.title');
      const description = objectValue(this, 'content.metadata.description');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: description},
        ],
      };
    },
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.about', {}),
      }),

    },
    methods: {
      ...mapActions('overlay', [
        'setContactForm',
      ]),
    },
  };
</script>
