<template>
  <div class="request-car-page">
    <div class="container">
      <div class="request-car flinks-wrap">
        <div class="request-car__wrapper-main">
          <div class="request-car__block-wrapper">
            <div class="request-car__block-wrap">
              <QuizFlinks/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "flinks",
    layout: 'quiz',
    components: {
      QuizFlinks: () => import("~/components/quiz/Flinks"),
    }
  }
</script>

<style lang="scss" scoped>

</style>
