<template lang="pug">
  .b-front(v-if="!noContent")
    div(itemscope='', itemtype='https://schema.org/Organization', style='display:none;')
      meta(itemprop='name', :content='main_title')
      link(itemprop='url', href='https://vehicleapprovalcentre.com/')
      link(itemprop='logo', href='/logo.png')
      meta(itemprop='description', :content='main_description')
      div(itemprop='address', itemscope='', itemtype='https://schema.org/PostalAddress')
        meta(itemprop='addressLocality', content='Canada')
        link(itemprop='sameAs', href='https://www.instagram.com/vehicleapprovalcentre/')
        link(itemprop='sameAs', href='https://www.facebook.com/vehicleapprovalcentre/')
        link(itemprop='sameAs', href='https://www.youtube.com/channel/UCmcQm7uYRQB7mAh2IWDxFAQ')
    span(itemscope='', itemtype='https://schema.org/WebSite', style='display:none;')
      meta(itemprop='name', :content='main_description')
      meta(itemprop='image', content='/logo.png')
      a(itemprop='url', href='https://vehicleapprovalcentre.com/', :title='main_title')
    FrontLead(
      :title="content.title"
    )
    section.b-section._FrontHow
      FrontHow(v-if="content.how_it_working")
    //-section.b-section._FrontHow.-hide-on-desktop
      FrontHowSmall(v-if="content.how_it_working")
    section.b-section.steps-spacing._overflow-hidden._FrontSteps
      FrontSteps(v-if="content.steps")
    section.b-section._overflow-hidden._FrontAdvantages
      FrontAdvantages(v-if="content.advantages")
    template(v-if="show_inventory")
      section.b-section._overflow-hidden._px._FrontInventory
        FrontInventory(v-if="content.inventory")
    section.b-section._px._FrontCtaStats
      FrontCtaStats(v-if="content.cta_stats")
    section.b-section
      Reviews(
        v-if="content.reviews"
        :title="content.reviews.title"
        :reviews="content.reviews.reviews_items"
      )
    section.b-section
      Calculator(
        v-if="content.calculator"
        :title="content.calculator.title"
        :text="content.calculator.text"
      )
    // BlogPreviews(:max="3")
</template>

<script>
  // import FrontLead from '~/components/front/Lead';
  // import FrontHow from '~/components/front/How';
  // import FrontHowSmall from '~/components/front/HowSmall';
  // import FrontSteps from '~/components/front/Steps';
  // import FrontAdvantages from '~/components/front/Advantages';
  // import FrontInventory from '~/components/front/Inventory';
  // import FrontCtaStats from '~/components/front/CtaStats';
  // import Reviews from '~/components/Reviews';
  // import Calculator from '~/components/Calculator.vue';
  // import BlogPreviews from '~/components/blog/Previews';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';
  import noContent from '~/mixins/noContent'

  export default {
    components: {
      FrontLead: () => import("~/components/front/Lead"),
      FrontHow: () => import("~/components/front/How"),
      FrontHowSmall: () => import("~/components/front/HowSmall"),
      FrontSteps: () => import("~/components/front/Steps"),
      FrontAdvantages: () => import("~/components/front/Advantages"),
      FrontInventory: () => import("~/components/front/Inventory"),
      FrontCtaStats: () => import("~/components/front/CtaStats"),
      Reviews: () => import("~/components/Reviews"),
      Calculator: () => import("~/components/Calculator.vue"),
      //BlogPreviews: () => import("~/components/blog/Previews"),
    },
    mixins: [
      noContent,
    ],
    async middleware({store, redirect}) {
      await store.dispatch('page/load', 'home');
    },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    data() {
      return {
        main_title: objectValue(this, 'content.metadata.title'),
        main_description: objectValue(this, 'content.metadata.description')
      }
    },
    head() {
      const title = this.main_title;
      const description = this.main_description;
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: description},
        ],
      };
    },
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.home', {})
      }),
      ...mapState('inventory', {
        show_inventory: state => state.show_inventory
      })
    },
  };
</script>
