<template lang="pug">
  main.b-main(v-if="!noContent")
    Lead.-aos-lead(
      :title="content.title"
    )
    section.b-section._mt-xs._px._mt-fix-11
      .b-row
        .b-cell._shadow._no-gap(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-delay="400"
          data-aos-offset="0"
          data-aos-anchor-placement="top-center"
          data-aos-anchor=".-aos-lead"
          data-aos-once="true"
        )
          .b-content
            h2.b-content__title._mb(v-html="content.credit_policy.title")
            .b-content__text(v-html="content.credit_policy.text")
            .b-content__row._mt
              nuxt-link.c-solid-button._w-full-on-small(to="/request-car")
                | Request a car
        .b-cell._mt-compensate-image-on-small-and-tablet
          figure.b-image-container._auto-height-on-small-and-tablet(
            data-aos="fade-left"
            data-aos-duration="300"
            data-aos-delay="400"
            data-aos-offset="0"
            data-aos-anchor-placement="top-center"
            data-aos-anchor=".-aos-lead"
            data-aos-once="true"
          )
            .-flex-fill.-flex-fill.-show-on-desktop
            img(src="/images/loan/creditpolicy.png")
    section.b-section._px._mt-fix-9
      .b-row._mb
        .b-cell._w-full(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          h2.b-content__title._w-full(v-html="content.interested_credit_rates.title")
      .b-row(
        data-aos="fade-up"
        data-aos-duration="300"
        data-aos-offset="100"
        data-aos-anchor-placement="top-bottom"
      )
        .b-cell._shadow._pt-on-small._small-gap(
          v-for="(item, index) in content.interested_credit_rates.interested_items"
          :key="index"
        )
          h3.b-content__subtitle._with-icon(
            :style="{backgroundImage: `url(https://api.vehicleapprovalcentre.com/storage/app/media${item.icon})`}"
            v-html="item.title"
          )
          .b-content__text(v-html="item.text")
    section.b-section.b-section_overflow._px._mt-fix-10
      .b-row
        .b-cell(
          data-aos="fade-up"
          data-aos-duration="300"
          data-aos-offset="100"
          data-aos-anchor-placement="top-bottom"
        )
          .b-content
            h2.b-content__title._mb(v-html="content.advantages.title")
            .b-content__text(v-html="content.advantages.text")
            .b-content__semibold._mb(v-html="content.advantages.bold_text")
            .b-content__row._mt
              nuxt-link.c-solid-button._w-full-on-small(to="/request-car")
                | Request a car
        .b-cell._no-gap._mt-compensate-image-on-small-and-tablet
          figure.b-image-container._auto-height-on-small-and-tablet(
            data-aos="fade-left"
            data-aos-duration="300"
            data-aos-offset="200"
            data-aos-anchor-placement="top-bottom"
          )
            .-flex-fill
            img(src="/images/loan/advantages.png")
    section.b-section._mt-fix-8
      Calculator(
        title="Let’s figure out how much you can afford"
        text="Before you start shopping, let’s figure out how much you can afford. Move the sliders to see how the loan duration and the total loan amount affect your monthly payments."
      )
</template>

<script>
  import Lead from '~/components/Lead';
  import Calculator from '~/components/Calculator.vue';
  import objectValue from '~/utils/objectValue';
  import SolidButton from '~/components/Base/SolidButton';
  import StepElement from '~/components/Base/StepElement';
  import Reviews from '~/components/Reviews';
  import { mapState, mapActions } from 'vuex';
  import Step from '~/components/Base/Step';
  import noContent from '~/mixins/noContent';

  export default {
    components: {
      Step,
      Lead,
      SolidButton,
      Reviews,
      StepElement,
      Calculator,
    },
    mixins: [
      noContent,
    ],
    async middleware({store, redirect}) {
      await store.dispatch('page/load', 'loan');
    },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    head() {
      const title = objectValue(this, 'content.metadata.title');
      const description = objectValue(this, 'content.metadata.description');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: description},
        ],
      };
    },
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.loan', {}),
      }),
    },
    methods: {
      ...mapActions('overlay', [
        'setContactForm',
      ]),
    },
  };
</script>
