<template>
  <div class="request-car-page">
    <div class="container">
      <div class="request-car" :class="{ 'car-inside': car_inside_class, 'flinks-wrap': current_block === 'flinks' }">
        <div class="request-car__wrapper-main" :class="{ 'car-inside': car_inside_class }">
          <template v-if="car_inside_class">
            <InventoryCar style="height: fit-content"
                          :id="car.id"
                          :name="car.name"
                          :price="car.price"
                          :year="car.year"
                          :body="car.body"
                          :transmission="car.transmission"
                          :kilometers="car.kilometers"
                          :images="car.image"/>
          </template>
          <div class="request-car__block-wrapper">
            <template v-if="current_block !== 'success' && current_block !== 'flinks'">
              <div class="request-car__progress">
                <span :style="{ width: (progress / 9 * 100) + '%'  }"></span>
              </div>
            </template>
            <div class="request-car__block-wrap">
              <transition-group tag="div" name="slide-fade" mode="out-in">
                <QuizBudget v-model="budget"
                            @validation="valid"
                            :car="car"
                            v-if="current_block === 'budget'"
                            :key="'budget'"/>
                <QuizEmploymentStatus v-model="status"
                                      @validation="valid"
                                      v-if="current_block === 'status'"
                                      :key="'status'"/>
                <QuizWorking v-model="is_working"
                             @validation="valid"
                             v-if="current_block === 'is_working'" :key="'is_working'"/>
                <QuizEarnIncome v-model="how_earn_income"
                                @validation="valid"
                                v-if="current_block === 'how_earn_income'" :key="'how_earn_income'"/>
                <QuizAboutEmployment v-model="about_employment"
                                     @validation="valid"
                                     v-if="current_block === 'tell_about_employment'" :key="'tell_about_employment'"/>
                <QuizMonthlyIncome v-model="monthly_income"
                                   @validation="valid"
                                   v-if="current_block === 'monthly_income'" :key="'monthly_income'"/>
                <QuizLongIncome v-model="how_long_income"
                                @validation="valid"
                                v-if="current_block === 'how_long_earning_income'" :key="'how_long_earning_income'"/>
                <QuizAddress v-model="address_block"
                             @validation="valid"
                             v-if="current_block === 'address'" :key="'address'"/>
                <QuizBorn v-model="date_of_born"
                          @validation="valid"
                          v-if="current_block === 'date_born'" :key="'date_born'"/>
                <QuizLastStep v-model="main_information"
                              @validation="valid"
                              v-if="current_block === 'main_info'" :key="'main_info'"/>
                <QuizSuccess v-model="success"
                             @validation="valid"
                             v-if="current_block === 'success'" :key="'success'" />
              </transition-group>
            </div>
            <div class="request-car__btns" v-if="current_block !== 'flinks'">
              <BackButton @click="back" v-if="show_back_button"/>
              <SolidButton class="request-car__continue-btn"
                           :class="{ '_w-full': !show_back_button }"
                           @click="next"
                           v-if="current_block !== 'success'"
                           :disabled="is_current_valid || disable_btn_sending_data">
                <template v-if="current_block === 'main_info'">
                  Send a request!
                </template>
                <template v-else>
                  Continue
                </template>
              </SolidButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // import QuizBudget from "@/components/quiz/Budget";
  // import SolidButton from "@/components/Base/SolidButton";
  // import BackButton from "@/components/Base/BackButton";
  // import QuizEmploymentStatus from "@/components/quiz/EmploymentStatus";
  // import QuizMonthlyIncome from "@/components/quiz/MonthlyIncome";
  // import QuizEarnIncome from "@/components/quiz/EarnIncome";
  // import QuizWorking from "@/components/quiz/Working";
  // import QuizAboutEmployment from "@/components/quiz/AboutEmployment";
  // import QuizLongReceiving from "@/components/quiz/LongReceiving";
  // import QuizLongIncome from "~/components/quiz/LongIncome";
  // import QuizAddress from "~/components/quiz/Address";
  // import QuizBorn from "~/components/quiz/Born";
  // import QuizLastStep from "~/components/quiz/LastStep";
  // import QuizSuccess from "~/components/quiz/Success";
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';
  // import InventoryCar from "~/components/inventory/Car";
  // import QuizFlinks from "~/components/quiz/Flinks";

  const set_computed_property = (computed_property_name, field_name) => {
    return {
      [computed_property_name]: {
        get() {
          return this[field_name]
        },
        set({ name, value, valid }) {
          this.is_current_valid = valid;
          this.$store.commit('quiz/updateField', { path: `quiz.${field_name}.${name}`, value });
        }
      }
    }
  }
  export default {
    name: "request-car",
    layout: 'quiz',
    components: {
      QuizFlinks: () => import("~/components/quiz/Flinks"),
      InventoryCar: () => import("~/components/inventory/Car"),
      QuizSuccess: () => import("~/components/quiz/Success"),
      QuizLastStep: () => import("~/components/quiz/LastStep"),
      QuizBorn: () => import("~/components/quiz/Born"),
      QuizAddress: () => import("~/components/quiz/Address"),
      QuizLongIncome: () => import("~/components/quiz/LongIncome"),
      QuizLongReceiving: () => import("~/components/quiz/LongReceiving"),
      QuizAboutEmployment: () => import("~/components/quiz/AboutEmployment"),
      QuizWorking: () => import("~/components/quiz/Working"),
      QuizEarnIncome: () => import("~/components/quiz/EarnIncome"),
      QuizMonthlyIncome: () => import("~/components/quiz/MonthlyIncome"),
      QuizEmploymentStatus: () => import("~/components/quiz/EmploymentStatus"),
      BackButton: () => import("~/components/Base/BackButton"),
      SolidButton: () => import("~/components/Base/SolidButton"),
      QuizBudget: () => import("~/components/quiz/Budget"),
    },
    data() {
      return {
        disable_btn: false,
        is_current_valid: 'no',
        progress: 1,
        validation_error: {},
      }
    },
    computed: {
      disable_btn_sending_data() {
        return this.disable_btn && this.current_block === 'main_info';
      },
      show_back_button() {
        return this.current_block !== 'budget' && this.current_block !== 'success' && this.current_block !== 'flinks'
      },
      car_inside_class() {
        return this.car
      },
      ...mapFields('quiz', [
        'car',
        'current_block',
        'quiz.budget',
        'quiz.status',
        'quiz.is_working',
        'quiz.how_earn_income',
        'quiz.tell_about_employment',
        'quiz.how_long_earning_income',
        'quiz.monthly_income',
        'quiz.address',
        'quiz.date_born',
        'quiz.main_info',
        'quiz.success',
      ]),
      ...set_computed_property('about_employment', 'tell_about_employment'),
      ...set_computed_property('how_long_income', 'how_long_earning_income'),
      ...set_computed_property('address_block', 'address'),
      ...set_computed_property('date_of_born', 'date_born'),
      ...set_computed_property('main_information', 'main_info'),
    },
    methods: {
      valid(is_valid) {
        this.is_current_valid = is_valid
      },
      next() {
        switch (this.current_block) {
          case "budget":
            this.upd_current_block('status')
            this.progress = 2;
            break;
          case 'status':
            switch (this.status) {
              case 'Employed':
                this.upd_current_block('tell_about_employment')
                break;
              case 'Self-Employed':
              case 'Retired / Pension':
                this.upd_current_block('monthly_income')
                break;
              case 'Student':
                this.upd_current_block('is_working')
                break;
              case 'Other':
                this.upd_current_block('how_earn_income')
                break;
            }
            this.progress = 3;
            break;
          case 'is_working':
            this.progress = 4;
            switch (this.is_working) {
              case 'Yes':
                this.upd_current_block('tell_about_employment')
                break;
              case 'No':
                this.upd_current_block('monthly_income')
                break;
            }
            break;
          case 'how_earn_income':
            this.progress = 4;
            this.upd_current_block('monthly_income')
            break;
          case 'tell_about_employment':
            this.progress = 4;
            this.upd_current_block('monthly_income')
            break;
          case 'monthly_income':
            this.progress = 5;
            this.upd_current_block('how_long_earning_income')
            break;
          case 'how_long_earning_income':
            this.progress = 6;
            this.upd_current_block('address')
            break;
          case 'address':
            this.progress = 7;
            this.upd_current_block('date_born')
            break;
          case 'date_born':
            this.progress = 8;
            this.upd_current_block('main_info')
            break;
          case 'main_info':
            this.progress = 9;
            this.send()
            this.disable_btn = true;
            if(process.client) {
              window._fbq("track", "Lead");
              window.ga("send", {
                hitType: "event",
                eventCategory: "Lead",
                eventAction: "send"
              });
            }
            break;
        }
      },
      back() {
        switch (this.current_block) {
          case 'status':
            this.upd_current_block('budget')
            this.progress = 1;
            break;
          case 'is_working':
            this.upd_current_block('status')
            this.progress = 2;
            break;
          case 'how_earn_income':
            this.upd_current_block('status')
            this.progress = 2;
            break;
          case 'tell_about_employment':
            if(this.is_working) {
              this.upd_current_block('is_working')
              this.progress = 3;
            } else {
              this.upd_current_block('status')
              this.progress = 2;
            }
            break;
          case 'monthly_income':
            if(this.is_working === 'No') {
              this.progress = 3;
              this.upd_current_block('is_working')
            }
            if (this.tell_about_employment.Employer && this.tell_about_employment.Title) {
              this.progress = 3;
              this.upd_current_block('tell_about_employment')
            }
            if (this.status === 'Other') {
              this.progress = 3;
              this.upd_current_block('how_earn_income')
            }
            if (this.status === 'Retired / Pension') {
              this.progress = 2;
              this.upd_current_block('status')
            }
            if (this.status === 'Self-Employed') {
              this.progress = 2;
              this.upd_current_block('status')
            }
            break;
          case 'how_long_earning_income':
            this.progress = 5;
            this.upd_current_block('monthly_income')
            break;
          case 'address':
            this.progress = 5;
            this.upd_current_block('how_long_earning_income')
            break;
          case 'date_born':
            this.progress = 7;
            this.upd_current_block('address')
            break;
          case 'main_info':
            this.progress = 8;
            this.upd_current_block('date_born')
            break;
        }
      },
      send() {
        const DataObject = {
          MinimumBidPrice: '0.00',
          LeadTypeId: 6,
          IsTest: false,
          FirstName: this.main_info['First name'],
          LastName: this.main_info['Last name'],
          AddressLine1: this.address['Street address'],
          PostalCode: this.address['Postal code'],
          City: this.address['City'],
          Province: this.address['Province'],
          HomePhone: this.main_info['Phone number'],
          Email: this.main_info['Email'],
          Country: 'Canada',
          EmployerMonths: this.how_long_earning_income['Months'],
          Income: this.monthly_income,
          JobTitle: this.tell_about_employment['Title'] || '',
          ResidenceCost: '',
          ResidenceYears: '',
          EmployerName: this.tell_about_employment['Employer'] || '',
          ResidenceType: '',
          EmploymentStatus: this.status === 'Other' ? this.how_earn_income : this.status,
          EmployerYears: this.how_long_earning_income['Years'],
          VehicleType: this.car ? this.car.name : '',
          VehicleBudget: this.car ? this.car.price : this.budget || '',
          PassCode: 'add3b011-f16b-4697-bcda-b2886df4ae23',
          DOB: this.date_born['Year'] + '/' + this.date_born['Month'] + '/' + this.date_born['Day'],
          TradeIn: ''
        };
        const other_crm_data = {
          VID: 69809,
          LID: 6552,
          AID: 29788,
          FirstName: this.main_info['First name'],
          LastName: this.main_info['Last name'],
          Address: this.address['Street address'],
          City: this.address['City'],
          Province: this.address['Province'],
          PostalCode: this.address['Postal code'],
          Phone: this.main_info['Phone number'],
          Email: this.main_info['Email'],
          DateofBirth: this.date_born['Year'] + '/' + this.date_born['Month'] + '/' + this.date_born['Day'],
          EmploymentStatus: this.status === 'Other' ? this.how_earn_income : this.status,
          Employer: this.tell_about_employment['Employer'] || '',
          JobTitle: this.tell_about_employment['Title'] || '',
          GrossMonthlyIncome: this.monthly_income,
          EmployerYears: this.how_long_earning_income['Years'],
          EmployerMonths: this.how_long_earning_income['Months'],
          VehiclePreference: this.car ? this.car.body : localStorage.getItem('vac_type') || '',
          Budget: this.car ? this.car.price : parseInt(this.budget) || '',
          TradeIn: '',
          EmploymentStatusOther: this.how_earn_income || '',
          VehicleTitle: this.car ? this.car.make_name + ' ' + this.car.model_name : '',
          ModelYear: this.car ? this.car.year : ''
        };

        // console.log(other_crm_data);
        // let StringData = 'params_str=';
        let StringData = '';
        for (let k in DataObject) {
          StringData += `${k}=${DataObject[k]}&`
        }
        let OtherStringData = '';
        for (let k in other_crm_data) {
          OtherStringData += `${k}=${other_crm_data[k]}&`
        }
        this.send_to_CRM({data: StringData, other_data: OtherStringData})
      },
      ...mapMutations('quiz', [
        'clean',
      ]),
      ...mapActions('quiz', [
        'upd_current_block',
        'send_to_CRM'
      ])
    },
    destroyed() {
      this.clean();
    },
    async middleware({ store }) {
      await store.dispatch('inventory/check_ip')
    },
    async created() {
      if(this.car) {
        this.current_block = 'status'
      }
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    head() {
      return {
        title: 'Request a Car ✅ Vehicle Approval Centre',
        meta: [
          {hid: 'description', name: 'description', content: 'Request a car. Take a quick survey. Fast, simple, and convenient.'},
        ],
      }
    }
  }
</script>

<style lang="scss">
  .slide-fade-enter-active, .component-fade-leave-active {
    transition: all .3s ease;
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(30px);
    opacity: 0;
  }
</style>
