<template lang="pug">
  main.b-main
    Lead(
      title="Sitemap"
    )
    section.b-section._sitemap._px._mt-xs
      nuxt-link.b-accordion-outer(
        v-for="(item, index) in items"
        :key="index"
        :to="item.route"
      )
        Accordion(
          :expandable="false"
          :title="item.label"
        )
</template>

<script>
  import Lead from '~/components/Lead';
  import Accordion from '~/components/Base/Accordion';

  export default {
    components: {
      Lead,
      Accordion,
    },
    // async middleware({ store }) {
    //   await store.dispatch('inventory/check_ip')
    // },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    data: () => ({
      items: [
        {
          route: '/',
          label: 'Vehicle Approval Centre',
        },
        {
          route: '/inventory',
          label: 'Inventory',
        },
        {
          route: '/about',
          label: 'About VAC',
        },
        {
          route: '/calculator',
          label: 'Car loan calculator',
        },
        {
          route: '/loan-rates',
          label: 'Loan Rates',
        },
        {
          route: '/video',
          label: 'Video',
        },
        {
          route: '/blog',
          label: 'Blog',
        },
        {
          route: '/terms-conditions',
          label: 'Terms & Conditions',
        },
        {
          route: '/privacy-policy',
          label: 'Privacy Policy',
        },
      ],
    }),
  };
</script>
