<template lang="pug">
  main.b-main(v-if="!noContent")
    Lead(
      :title="content.title"
    )
    section.b-section._px._mt-xs
      Accordion(
        v-for="(item, index) in content.terms_items"
        :key="index"
        :title="item.title"
        :text="item.text"
      )
</template>

<script>
  import Lead from '~/components/Lead';
  import Accordion from '~/components/Base/Accordion';
  import objectValue from '~/utils/objectValue';
  import { mapState } from 'vuex';
  import noContent from '~/mixins/noContent';

  export default {
    components: {
      Lead,
      Accordion,
    },
    mixins: [
      noContent,
    ],
    async middleware({store, redirect}) {
      await store.dispatch('page/load', 'terms-conditions');
      // await store.dispatch('inventory/check_ip')
    },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    head() {
      const title = objectValue(this, 'content.metadata.title');
      const description = objectValue(this, 'content.metadata.description');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: description},
        ],
      };
    },
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.terms-conditions', {}),
      }),
    },
  };
</script>
