<template>
  <div class="test-360">
    <div class="container">
      <h1 class="test-360__title">
        TEST 360
      </h1>
      <ExteriorViewer/>
    </div>
  </div>
</template>

<script>
  import ExteriorViewer from "@/components/car/ExteriorViewer";
  import InteriorViewer from "@/components/car/InteriorViewer";
  export default {
    name: "test-360",
    components: {InteriorViewer, ExteriorViewer},
  }
</script>

<style lang="scss">
.test-360 {
  position: relative;
  @include set100vh;
  h1 {
    @extend %h3-title;
  }
  /*&__images {*/
  /*  transition: all .5s ease;*/
  /*  opacity: 0;*/
  /*  position:absolute;*/
  /*  overflow:hidden;*/
  /*  top:50%;*/
  /*  left:50%;*/
  /*  width:960px;*/
  /*  height:540px;*/
  /*}*/
  /*img {*/
  /*  position:absolute;*/
  /*  top:0;*/
  /*  width:100%;*/
  /*  height:auto;*/
  /*}*/
}
/*@media	screen and (max-device-width: 1024px) and (orientation:portrait) {
  .test-360__images {
    width:720px;
    height:450px;
  }
}
@media	screen and (max-device-width: 480px) and (orientation:landscape),
screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
  .test-360__images {
    width:360px;
    height:225px;
    margin-left:-180px;
    margin-top:-113px;
  }
}
@media	screen and (max-device-width: 480px) and (orientation:portrait),
screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
  .test-360__images {
    width:320px;
    height:200px;
    margin-left:-160px;
    margin-top:-100px;
  }
}*/
</style>
