<template>
  <div class="main-elements">
    <div class="container">
      <div class="wrap">
        <h1 class="doc-title">
          Sliders arrow
        </h1>
        <div class="df-wrap">
          <SliderArrow @click="check_click" class="mr-20">
            <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 23L1 12L12 1" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
          </SliderArrow>
          <SliderArrow @click="check_click">
            <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L12 12L1 23" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
          </SliderArrow>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Back link
        </h1>
        <div class="df-wrap">
          <BackLink link_path="/"/>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Radio button
        </h1>
        <div class="df-wrap">
          <RadioButton @input="check_click">
            Your text
          </RadioButton>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Checkbox
        </h1>
        <div class="df-wrap">
          <CheckboxButton>
            <svg slot="icon" width="34" height="16" viewBox="0 0 34 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18.2162 6.59459V4.59459L18.2162 2H12.4477L9.97304 5.09337C9.21395 6.04224 8.06469 6.59459 6.84956 6.59459H4C2.89543 6.59459 2 7.49002 2 8.59459L2 11.7838H5.57354C5.53415 11.9849 5.51351 12.1927 5.51351 12.4054C5.51351 12.8987 5.62456 13.366 5.82302 13.7838H2C0.89543 13.7838 0 12.8884 0 11.7838V8.59459C0 6.38546 1.79086 4.59459 4 4.59459H6.84956C7.45713 4.59459 8.03175 4.31842 8.4113 3.84398L10.886 0.750609C11.2655 0.276179 11.8402 0 12.4477 0H18.2162C19.3208 0 20.2162 0.895431 20.2162 2V2.59459V4.59459H22.2162H32C33.1046 4.59459 34 5.49003 34 6.59459V11.7838C34 12.8884 33.1046 13.7838 32 13.7838H29.0959C29.2943 13.366 29.4054 12.8987 29.4054 12.4054C29.4054 12.1927 29.3848 11.9849 29.3454 11.7838H32V6.59459H20.2162H18.2162ZM23.033 11.7838H11.8859C11.9253 11.9849 11.9459 12.1927 11.9459 12.4054C11.9459 12.8987 11.8349 13.366 11.6364 13.7838H23.2825C23.084 13.366 22.973 12.8987 22.973 12.4054C22.973 12.1927 22.9936 11.9849 23.033 11.7838Z"
                    fill="#41456B"></path>
              <path d="M11.9463 6.43237H13.7841" stroke="#41456B" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
              <circle cx="8.72989" cy="12.4054" r="2.21622" stroke="#41456B" stroke-width="2"></circle>
              <circle cx="26.1889" cy="12.4054" r="2.21622" stroke="#41456B" stroke-width="2"></circle>
            </svg>
            <span slot="text">Your text</span>
          </CheckboxButton>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Play button
        </h1>
        <div class="df-wrap">
          <PlayButton @click="check_click"/>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Tab button
        </h1>
        <div class="df-wrap">
          <TabButton>
            TAB
          </TabButton>
        </div>
      </div>
      <div class="wrap">
        <h1 class="doc-title">
          Tag button
        </h1>
        <div class="df-wrap">
          <TagButton @click="check_click">
            Tag
          </TagButton>
        </div>
      </div>
      <hr class="mb-30">
      <div class="wrap">
        <div class="df-wrap">
          <div class="wrapper mr-20">
            <h1 class="doc-title">
              Solid button
            </h1>
            <div class="df-wrap">
              <SolidButton class="mr-20">
                Solid button
              </SolidButton>
              <SolidButton disabled>
                Solid button
              </SolidButton>
            </div>
          </div>
          <div class="wrapper">
            <h1 class="doc-title">
              Solid button
            </h1>
            <div class="df-wrap">
              <LinearButton class="mr-20">
                Linear button
              </LinearButton>
              <LinearButton disabled>
                Linear button
              </LinearButton>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-30">
      <div class="wrap">
        <div class="df-wrap">
          <div class="wrapper mr-20">
            <h1 class="doc-title">
              Input
            </h1>
            <div class="df-wrap">
              <BaseInput class="mr-20"
                         placeholder="Your placeholder"
                         :is_icon="true"
                         :check_errors="true">
                <svg slot="icon" width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="10" height="18" rx="1" stroke="#606276" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"></rect>
                </svg>
                <span slot="error-text">
                  Error text
                </span>
              </BaseInput>
              <BaseInput class="mr-20"
                         placeholder="Without icon"
                         :check_errors="true">
                <span slot="error-text">
                  Error text
                </span>
              </BaseInput>
            </div>
            <div class="df-wrap">
              <BaseInput class="mr-20"
                         placeholder="Without check empty string"/>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="df-wrap">
          <div class="wrapper mr-20">
            <h1 class="doc-title">
              Burger button
            </h1>
            <div class="df-wrap">
              <BurgerButton/>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="df-wrap">
          <div class="wrapper mr-20">
            <h1 class="doc-title">
              Logotype
            </h1>
            <div class="df-wrap">
              <Logotype/>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="df-wrap">
          <div class="wrapper mr-20">
            <h1 class="doc-title">
              Step item
            </h1>
            <div class="df-wrap">
              <StepElement :number="1"
                           title="Title"
                           text="Text"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SliderArrow from "~/components/Base/SliderArrow";
  import BackLink from "~/components/Base/BackLink";
  import RadioButton from "~/components/Base/RadioButton";
  import CheckboxButton from "~/components/Base/CheckboxButton";
  import PlayButton from "~/components/Base/PlayButton";
  import TabButton from "~/components/Base/TabButton";
  import TagButton from "~/components/Base/TagButton";
  import SolidButton from "~/components/Base/SolidButton";
  import LinearButton from "~/components/Base/LinearButton";
  import BaseInput from "~/components/Base/BaseInput";
  import BurgerButton from "~/components/Base/BurgerButton";
  import Logotype from "~/components/Base/Logotype";
  import StepElement from "~/components/Base/StepElement";

  export default {
    name: "ui-elements",
    components: {
      StepElement,
      Logotype,
      BurgerButton,
      BaseInput,
      LinearButton,
      SolidButton, TagButton, TabButton, PlayButton, CheckboxButton, RadioButton, BackLink, SliderArrow
    },
    methods: {
      check_click() {
        alert('lol')
      }
    },
  }
</script>

<style lang="scss">
  .main-elements {
    padding: 50px 300px;
  }
  .doc-title {
    @extend %h3-title;
    color: $content;
    margin-bottom: 20px;
  }
  .doc-subtitle {
    @extend %text-menu;
    color: $content;
    margin-bottom: 20px;
  }
  .df-wrap {
    @extend %df;
    margin-bottom: 50px;
  }
  .mr-20 {
    margin-right: 20px;
  }
  .mb-30 {
    margin-bottom: 50px;
  }
</style>
