<template lang="pug">
  main.b-main(v-if="!noContent")
    Lead(
      :title="content.title"
    )
    Videos(
      :videos="content.videos"
    )
</template>

<script>
  import Lead from '~/components/Lead';
  import Videos from '~/components/videos/Videos';
  import { mapState } from 'vuex';
  import objectValue from '~/utils/objectValue';
  import noContent from '~/mixins/noContent';

  export default {
    components: {
      Lead,
      Videos,
    },
    mixins: [
      noContent,
    ],
    async middleware({store, redirect}) {
      await store.dispatch('page/load', 'videos');
    },
    async created() {
      if(process.client) {
        await this.$store.dispatch('inventory/check_ip');
      }
    },
    head() {
      const title = objectValue(this, 'content.metadata.title');
      const description = objectValue(this, 'content.metadata.description');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: description},
        ],
      };
    },
    computed: {
      ...mapState('page', {
        content: state => objectValue(state, 'pages.videos', {}),
      }),
    },
  };
</script>
