<template>
  <BaseQuizBlock>
    <h2 slot="title">Tell us about your employment</h2>
    <p slot="text">
      We won’t come visit but we need these details to confirm your employment status so you can get the best rates possible.
    </p>
    <div slot="answers" class="request-car-block__answers">
      <BaseInput v-for="field of fields"
                 type="text"
                 :key="field"
                 :value="value[field]"
                 @input="changeValue"
                 :input_name="`about-employment-${field.toLowerCase().split(' ').join('-')}`"
                 is_quiz
                 :quiz_name="field"
                 check_empty
                 :validation_error.sync="validation_error[field]"
                 class="-input-full-block -mb-input-10"
                 :placeholder="field"/>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import { quiz_multiple_input } from '@/mixins';
  import BaseInput from "@/components/Base/BaseInput";
  export default {
    name: "QuizAboutEmployment",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_multiple_input],
  }
</script>

<style lang="scss" scoped>

</style>
