<template>
  <BaseQuizBlock>
    <h2 slot="title">Where do you live?</h2>
    <p slot="text">
      Providing your location helps find the best deals near you.
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <BaseInput v-for="field of fields"
                 :key="field"
                 type="text"
                 @input="changeValue"
                 :value="value[field]"
                 :input_id="`address-${field.toLowerCase().split(' ').join('-')}`"
                 :validation_error.sync="validation_error[field]"
                 check_empty
                 is_address
                 :input_name="`address-${field.toLowerCase().split(' ').join('-')}`"
                 is_quiz
                 :quiz_name="field"
                 class="-mb-input-10"
                 :class="class_names(field)"
                 :placeholder="field"/>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";
  import {quiz_multiple_input} from "~/mixins";

  export default {
    name: "QuizAddress",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_multiple_input],
    data() {
      return {
        is_address: true
      }
    },
    methods: {
      class_names(field_name) {
        const condition = field_name === 'Province' || field_name === 'Postal code';
        return condition ? '-input-half-block' : '-input-full-block -mb-input-10'
      }
    },
  }
</script>

<style lang="scss">

</style>
