<template>
  <BaseQuizBlock>
    <h2 slot="title">When were you born?</h2>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns" style="margin-top: 20px;">
      <template v-for="field of fields">
        <BaseInput v-if="field === 'Month'"
                  :key="field"
                   type="tel"
                   :value="value[field]"
                   check_born_month
                   @input="changeValue"
                   is_quiz
                   only_numbers
                   :input_name="`born-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   class="-mb-input-10"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
        <BaseInput v-if="field === 'Year'"
                  :key="field"
                   type="tel"
                   :value="value[field]"
                   check_year
                   @input="changeValue"
                   is_quiz
                   only_numbers
                   :input_name="`born-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   class="-mb-input-10"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
        <BaseInput v-if="field === 'Day'"
                  :key="field"
                   type="tel"
                   :value="value[field]"
                   check_day
                   @input="changeValue"
                   is_quiz
                   only_numbers
                   :input_name="`born-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   class="-mb-input-10"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
      </template>
<!--      <BaseInput @input="changeValue"  class="-input-born-year-block" placeholder="Year"/>-->
<!--      <BaseInput @input="changeValue" name="born-month" class="-input-born-month-block" placeholder="Month"/>-->
<!--      <BaseInput @input="changeValue" name="born-day" class="-input-born-day-block" placeholder="Day"/>-->
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";
  import {quiz_multiple_input} from "~/mixins";

  export default {
    name: "QuizBorn",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_multiple_input],
    methods: {
      class_names(field_name) {
        const is_year = field_name === 'Year',
              is_month = field_name === 'Month',
              is_day = field_name === 'Day';

        return is_year ? '-input-born-year-block' :
               is_month ? '-input-born-month-block' :
               is_day ? '-input-born-day-block' : '';
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
