<template>
  <BaseQuizBlock>
    <h2 slot="title">What's your budget?</h2>
    <p slot="text">Find vehicle options that fit your budget.</p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <RadioButton @input="changeValue" v-for="display_value in display_values" :key="display_value" :is_checked="display_value.val === value" name="budget" :value="display_value.val">
        {{ display_value.name }}
      </RadioButton>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import RadioButton from "@/components/Base/RadioButton";
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import { quiz_method } from '@/mixins'
  export default {
    name: "QuizBudget",
    components: {BaseQuizBlock, RadioButton},
    props: {
      value: String
    },
    data() {
      return {
        display_values: [
          {
            name: 'Under $250/Month',
            val: 250,
          },
          {
            name: '$250-374/Month',
            val: 374,
          },
          {
            name: '$374-500/Month',
            val: 500,
          },
          {
            name: 'Over $500/Month',
            val: 600,
          },
        ]
      }
    },
    mixins: [quiz_method],
  }
</script>

<style lang="scss" scoped>

</style>
