<template>
  <BaseQuizBlock>
    <h2 slot="title">How do you earn income?
    </h2>
    <p slot="text">
      Your employment status will help determine the best vehicle and financing options for you.
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <RadioButton v-for="radioButton of radioButtons"
                   class="-mb-input-10"
                   :is_checked="radioButton === value"
                   name="earn-income"
                   :key="radioButton"
                   :value="radioButton"
                   @input="changeValue"
      >
        {{radioButton}}
      </RadioButton>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import RadioButton from "@/components/Base/RadioButton";
  import { quiz_method } from '@/mixins'
  export default {
    name: "QuizEarnIncome",
    components: {RadioButton, BaseQuizBlock},
    mixins: [quiz_method],
    props: {
      value: String
    },
    data() {
      return {
        radioButtons: [
          'Long-term disability',
          'Spousal support / Alimony',
          'Child support',
          'Social assistance / Welfare',
          'Maternity leave',
          'Baby bonus / Child tax',
          'Unemployed / EI',
          'Other / Not listed'
        ]
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
