<template>
  <BaseQuizBlock>
    <h2 slot="title">What's your employment status?</h2>
    <p slot="text">Your employment status will help determine the best vehicle and financing options for you.</p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <RadioButton v-for="display in display_data"
                   :key="display"
                   :is_checked="display === value"
                   @input="changeValue"
                   name="employment-status"
                   :value="display">
        {{ display }}
      </RadioButton>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import RadioButton from "@/components/Base/RadioButton";
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import { quiz_method } from '@/mixins'
  export default {
    name: "QuizEmploymentStatus",
    components: {BaseQuizBlock, RadioButton},
    mixins: [quiz_method],
    props: {
      value: String
    },
    data() {
      return {
        display_data: [
          'Employed',
          'Self-Employed',
          'Student',
          'Retired / Pension',
          'Other'
        ]
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
