<template>
  <BaseQuizBlock>
    <iframe slot="answers" style="width: 100%;margin: 0px auto;position: relative;left: 50%;transform: translateX(-50%);padding-bottom: 50px;" class="flinksconnect" height="760"
            src="https://vehicleapprovalcentre-iframe.private.fin.ag/?theme=light&desktopLayout=true&institutionFilterEnable=true&backgroundColor=FFFFFF&foregroundColor1=41456B&foregroundColor2=606276&daysOfTransactions=Days365&demo=false&consentEnable=true">
    </iframe>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";
  export default {
    name: "QuizFlinks",
    components: {BaseQuizBlock},
    head() {
      return {
        title: 'VAC Flinks'
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
