<template>
  <BaseQuizBlock>
    <h2 slot="title">Congratulations! Last step.</h2>
    <p slot="text">
      Get access to your vehicle and financing options by creating your account. There is no obligation to continue with financing if you change your mind.
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <template v-for="field of fields">
        <BaseInput v-if="field !== 'Email' && field !== 'Phone number'"
                  :key="field"
                   type="text"
                   @input="changeValue"
                   is_quiz
                   check_empty
                   :input_name="`main-info-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
        <BaseInput v-else-if="field === 'Email'"
                  :key="field"
                   type="email"
                   @input="changeValue"
                   is_quiz
                   check_email
                   :input_name="`main-info-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
        <PhoneInput v-else
                  :key="field"
                   type="tel"
                   @input="changeValue"
                   is_quiz
                   :input_name="`main-info-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   :class="class_names(field)"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
      </template>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";
  import {quiz_multiple_input} from "~/mixins";
  import PhoneInput from "~/components/Base/PhoneInput";

  export default {
    name: "QuizLastStep",
    components: {PhoneInput, BaseInput, BaseQuizBlock},
    mixins: [quiz_multiple_input],
    methods: {
      class_names(field_name) {
        const condition = field_name === 'First name' || field_name === 'Last name';
        return condition ? '-input-half-block -mb-input-10' : '-input-full-block -mb-input-10'
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
