<template>
  <BaseQuizBlock>
    <h2 slot="title">How long receiving?</h2>
    <p slot="text">
      Your income details help us make sure your vehicle payments are easy and affordable.
    </p>
    <div slot="answers" class="request-car-block__answers">
      <BaseInput @input="changeValue" class="-input-full-block" placeholder="Time"/>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import BaseInput from "@/components/Base/BaseInput";
  import { quiz_method } from '@/mixins';
  export default {
    name: "QuizLongReceiving",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_method],
  }
</script>

<style lang="scss" scoped>

</style>
