<template>
  <BaseQuizBlock>
    <h2 slot="title">How long have you been earning this income?</h2>
    <p slot="text">
      Your income details help us make sure your vehicle payments are easy and affordable.
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <template v-for="field of fields">
        <BaseInput v-if="field === 'Months'"
                   type="tel"
                   :key="field" @input="changeValue"
                   :value="value[field]"
                   is_quiz
                   only_numbers
                   check_empty
                   check_month
                   :input_name="`long-income-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   class="-input-half-block -mb-input-10"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
        <BaseInput v-else
                   type="tel"
                   :value="value[field]"
                   :key="field" @input="changeValue"
                   is_quiz
                   only_numbers
                   check_empty
                   :input_name="`long-income-${field.toLowerCase().split(' ').join('-')}`"
                   :quiz_name="field"
                   class="-input-half-block -mb-input-10"
                   :validation_error.sync="validation_error[field]"
                   :placeholder="field"/>
      </template>
<!--      <BaseInput @input="changeValue" name="long-income" class="-input-half-block" placeholder="Years"/>-->
<!--      <BaseInput @input="changeValue" name="long-income" class="-input-half-block" placeholder="Mounths"/>-->
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";
  import {quiz_multiple_input} from "~/mixins";

  export default {
    name: "QuizLongIncome",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_multiple_input],
  }
</script>

<style lang="scss" scoped>

</style>
