<template>
  <BaseQuizBlock>
    <h2 slot="title">Enter your monthly income</h2>
    <p slot="text">
      Your income details help us make sure your vehicle payments are easy and affordable. <b>Before taxes and deductions.</b>
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <BaseInput @input="changeValue"
                 type="tel"
                 :value="value"
                 is_quiz
                 check_empty
                 only_numbers
                 is_icon
                 class="-input-full-block"
                 placeholder="Monthly income">
        <span slot="icon" style="margin-top: -3px;">
          $
        </span>
      </BaseInput>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import BaseInput from "@/components/Base/BaseInput";
  import { quiz_method } from '@/mixins'
  export default {
    name: "QuizMonthlyIncome",
    components: {BaseInput, BaseQuizBlock},
    mixins: [quiz_method],
  }
</script>

<style lang="scss">

</style>
