<template>
  <BaseQuizBlock :is_icon_visible="true">
    <h2 slot="title">Application successful!</h2>
    <p slot="text">
      Your response was successfully submitted. Thank you!
      Our team will reach out to you shortly.
    </p>
    <div slot="answers" class="request-car-block__answers">
      <div class="request-car-block__label">
        Confirmation number:
      </div>
      <BaseInput type="readonly" name="quiz-success" class="-input-half-block" :value="val"/>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseQuizBlock from "~/components/Base/BaseQuizBlock";

  export default {
    name: "QuizSuccess",
    components: {BaseInput, BaseQuizBlock},
    computed: {
      val() {
        return Date.now()
      }
    },
    created() {
      this.$emit('input', this.val)
    }
  }
</script>

<style lang="scss" scoped>

</style>
