<template>
  <BaseQuizBlock>
    <h2 slot="title">Are you currently working?</h2>
    <p slot="text">
      Your employment status will help determing the best vehicle and financing options for you.
    </p>
    <div slot="answers" class="request-car-block__answers -quiz-two-columns">
      <RadioButton @input="changeValue" class="-mb-input-10" :is_checked="value === 'Yes'" name="is-working" :value="'Yes'">
        Yes
      </RadioButton>
      <RadioButton @input="changeValue" class="-mb-input-10" :is_checked="value === 'No'" name="is-working" :value="'No'">
        No
      </RadioButton>
    </div>
  </BaseQuizBlock>
</template>

<script>
  import BaseQuizBlock from "@/components/Base/BaseQuizBlock";
  import RadioButton from "@/components/Base/RadioButton";
  import { quiz_method } from '@/mixins'
  export default {
    name: "QuizWorking",
    components: {RadioButton, BaseQuizBlock},
    props: {
      value: [Boolean,String]
    },
    mixins: [quiz_method]
  }
</script>

<style lang="scss" scoped>

</style>
