<template>
  <div class="v-car-page">
    <section class="v-car-page__main">
      <div class="v-car-page__wrap v-car-page__wrap_top">
        <div class="v-car-page__wrapper">
          <h1 class="v-car-page__title">
            {{ name }}
          </h1>
          <div class="v-car-page__viewer">
            Watching now {{ viewers }} people
          </div>
        </div>
      </div>
      <div class="v-car-page__wrap v-car-page__wrap_left">
        <div class="v-car-page__slider-wrapper">
          <figure class="v-car-page__slide" ref="slide_image">
            <div v-show="slide_view === 'interior' || slide_view === '360'" class="v-car-page__interactive">
              <template v-if="!!three_sixty && three_sixty.length >= 16">
                <ExteriorViewer v-if="slide_view === '360'" :total-frames="three_sixty.length" :images_array="three_sixty"/>
              </template>
              <template v-if="three_sixty_interier">
                <InteriorViewer :interior_image="three_sixty_interier" v-if="slide_view === 'interior'"/>
              </template>
            </div>
            <template v-if="current_image_slide">
              <div @mouseover="zoom_image" @mousemove="zoom_image" @mouseout="stop_zoom" class="v-car-page__image-wrapper">
                <img  ref="zoomed_image"  v-lazy="current_image_slide">
              </div>
            </template>
            <div class="v-car-page__interactive-btns">
              <div style="display:flex; position:relative; z-index: 10;" v-show="slide_view === 'interior' || slide_view === '360'">
                <button class="c-solid-button -three-sixty" :class="{ active: slide_view === '360' }"
                        @touchstart="change_slide_view('360')" @click="change_slide_view('360')">
                  Exterior
                </button>
                <template v-if="three_sixty_interier">
                  <button class="c-solid-button -three-sixty" :class="{ active: slide_view === 'interior' }" @touchstart="change_slide_view('interior')" @click="change_slide_view('interior')">
                    Interior
                  </button>
                </template>
              </div>
              <div style="display:flex; justify-content:space-between; position:relative; z-index: 10;" :style="{ 'width': slide_view !== 'interior' && slide_view !== '360' ? '100%' : 'auto' }">
                <button @click="zoom = !zoom" v-show="slide_view !== 'interior' && slide_view !== '360' && is_mobile" class="zoom">
                  <template v-if="zoom">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4592 18.907C15.1322 18.907 18.9184 15.1212 18.9184 10.4535C18.9184 5.78579 15.1322 2 10.4592 2C5.78629 2 2 5.78579 2 10.4535C2 15.1212 5.78629 18.907 10.4592 18.907ZM10.4592 20.907C12.9841 20.907 15.3001 20.0128 17.1074 18.5239L22.2932 23.7069C22.6838 24.0973 23.317 24.0972 23.7074 23.7065C24.0978 23.3159 24.0977 22.6827 23.707 22.2923L18.5231 17.1113C20.0194 15.3031 20.9184 12.9832 20.9184 10.4535C20.9184 4.68018 16.2357 0 10.4592 0C4.68275 0 0 4.68018 0 10.4535C0 16.2268 4.68275 20.907 10.4592 20.907ZM14.4592 11.4535C15.0115 11.4535 15.4592 11.0058 15.4592 10.4535C15.4592 9.9012 15.0115 9.45348 14.4592 9.45348H6.45922C5.90693 9.45348 5.45922 9.90119 5.45922 10.4535C5.45922 11.0058 5.90693 11.4535 6.45922 11.4535H14.4592Z" fill="white"/>
                    </svg>
                  </template>
                  <template v-else>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4592 18.907C15.1322 18.907 18.9184 15.1212 18.9184 10.4535C18.9184 5.78579 15.1322 2 10.4592 2C5.78629 2 2 5.78579 2 10.4535C2 15.1212 5.78629 18.907 10.4592 18.907ZM10.4592 20.907C12.9841 20.907 15.3001 20.0128 17.1074 18.5239L22.2932 23.7069C22.6838 24.0973 23.317 24.0972 23.7074 23.7065C24.0978 23.3159 24.0977 22.6827 23.707 22.2923L18.5231 17.1113C20.0194 15.3031 20.9184 12.9832 20.9184 10.4535C20.9184 4.68018 16.2357 0 10.4592 0C4.68275 0 0 4.68018 0 10.4535C0 16.2268 4.68275 20.907 10.4592 20.907ZM10.4592 5.45348C11.0115 5.45348 11.4592 5.9012 11.4592 6.45348V9.45348H14.4592C15.0115 9.45348 15.4592 9.9012 15.4592 10.4535C15.4592 11.0058 15.0115 11.4535 14.4592 11.4535H11.4592V14.4535C11.4592 15.0058 11.0115 15.4535 10.4592 15.4535C9.90693 15.4535 9.45922 15.0058 9.45922 14.4535V11.4535H6.45922C5.90693 11.4535 5.45922 11.0058 5.45922 10.4535C5.45922 9.90119 5.90693 9.45348 6.45922 9.45348H9.45922V6.45348C9.45922 5.9012 9.90693 5.45348 10.4592 5.45348Z" fill="white"/>
                    </svg>
                  </template>
                </button>
                <button class="c-solid-button -three-sixty -three-sixty-copy" :class="{ copied: cop }" v-tooltip="{ text: tooltip_text }" @touchstart="share_car" @click="share_car">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1H4C2.34315 1 1 2.34315 1 4V20C1 21.6569 2.34315 23 4 23H20C21.6569 23 23 21.6569 23 20V13" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.5 1H22.5M22.5 1V8.5M22.5 1L12.5 11" stroke="#41456B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span>
                    share
                  </span>
                </button>
              </div>
            </div>
          </figure>
          <VueSlickCarousel ref="carusel" :arrows="true" :variableWidth="true" :slidesToShow="3">
            <template v-if="!!three_sixty && three_sixty.length >= 16">
              <div class="v-car-page__slider-item v-car-page__slider-item_three-sixty" @touchstart="change_slide_view('360')" @click="change_slide_view('360')">
                <img v-lazy="three_sixty[0].path" alt="three_sixty">
                <span>360°</span>
              </div>
            </template>
            <div class="v-car-page__slider-item" @touchstart="change_slide(slide.path)" @click="change_slide(slide.path)" v-for="slide in slider_image" :key="slide.id">
              <img v-lazy="slide.slider_image_thumb" :alt="slide.title">
            </div>
            <template #prevArrow="arrowOption">
              <SliderArrow class="v-car-page__arr-prev">
                <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 23L1 12L12 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </SliderArrow>
            </template>
            <template #nextArrow="arrowOption">
              <SliderArrow class="v-car-page__arr-next">
                <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L12 12L1 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </SliderArrow>
            </template>
          </VueSlickCarousel>
          <button @touchstart="apply_car" @click="apply_car" class="c-solid-button -no-wrap _header-request -hide-on-desktop" style="max-width: 100%; width: 100%; margin-top: 20px;">
            Apply for this vehicle
          </button>
        </div>
      </div>
      <div class="v-car-page__wrap v-car-page__wrap_right">
        <div class="v-car-page__info">
          <div class="v-car-page__info-wrap_left">
            <div class="v-car-page__info-item">
              <div class="v-car-page__label">
                Price
              </div>
              <div class="v-car-page__price">
                $ {{ price | number_format }}
              </div>
            </div>
            <div class="v-car-page__info-item">
              <div class="v-car-page__label">
                Body
              </div>
              <div class="v-car-page__item-text">
                {{ body }}
              </div>
            </div>
            <div class="v-car-page__info-item">
              <div class="v-car-page__label">
                Transmission
              </div>
              <div class="v-car-page__item-text">
                {{ transmission }}
              </div>
            </div>
          </div>
          <div class="v-car-page__info-wrap_right">
            <div class="v-car-page__info-item">
              <div class="v-car-page__label">
                Year
              </div>
              <div class="v-car-page__item-text">
                {{ new Date(year).getFullYear() }}
              </div>
            </div>
            <div class="v-car-page__info-item">
              <div class="v-car-page__label">
                Kilometres
              </div>
              <div class="v-car-page__item-text">
                {{ kilometers | number_format  }}
              </div>
            </div>
          </div>
        </div>
        <div class="v-car-page__details">
          <h2 class="v-car-page__subtitle">
            Detail
          </h2>
          <ul class="v-car-page__list">
            <template v-for="detail in details">
              <li :key="detail.id" class="v-car-page__detail-item">
                {{ detail.id }}
              </li>
              <li :key="detail.value" class="v-car-page__detail-item">
                {{ detail.value }}
              </li>
            </template>
          </ul>
        </div>
        <div class="v-car-page__descr">
          <h2 class="v-car-page__subtitle">
            Description
          </h2>
          <p class="v-car-page__description" v-html="description"></p>
          <SolidButton class="v-car-page_more-info" @click="setContactForm(name)">
            Request more information
          </SolidButton>
        </div>
      </div>
    </section>
    <section class="b-section v-car-page__section">
      <Calculator class="v-car-page__calculator" is_car_page @click="apply_car" :init_amount="price" :title="'Calculate the installment plan for this car.'"/>
    </section>
  </div>
</template>

<script>
  import get_car from "~/middleware/get_car";
  import { mapFields } from 'vuex-map-fields';
  import { mapActions, mapMutations } from 'vuex';
  import ExteriorViewer from "~/components/car/ExteriorViewer";
  import number_formatter from "~/mixins/number_formatter";
  import InteriorViewer from "~/components/car/InteriorViewer";
  import SolidButton from "~/components/Base/SolidButton";
  import SliderArrow from "~/components/Base/SliderArrow";
  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  import Calculator from '~/components/Calculator.vue';
  import objectValue from "~/utils/objectValue";
  export default {
    name: "inventory-car-id",
    components: {
      Calculator,
      SliderArrow,
      SolidButton,
      InteriorViewer,
      ExteriorViewer,
      VueSlickCarousel
    },
    middleware: ['get_car'],
    layout: 'inventory',
    data() {
      return {
        slide_view: '360',
        current_image_slide: null,
        zoom: false,
        copied_link: false,
      }
    },
    mixins: [number_formatter],
    computed: {
      cop() {
        return this.copied_link
      },
      is_mobile() {
        return process.client && window.innerWidth > 1100
      },
      tooltip_text() {
        return {before: 'Share a car', after: 'The link copied'}
      },
      ...mapFields('car', [
        'car',
        'car.name',
        'car.three_sixty_interier',
        'car.three_sixty',
        'car.slider_image',
        'car.price',
        'car.body',
        'car.transmission',
        'car.year',
        'car.kilometers',
        'car.details',
        'car.description',
      ]),
      viewers() {
        return this.rand_viewers(2, 10)
      }
    },
    methods: {
      next_slide() {
        this.$refs.carusel.next()
      },
      zoom_image(e) {
        if(this.zoom) {
          const slide_width = this.$refs.slide_image.offsetWidth / 2;
          const slide_height = this.$refs.slide_image.offsetHeight / 2;
          const image = this.$refs.zoomed_image;

          image.style.transform = `scale(2) translate(${(e.offsetX - slide_height) / 5}px,
          ${(e.offsetY - slide_width) / 5}px)`
        }
      },
      stop_zoom() {
        const image = this.$refs.zoomed_image;
        image.style.transform = `scale(1) translate(0, 0)`
      },
      apply_car() {
        this.$store.dispatch('quiz/add_car', this.car)
        this.$router.push('/request-car')
      },
      share_car() {
        this.$copyText(window.location.href)
        this.copied_link = true;
        setTimeout(() => this.copied_link = false, 2000)
      },
      change_slide_view(name) {
        this.slide_view = name
        this.current_image_slide = null
      },
      change_slide(src) {
        this.slide_view = null
        this.current_image_slide = src
      },
      rand_viewers(min, max) {
        let rand = min - 0.5 + Math.random() * (max - min + 1);
        return Math.round(rand);
      },
      // is_mobill
      ...mapActions('overlay', [
        'setContactForm',
      ]),
      ...mapMutations('car', [
        'clean'
      ])
    },
    head() {
      const title = objectValue(this, 'name');
      const og_image = objectValue(this, 'slider_image[0].path');
      return {
        title,
        meta: [
          {hid: 'description', name: 'description', content: 'xxx'},
          {hid: 'og:image', name: 'og:image', content: this.slider_image[0].path},
        ],
      };
    },
    async created() {
      this.slide_view = (!!this.three_sixty && this.three_sixty.length >= 16) ? '360' : null
      this.current_image_slide = (!!this.three_sixty && this.three_sixty.length >= 16) ? null : this.slider_image[0].path
      if(process.client) {
        const is_passed = await this.$store.dispatch('inventory/check_ip');
        if(!is_passed) await this.$router.push('/')
      }
    },
    destroyed() {
      // this.clean()
    }
  }
</script>

<style lang="scss">
.v-car-page {
  &__main {
    padding-top: rem(40);
    margin: 0 auto;
    width: 100%;
    @include for-width(+tablet) {
      max-width: rem(722);
    }
    @include for-width(+desktop) {
      display: grid;
      max-width: rem(1100);
      grid-template-areas:
      'header header'
      'image content';
      max-width: rem(1200);
      grid-template-columns: rem(650) 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 20px;
      grid-column-gap: 50px;
      grid-row-gap: 20px;
    }
    @include for-width(+desktop-lg) {
      display: grid;
    }
  }
  &__title {
    @extend %h2-title;
    color: $content;
  }
  &__viewer {
    @extend %text-placeholder;
    color: $content;
  }
  &__image-wrapper {
    width: inherit;
  }
  .zoom {
    /*position: absolute;*/
    /*bottom: rem(20);*/
    /*left: rem(20);*/
  }
  &__interactive-btns {
    display: flex;
  }
  &__wrap {
    &_top {
      grid-area: header;
      width: 100%;
      @include for-width(-desktop) {
        max-width: rem(600);
        margin: 0 auto;
        padding: 0 20px;
      }
    }
    &_left {
      grid-area: image;
      @include for-width(+desktop) {
        max-width: rem(600);
      }
      @include for-width(+desktop-lg) {
        max-width: rem(650);
      }
    }
    &_right {
      grid-area: content;
      width: 100%;
      @media (max-width: rem(360)) {

      }
      @include for-width(-desktop) {
        max-width: rem(600);
        margin: 0 auto;
      }
      @include for-width(-tablet) {
        padding: 0 rem(20);
      }
    }
  }
  &__interactive {
    position: relative;
    width: inherit;
    height: inherit;
    &-btns {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      left: 0;
      bottom: rem(10);
      padding: 0 rem(10);
      @include for-width(+tablet) {
        bottom: rem(20);
        padding: 0 rem(20);
      }
    }
  }
  &__slide {
    position: relative;
    overflow: hidden;
    /*width: rem(320);*/
    height: rem(180);
    img {
      object-fit: cover;
      pointer-events: none;
      width: 100%;
    }
    @include for-width(+tablet) {
      width: 100%;
      height: rem(180);
    }
    @include for-width(+desktop) {
      width: rem(600);
      height: rem(366);
    }
    @include for-width(+desktop-lg) {
      width: rem(650);
      height: rem(366);
    }
  }
  &__slider-wrapper {
    position: sticky;
    /*width: rem(320);*/
    margin: 20px auto 20px;
    @media (max-width: rem(450)) {
      position: relative;
      width: 100%;
      padding: 0 rem(20);
    }
    @include for-width(+tablet) {
      width: rem(600);
    }
    @include for-width(+desktop) {
      width: rem(600);
      top: rem(100);
      margin-top: 0;
    }
    @include for-width(+desktop-lg) {
      width: rem(650);
    }
  }
  .slick-slider {
    margin-top: 20px;
    overflow: hidden;
    @include for-width(-tablet){
      height: rem(53);
    }
  }
  &__slider {
    &-item {
      position: relative;
      overflow: hidden;
      width: rem(92) !important;
      height: rem(49);
      border-radius: 2px;

      border: 2px solid transparent;
      transition: all .3s ease;
      cursor: pointer;
      margin-right: rem(5);
      @include for-width(+tablet) {
        width: rem(167) !important;
        height: rem(90);
        margin-right: rem(10);
      }
      &_three-sixty {
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @extend %text-semibold;
          color: $white;
          z-index: 5;
        }
      }
      &:hover {
        border-color: $accent;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: inherit;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__arr-prev {
    left: 2px;
  }
  &__arr-next {
    right: 0;
    @include for-width(-tablet) {
      right: 0;
      svg {
        width: rem(7);
        height: rem(14);
      }
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: rem(40);
    border-bottom: 1px solid $gray;
    margin-bottom: rem(60);
    &-wrap {
      &_right {
        margin-top: rem(81);
        @include for-width(-tablet) {
          margin-top: rem(70);
        }
      }
    }
  }
  &__details {
    border-bottom: 1px solid $gray;
    margin-bottom: rem(60);
    padding-bottom: rem(60);
  }
  &__detail-item {
    @extend %text-semibold;
    color: $content;
    @include for-width(-tablet) {
      margin-bottom: rem(20);
    }
  }
  &__label {
    @extend %text-placeholder;
    color: $content;
  }
  &__info-item {
    margin-bottom: rem(20);
  }
  &__price {
    @extend %h4-title;
    color: $accent;
  }
  &__item-text {
    @extend %h4-title;
    color: $content;
  }
  &__subtitle {
    @extend %text-placeholder;
    color: $content;
    margin-bottom: rem(20);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: rem(20);
    @include for-width(-tablet) {
      display: block;
    }
  }
  &__description {
    @extend %text-regular-16;
    color: $content;
  }
  &__arr-prev,
  &__arr-next {
    position: absolute;
    top: 50%;
    transform: translateY(-57%);
    z-index: 10;
    @include for-width(-tablet) {
      top: 0;
      width: rem(35);
      height: rem(35);
      transform: translateY(0);
      svg {
        width: rem(7);
        height: rem(14);
      }
    }
  }
  &__calculator {
    .b-calculator__title {
      padding: 0;
    }
    .b-calculator__a {
      max-width: rem(650);
    }
    .b-calculator__b {
      @include for-width(+desktop) {
        flex: 0 0 rem(511);
      }
    }
  }
  &_more-info {
    width: rem(280);
    margin-top: rem(40);
  }
  &__section {
    margin-top: rem(120);
  }
}
</style>
